{
.appVersion = "3212";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
classes = (
{
code = "year-ar endofayah-ar number-ar footnotemarker-ar pagenumber-ar samvat-ar";
name = ccmp;
},
{
code = "zero-ar
one-ar
two-ar
three-ar
four-ar
five-ar
six-ar
seven-ar
eight-ar
nine-ar
# Persian
zeroFarsi-ar
twoFarsi-ar
fourFarsi-ar
fiveFarsi-ar
sixFarsi-ar
sevenFarsi-ar
# sindi/urdu
fourFarsi-ar.locl
sevenFarsi-ar.locl
# Latin
zero
one
two
three
four
five
six
seven
eight
nine
";
name = digits;
},
{
code = "zero-ar.mark
one-ar.mark
two-ar.mark
three-ar.mark
four-ar.mark
five-ar.mark
six-ar.mark
seven-ar.mark
eight-ar.mark
nine-ar.mark
#
zero-ar.mark
two-ar.mark
fourFarsi-ar.mark
fiveFarsi-ar.mark
sixFarsi-ar.mark
seven-ar.mark
#
fourFarsi-ar.mark.locl
sevenFarsi-ar.mark.locl
# Latin
zero.mark
one.mark
two.mark
three.mark
four.mark
five.mark
six.mark
seven.mark
eight.mark
nine.mark
";
name = digits.mark;
},
{
code = "zero-ar.small
one-ar.small
two-ar.small
three-ar.small
four-ar.small
five-ar.small
six-ar.small
seven-ar.small
eight-ar.small
nine-ar.small
#
zero-ar.small
two-ar.small
fourFarsi-ar.small
fiveFarsi-ar.small
sixFarsi-ar.small
seven-ar.small
#
fourFarsi-ar.small.locl
sevenFarsi-ar.small.locl
# Latin
zero.small
one.small
two.small
three.small
four.small
five.small
six.small
seven.small
eight.small
nine.small
";
name = digits.small;
},
{
code = "zero-ar.medium
one-ar.medium
two-ar.medium
three-ar.medium
four-ar.medium
five-ar.medium
six-ar.medium
seven-ar.medium
eight-ar.medium
nine-ar.medium
#
zero-ar.medium
two-ar.medium
fourFarsi-ar.medium
fiveFarsi-ar.medium
sixFarsi-ar.medium
seven-ar.medium
#
fourFarsi-ar.medium.locl
sevenFarsi-ar.medium.locl
# Latin
zero.medium
one.medium
two.medium
three.medium
four.medium
five.medium
six.medium
seven.medium
eight.medium
nine.medium
";
name = digits.medium;
},
{
code = "alef-ar.fina
alef-ar.short.fina
lam-ar.init
";
name = rlig;
},
{
code = "alef-ar.fina.rlig
alef-ar.fina.rlig
lam-ar.init.rlig
";
name = rlig2;
},
{
code = "alef-ar.fina
alef-ar.short.fina
lam-ar.medi
";
name = rlig3;
},
{
code = "alef-ar.fina.rlig.2
alef-ar.fina.rlig.2
lam-ar.medi.rlig
";
name = rlig4;
},
{
code = "fathatan-ar
shadda-ar
hamzaabove-ar
dammatan-ar
kasratan-ar
hamzabelow-ar
fatha-ar
damma-ar
kasra-ar
alefabove-ar
sukun-ar
";
name = abovemarks;
},
{
code = "toneonedotabove-ar
tonetwodotsabove-ar
toneloopabove-ar
toneonedotbelow-ar
tonetwodotsbelow-ar
toneloopbelow-ar
";
name = tonemarks;
},
{
code = "twodotshorizontalabove-ar
twodotshorizontalabove_tahabove-ar
threedotsupabove-ar
threedotsdownabove-ar
fourdotsabove-ar
#vabove-ar
#vinvertedabove-ar
twoabove-ar
threeabove-ar
tahabove-ar
twodotshorizontalbelow-ar
threedotshorizontalbelow-ar
threedotsupbelow-ar
threedotsdownbelow-ar
fourdotsbelow-ar
#vbelow-ar
#vinvertedbelow-ar
fourbelow-ar
tahbelow-ar
tehabove-ar
";
name = widemarks;
},
{
code = "dotcenter-ar
twodotshorizontalcenter-ar
twodotshorizontalcenter_tahabove-ar
twodotsverticalcenter-ar
threedotsupcenter-ar
threedotsdowncenter-ar
fourdotscenter-ar
fourcenter-ar
tahcenter-ar
dotcenter_threedotsdownbelow-ar
vinvertedcenter-ar
";
name = dotcenter;
},
{
code = "dotbelow-ar
twodotshorizontalbelow-ar
twodotshorizontalbelow_tahabove-ar
twodotsverticalbelow-ar
threedotsupbelow-ar
threedotsdownbelow-ar
fourdotsbelow-ar
fourbelow-ar
tahbelow-ar
dotbelow_threedotsdownbelow-ar
vinvertedbelow-ar
";
name = dotcenter.below;
},
{
code = "twodotshorizontalabove-ar.diagonal
threedotsupabove-ar.diagonal";
name = dotdiagonal;
},
{
code = "twodotshorizontalabove-ar.small
threedotsupabove-ar.small
";
name = dotdiagonal.small;
},
{
code = "year-ar
samvat-ar
";
name = substending.4;
},
{
code = "@substending.4
number-ar
pagenumber-ar
";
name = substending.3;
},
{
code = "@substending.3
footnotemarker-ar
";
name = substending.2;
},
{
code = "@substending.2
";
name = substending.1;
}
);
customParameters = (
{
name = glyphOrder;
value = (
.notdef,
.null,
CR,
space
);
},
{
name = fsType;
value = (
);
},
{
name = "Enforce Compatibility Check";
value = 1;
},
{
name = "Use Typo Metrics";
value = 1;
},
{
name = "Propagate Anchors";
value = 0;
},
{
name = "Use Line Breaks";
value = 1;
},
{
name = "Write lastChange";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
}
);
date = "2021-06-02 21:08:18 +0000";
familyName = "Noto Naskh Arabic";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem arab dflt;
languagesystem arab SND;
languagesystem arab URD;
languagesystem arab KSH;
languagesystem arab FAR;

languagesystem latn dflt;
";
name = Languagesystems;
},
{
code = "
lookup lam_alef_isol {
# GSUB lookup 9, type 11 (Single)
  sub @rlig by @rlig2;
} lam_alef_isol;

lookup lam_alef_fina {
# GSUB lookup 10, type 11 (Single)
  sub @rlig3 by @rlig4;
} lam_alef_fina;

lookup dotcenter_below {
  sub @dotcenter by @dotcenter.below;
} dotcenter_below;
";
name = Prefix;
},
{
code = "lookup markligatures {
  # This needs to be contextualised on not having tone marks following
  sub fathatan-ar shadda-ar by shadda_fathatan-ar;
  sub fathatan-ar hamzaabove-ar by hamzaabove_fathatan-ar;
  sub dammatan-ar shadda-ar by shadda_dammatan-ar;
  sub dammatan-ar hamzaabove-ar by hamzaabove_dammatan-ar;
  sub kasratan-ar shadda-ar by shadda_kasratan-ar;
  sub kasratan-ar hamzabelow-ar by hamzabelow_kasratan-ar;
  sub fatha-ar shadda-ar by shadda_fatha-ar;
  sub fatha-ar hamzaabove-ar by hamzaabove_fatha-ar;
  sub damma-ar shadda-ar by shadda_damma-ar;
  sub damma-ar hamzaabove-ar by hamzaabove_damma-ar;
  sub kasra-ar shadda-ar by shadda_kasra-ar;
  sub kasra-ar hamzabelow-ar by hamzabelow_kasra-ar;
  sub shadda-ar fathatan-ar by shadda_fathatan-ar;
  sub shadda-ar dammatan-ar by shadda_dammatan-ar;
  sub shadda-ar kasratan-ar by shadda_kasratan-ar;
  sub shadda-ar fatha-ar by shadda_fatha-ar;
  sub shadda-ar damma-ar by shadda_damma-ar;
  sub shadda-ar kasra-ar by shadda_kasra-ar;
  sub shadda-ar alefabove-ar by shadda_alefabove-ar;
  sub hamzaabove-ar fathatan-ar by hamzaabove_fathatan-ar;
  sub hamzaabove-ar dammatan-ar by hamzaabove_dammatan-ar;
  sub hamzaabove-ar fatha-ar by hamzaabove_fatha-ar;
  sub hamzaabove-ar damma-ar by hamzaabove_damma-ar;
  sub hamzaabove-ar sukun-ar by hamzaabove_sukun-ar;
  sub hamzabelow-ar kasratan-ar by hamzabelow_kasratan-ar;
  sub hamzabelow-ar kasra-ar by hamzabelow_kasra-ar;
  sub sukun-ar hamzaabove-ar by hamzaabove_sukun-ar;
  sub alefabove-ar shadda-ar by shadda_alefabove-ar;

} markligatures;
";
name = MarkLigatures;
},
{
code = "lookup mark_digits {
	sub @digits by @digits.mark;
} mark_digits;

lookup medium_digits {
	sub @digits by @digits.medium;
} medium_digits;

lookup small_digits {
	sub @digits by @digits.small;
} small_digits;

lookup subtending_2 {
	sub samvat-ar				by samvat-ar.2;
	sub year-ar					by year-ar.2;
	sub pagenumber-ar			by pagenumber-ar.2;
	sub endofayah-ar			by endofayah-ar.2;
	sub disputedendofayah-ar	by disputedendofayah-ar.2;
	sub footnotemarker-ar		by footnotemarker-ar.2;
	sub number-ar				by number-ar.2;
	sub pound-ar				by pound-ar.2;
	sub piastre-ar				by piastre-ar.2;
} subtending_2;

lookup subtending_3 {
	sub samvat-ar				by samvat-ar.3;
	sub year-ar					by year-ar.3;
	sub pagenumber-ar			by pagenumber-ar.3;
	sub endofayah-ar			by endofayah-ar.3;
	sub disputedendofayah-ar	by disputedendofayah-ar.3;
	sub number-ar				by number-ar.3;
	sub pound-ar				by pound-ar.3;
	sub piastre-ar				by piastre-ar.3;
} subtending_3;

lookup subtending_4 {
	sub samvat-ar				by samvat-ar.4;
	sub year-ar					by year-ar.4;
} subtending_4;
";
name = Substending;
}
);
features = (
{
automatic = 1;
code = "feature init;
feature medi;
feature fina;
feature locl;
feature tnum;
";
tag = aalt;
},
{
code = "
lookup liaadama { # See issue #26
  lookupflag UseMarkFilteringSet [hamzaabove-ar];
  sub lam-ar kashida-ar' hamzaabove-ar' alef-ar by hamzaabove-ar.between;
} liaadama;

lookup abovemarkligatures {
  lookupflag UseMarkFilteringSet [@abovemarks @tonemarks];
  ignore sub @abovemarks' @abovemarks' @tonemarks;
  sub @abovemarks' lookup markligatures @abovemarks';
} abovemarkligatures;

lookup decomposition {
  # Alef family
  sub alefHamzaabove-ar by alef-ar hamzaabove-ar;
  sub alefHamzabelow-ar by alef-ar hamzabelow-ar;
  sub alefMadda-ar by alef-ar madda-ar;
  sub alefWavyhamzaabove-ar by alef-ar wavyhamzaabove-ar;
  sub alefWavyhamzabelow-ar by alef-ar wavyhamzabelow-ar;
  sub alefWasla-ar by alef-ar wasla-ar;
  sub alefTwoabove-ar by alef-ar.short twoabove-ar;
  sub alefThreeabove-ar by alef-ar.short threeabove-ar;
  sub alefFatha-ar by alef-ar fathaattached-ar;
  sub alefRightFatha-ar by alef-ar fathaattachedright-ar;
  sub alefRightMiddleStroke-ar by alef-ar strokeright-ar;
  sub alefLeftMiddleStroke-ar by alef-ar strokeleft-ar;
  sub alefKasra-ar by alef-ar kasraattached-ar;
  sub alefRightKasra-ar by alef-ar kasraattachedright-ar;
  sub alefRoundDotAbove-ar by alef-ar rounddotattachedabove-ar;
  sub alefRightRoundDot-ar by alef-ar rounddotattachedright-ar;
  sub alefLeftRoundDot-ar by alef-ar rounddotattachedleft-ar;
  sub alefRoundDotBelow-ar by alef-ar rounddotattachedbelow-ar;
  sub alefDotAbove-ar by alef-ar dotabove-ar;
  sub alefRightFathaDotAbove-ar by alef-ar fathaattachedright-ar dotabove-ar;
  sub alefRightMiddleStrokeDotAbove-ar by alef-ar strokeright-ar dotabove-ar;
  sub alefRightKasraDotAbove-ar by alef-ar kasraattachedright-ar dotabove-ar;
  sub alefRightFathaLeftRing-ar by alef-ar fathaattachedright-ar ringattachedleft-ar;
  sub alefRightMiddleStrokeLeftRing-ar by alef-ar strokeright-ar ringattachedleft-ar;
  sub alefRightKasraLeftRing-ar by alef-ar kasraattachedright-ar ringattachedleft-ar;
  sub alefRightHamza-ar by alef-ar hamzaattachedright-ar;
  sub alefLeftHamza-ar by alef-ar hamzaattachedleft-ar;

  # Beh family
  sub beh-ar by behDotless-ar dotbelow-ar;
  sub teh-ar by behDotless-ar twodotshorizontalabove-ar;
  sub tehVabove-ar by behDotless-ar twodotshorizontalabove-ar vabove-ar;
  sub theh-ar by behDotless-ar threedotsupabove-ar;
  sub peh-ar by behDotless-ar threedotsdownbelow-ar;
  sub pehVabove-ar by behDotless-ar vabove-ar threedotsdownbelow-ar;
  sub beeh-ar by behDotless-ar twodotsverticalbelow-ar;
  sub beheh-ar by behDotless-ar fourdotsbelow-ar;
  sub tehThreedotsdown-ar by behDotless-ar threedotsdownabove-ar;
  sub tteh-ar by behDotless-ar tahabove-ar;
  sub ttehVabove-ar by behDotless-ar tahabove-ar vabove-ar;
  sub tteheh-ar by behDotless-ar twodotsverticalabove-ar;
  sub teheh-ar by behDotless-ar fourdotsabove-ar;
  sub behThreedotshorizontalbelow-ar by behDotless-ar threedotshorizontalbelow-ar;
  sub behThreedotsupabove-ar by behDotless-ar threedotsupabove-ar dotbelow-ar;
  sub behThreedotsupbelow-ar by behDotless-ar threedotsupbelow-ar;
  sub tehThreedotsupbelow-ar by behDotless-ar twodotshorizontalabove-ar threedotsupbelow-ar;
  sub behTwodotsbelowDotabove-ar by behDotless-ar dotabove-ar twodotshorizontalbelow-ar;
  sub behVinvertedbelow-ar by behDotless-ar vinvertedbelow-ar;
  sub behVabove-ar by behDotless-ar vabove-ar;
  sub behVbelow-ar by behDotless-ar vbelow-ar;
  sub behhamzaabove-ar by behDotless-ar hamzaabove-ar dotbelow-ar;
  sub behMeemabove-ar by behDotless-ar dotbelow-ar meemabove-ar;
  sub pehMeemabove-ar by behDotless-ar threedotsdownbelow-ar meemabove-ar;
  sub tehTehabove-ar by behDotless-ar tehabove-ar;
  sub tehRing-ar by behDotless-ar twodotshorizontalabove-ar ringbelow-ar;

  # Jeem family
  sub jeem-ar by hah-ar dotcenter-ar;
  sub khah-ar by hah-ar dotabove-ar;
  sub tcheh-ar by hah-ar threedotsdowncenter-ar;
  sub hahThreedotsabove-ar by hah-ar threedotsupabove-ar;
  sub hahHamzaabove-ar by hah-ar hamzaabove-ar;
  sub hahTwodotsverticalabove-ar by hah-ar twodotsverticalabove-ar;
  sub hahTwodotshorizontalabove-ar by hah-ar twodotshorizontalabove-ar;
  sub hahTahabove-ar by hah-ar tahabove-ar;
  sub tcheheh-ar by hah-ar fourdotscenter-ar;
  sub nyeh-ar by hah-ar twodotshorizontalcenter-ar;
  sub dyeh-ar by hah-ar twodotsverticalcenter-ar;
  sub hahThreedotsupbelow-ar by hah-ar threedotsupcenter-ar;
  sub hahTahbelow-ar by hah-ar tahcenter-ar;
  sub hahTahTwodotshorizontalbelow-ar by hah-ar twodotshorizontalcenter_tahabove-ar;
  sub hahFourbelow-ar by hah-ar fourcenter-ar;
  sub jeemTwodotsabove-ar by hah-ar dotcenter-ar twodotshorizontalabove-ar;
  sub jeemThreedotsabove-ar by hah-ar dotcenter-ar threedotsupabove-ar;
  sub tchehDotabove-ar by hah-ar threedotsdowncenter-ar dotabove-ar;
  sub tchehVabove-ar by hah-ar threedotsdowncenter-ar vabove-ar;
  sub jeemThreedotsbelow-ar by hah-ar dotcenter_threedotsdownbelow-ar;
  sub hahVinvertedbelow-ar by hah-ar vinvertedcenter-ar;

  # Dal family
  sub thal-ar by dal-ar dotabove-ar;
  sub ddal-ar by dal-ar tahabove-ar;
  sub dahal-ar by dal-ar twodotshorizontalabove-ar;
  sub ddahal-ar by dal-ar twodotshorizontalbelow-ar;
  sub dul-ar by dal-ar threedotsupabove-ar;
  sub dalRing-ar by dal-ar ringbelow-ar;
  sub dalDotbelow-ar by dal-ar dotbelow-ar;
  sub dalDotbelowTah-ar by dal-ar tahabove-ar dotbelow-ar;
  sub dalThreedotsdown-ar by dal-ar threedotsdownabove-ar;
  sub dalFourdots-ar by dal-ar fourdotsabove-ar;
  sub dalVinvertedabove-ar by dal-ar vinvertedabove-ar;
  sub dalTwodotsverticalbelowTah-ar by dal-ar tahabove-ar twodotsverticalbelow-ar;
  sub dalVinvertedbelow-ar by dal-ar vinvertedbelow-ar;
  sub dalThreedotsbelow-ar by dal-ar threedotsdownbelow-ar;

  # Reh family
  sub zain-ar by reh-ar dotabove-ar;
  sub jeh-ar by reh-ar threedotsupabove-ar;
  sub rreh-ar by reh-ar tahabove-ar;
  sub rehv-ar by reh-ar vabove-ar;
  sub rehRing-ar by reh-ar ringbelow-ar;
  sub rehDotbelow-ar by reh-ar dotbelow-ar;
  sub rehVbelow-ar by reh-ar vbelow-ar;
  sub rehDotbelowdotabove-ar by reh-ar dotcenter-ar dotbelow-ar;
  sub rehTwodots-ar by reh-ar twodotshorizontalabove-ar;
  sub rehFourdots-ar by reh-ar fourdotsabove-ar;
  sub rehVinvertedabove-ar by reh-ar vinvertedabove-ar;
  sub rehStroke-ar by reh-ar bar-ar.wide;
  sub rehTwodotsverticalabove-ar by reh-ar twodotsverticalabove-ar;
  sub rehHamzaabove-ar by reh-ar hamzaabove-ar;
  sub rehTwodotshorizontalaboveTahabove-ar by reh-ar twodotshorizontalabove_tahabove-ar;
  sub zainVinvertedabove-ar by reh-ar dotabove_vinvertedabove-ar;
  sub rehNoonabove-ar by reh-ar noonabove-ar;

  # Seen family
  sub sheen-ar by seen-ar threedotsupabove-ar;
  sub seenDotbelowDotabove-ar by seen-ar dotabove-ar dotbelow-ar;
  sub sheenDotbelow-ar by seen-ar threedotsupabove-ar dotbelow-ar;
  sub sheenThreedotsbelow-ar by seen-ar threedotsupabove-ar threedotsdownbelow-ar;
  sub seenFourdotsabove-ar by seen-ar fourdotsabove-ar;
  sub seenTwodotsverticalabove-ar by seen-ar twodotsverticalabove-ar;
  sub seenTahTwodotshorizontalabove-ar by seen-ar twodotshorizontalabove_tahabove-ar;
  sub seenFourabove-ar by seen-ar fourabove-ar;
  sub seenVinvertedabove-ar by seen-ar vinvertedabove-ar;
  sub seenThreedotsbelow-ar by seen-ar threedotsdownbelow-ar;

  # Sad family
  sub dad-ar by sad-ar dotabove-ar;
  sub dadDotbelow-ar by sad-ar dotabove-ar dotbelow-ar;
  sub sadThreedots-ar by sad-ar threedotsupabove-ar;
  sub sadTwodotsbelow-ar by sad-ar twodotshorizontalbelow-ar;
  sub sadThreedotsbelow-ar by sad-ar threedotsdownbelow-ar;

  # Tah family
  sub zah-ar by tah-ar dotabove-ar;
  sub tahThreedots-ar by tah-ar threedotsupabove-ar;
  sub tahTwodotsabove-ar by tah-ar twodotshorizontalabove-ar;
  sub tahDotbelow-ar by tah-ar dotbelow-ar;
  sub tahThreedotsbelow-ar by tah-ar threedotsdownbelow-ar;

  # Ain family
  sub ghain-ar by ain-ar dotabove-ar;
  sub ghainDotbelow-ar by ain-ar dotabove-ar dotcenter-ar;
  sub ainThreedotsbelow-ar by ain-ar threedotsdowncenter-ar;
  sub ainThreedots-ar by ain-ar threedotsupabove-ar;
  sub ainTwodotshorizontalabove-ar by ain-ar twodotshorizontalabove-ar;
  sub ainThreedotsdownabove-ar by ain-ar threedotsdownabove-ar;
  sub ainTwodotsverticalabove-ar by ain-ar twodotsverticalabove-ar;
  sub ghainThreedotsabove-ar by ain-ar dotabove_threedotsupabove-ar;

  # Qaf/Fe family
  sub feh-ar by fehDotless-ar dotabove-ar;
  sub veh-ar by fehDotless-ar threedotsupabove-ar;
  sub fehDotmovedbelow-ar by fehDotless-ar dotbelow-ar;
  sub fehDotbelow-ar by fehDotless-ar dotabove-ar dotbelow-ar;
  sub fehThreedotsbelow-ar by fehDotless-ar threedotsdownbelow-ar;
  sub peheh-ar by fehDotless-ar fourdotsabove-ar;
  sub fehTwodotsbelow-ar by fehDotless-ar twodotshorizontalbelow-ar;
  sub fehThreedotsupbelow-ar by fehDotless-ar threedotsupbelow-ar;
  sub fehDotbelowThreedotsabove-ar by fehDotless-ar threedotsupabove-ar dotbelow-ar;

  sub qaf-ar by qafDotless-ar twodotshorizontalabove-ar;
  sub qafDotabove-ar by qafDotless-ar dotabove-ar;
  sub qafThreedotsabove-ar by qafDotless-ar threedotsupabove-ar;
  sub qafDotbelow-ar by qafDotless-ar twodotshorizontalabove-ar dotbelow-ar;
  sub qafDotbelowNoDotAbove-ar by qafDotless-ar dotbelow-ar;

  # Kaf family
  sub kafThreedotsbelow-ar by kaf-ar threedotsdownbelow-ar;
  sub ng-ar by kaf-ar threedotsupabove-ar.diagonal;
  sub kafDotabove-ar by kaf-ar dotabove-ar;
  sub kafTwodotshorizontalabove-ar by kaf-ar twodotshorizontalabove-ar.diagonal;
  sub kafDotbelow-ar by kaf-ar dotbelow-ar;
  sub kafRing-ar by keheh-ar ringcenter-ar;
  sub kehehDotabove-ar by keheh-ar dotabove-ar.small;
  sub kehehTwodotshorizontalabove-ar by keheh-ar twodotshorizontalabove-ar.diagonal;
  sub kehehThreedotsabove-ar by keheh-ar threedotsupabove-ar.diagonal;
  sub kehehThreedotsupbelow-ar by keheh-ar threedotsupbelow-ar;
  sub kehehThreedotsbelow-ar by keheh-ar threedotsdownbelow-ar;
  sub kehehVabove-ar by keheh-ar vabove-ar;
  sub kehehTwodotsverticalbelow-ar by keheh-ar twodotsverticalbelow-ar;
  sub gafRing-ar by gaf-ar ringcenter-ar;
  sub gafThreedots-ar by gaf-ar threedotsupabove-ar.diagonal;
  sub gafTwodotsbelow-ar by gaf-ar twodotshorizontalbelow-ar;
  sub ngoeh-ar by gaf-ar twodotshorizontalabove-ar.diagonal;
  sub gueh-ar by gaf-ar twodotsverticalbelow-ar;
  sub gafInvertedstroke-ar by keheh-ar gafsarkashcenter-ar;
  sub graf-ar by keheh-ar grafsarkashabove-ar;

  # Lam family
  sub lamDotabove-ar by lam-ar dotabove-ar;
  sub lamThreedotsabove-ar by lam-ar threedotsupabove-ar;
  sub lamThreedotsbelow-ar by lam-ar threedotsdownbelow-ar;
  sub lamVabove-ar by lam-ar vabove-ar;
  sub lamBar-ar by lam-ar bar-ar;
  sub lamDoublebar-ar by lam-ar doubleBar-ar;
  sub lamTahabove-ar by lam-ar tahabove-ar;

  # Meem family
  sub meemDotabove-ar by meem-ar dotabove-ar;
  sub meemDotbelow-ar by meem-ar dotbelow-ar;
  sub meemThreedotsabove-ar by meem-ar threedotsupabove-ar;

  # Noon family
  sub noon-ar by noonghunna-ar dotabove-ar;
  sub noonDotbelow-ar by noonghunna-ar dotabove-ar dotbelow-ar;
  sub rnoon-ar by noonghunna-ar tahabove-ar;
  sub noonRing-ar by noonghunna-ar dotabove-ar ringbelow-ar;
  sub noonTwodotsbelow-ar by noonghunna-ar dotabove-ar twodotshorizontalbelow-ar;
  sub noonTahabove-ar by noonghunna-ar dotabove_tahabove-ar;
  sub noonVabove-ar by noonghunna-ar dotabove_vabove-ar;
  sub noonVinvertedabove-ar by noonghunna-ar vinvertedabove-ar;

  # Heh family
  sub tehMarbuta-ar by ae-ar twodotshorizontalabove-ar;
  sub hehHamzaabove-ar by ae-ar hamzaabove-ar.twentypercent;
  sub hehgoalHamzaabove-ar by hehgoal-ar hamzaabove-ar.twentypercent;
  sub tehMarbutagoal-ar by hehgoal-ar twodotshorizontalabove-ar;
  sub hehVinvertedabove-ar by hehDoachashmee-ar vinvertedabove-ar;

  # Waw family
  sub wawHamzaabove-ar by waw-ar hamzaabove-ar;
  sub wawring-ar by waw-ar ringcenter-ar;
  sub wawTwodots-ar by waw-ar twodotshorizontalabove-ar;
  sub wawDotabove-ar by waw-ar dotabove-ar;
 #sub kirghizoe-ar by waw-ar bar-ar.wide;
  sub oe-ar by waw-ar vabove-ar;
  sub u-ar by waw-ar commaabove-ar;
  sub yu-ar by waw-ar alefabove-ar;
  sub kirghizyu-ar by waw-ar vinvertedabove-ar;
  sub ve-ar by waw-ar threedotsupabove-ar;
  sub wawTwoabove-ar by waw-ar twoabove-ar;
  sub wawThreeabove-ar by waw-ar threeabove-ar;
 #sub wawDotcenter-ar by waw-ar dotcenter-ar;

  # Yeh family
  sub yeh-ar by alefMaksura-ar twodotshorizontalbelow-ar;
  sub yehHamzaabove-ar by alefMaksura-ar hamzaabove-ar;
  sub yehKashmiri-ar by alefMaksura-ar ring-ar;
  sub yehVabove-ar by yehFarsi-ar vabove-ar;
  sub yehVinvertedFarsi-ar by yehFarsi-ar vinvertedabove-ar;
  sub yehTwodotsaboveFarsi-ar by yehFarsi-ar twodotshorizontalabove-ar;
  sub yehThreedotsaboveFarsi-ar by yehFarsi-ar threedotsupabove-ar;
  sub yehTwoaboveFarsi-ar by yehFarsi-ar twoabove-ar;
  sub yehThreeaboveFarsi-ar by yehFarsi-ar threeabove-ar;
  sub yehFourbelowFarsi-ar by alefMaksura-ar fourbelow-ar;
  sub e-ar by alefMaksura-ar twodotsverticalbelow-ar;
  sub yehThreedotsbelow-ar by alefMaksura-ar threedotsdownbelow-ar;
  sub yehTwodotsbelowHamzaabove-ar by alefMaksura-ar twodotshorizontalbelow-ar hamzaabove-ar;
  sub yehTwodotsbelowDotabove-ar by alefMaksura-ar twodotshorizontalbelow-ar dotabove-ar;
  sub yehTail-ar by alefMaksura-ar tail-ar;
  sub yehTwodotsbelowNoonabove-ar by alefMaksura-ar twodotshorizontalbelow-ar noonabove-ar;
  sub yehthin-ar.init by behDotless-ar.init.thin twodotshorizontalbelow-ar.small;

  # Bari Ye family
  sub yehbarreeHamzaabove-ar by yehbarree-ar hamzaabove-ar;
  sub yehbarreeThreeabove-ar by yehbarree-ar threeabove-ar;
  sub yehbarreeTwoabove-ar by yehbarree-ar twoabove-ar;

  # High hamza
  sub highhamzaAlef-ar by highhamza-ar alef-ar;
  sub highhamzaWaw-ar by highhamza-ar waw-ar;
  sub uHamzaabove-ar by highhamza-ar u-ar;
  sub highhamzaYeh-ar by highhamza-ar alefMaksura-ar;

  sub kashidaTwodotsbelow-ar by kashida-ar twodotshorizontalbelow-ar;

} decomposition;
";
tag = ccmp;
},
{
code = "# GSUB feature: Localized Forms
# Lookups: 4

  script latn; # Latin
    sub [exclam period colon
         commareversed semicolonreversed
         guillemetleft guillemetright]
     by [exclam.locl period.locl colon.locl
         commareversed.locl semicolonreversed.locl
         guillemetleft.locl guillemetright.locl]
    ;

  script arab; # Arabic
    language SND ; # Sindhi
    sub [sixFarsi-ar sevenFarsi-ar] by [six-ar sevenFarsi-ar.locl];

    language URD ; # Urdu
    lookup locl_arabURD_arabKSH_1 {
      sub [fourFarsi-ar sixFarsi-ar sevenFarsi-ar] by [fourFarsi-ar.locl six-ar sevenFarsi-ar.locl];
    } locl_arabURD_arabKSH_1;

    language KSH ; # Kashmiri
    lookup locl_arabURD_arabKSH_1;

    language FAR ; # Farsi
    sub [decimalseparator-ar thousandseparator-ar] by [decimalseparator-ar.locl thousandseparator-ar.locl];
";
tag = locl;
},
{
automatic = 1;
code = "sub radical by radical.rtlm;
";
tag = rtlm;
},
{
code = "sub fehAfrican-ar by fehDotless-ar;
sub qafAfrican-ar by qafDotless-ar;
sub qafThreedotsaboveAfrican-ar by qafDotless-ar threedotsupabove-ar;
sub kaf-ar by kafDotless-ar miniKeheh-ar;
sub gaf-ar by keheh-ar gafsarkashabove-ar;
sub noonThreedotsabove-ar by noonghunna-ar threedotsupabove-ar;
sub noonAfrican-ar by noonghunna-ar;
sub yehFarsi-ar by alefMaksura-ar;
";
tag = isol;
},
{
code = "sub ain-ar by ain-ar.init;
sub ainThreedotsbelow-ar by ain-ar.init threedotsdownbelow-ar;
sub alefMaksura-ar by behDotless-ar.init;
sub behDotless-ar by behDotless-ar.init;
sub fehDotless-ar by fehDotless-ar.init;
sub fehAfrican-ar by fehDotless-ar.init dotbelow-ar;
sub qafDotless-ar by fehDotless-ar.init;
sub qafAfrican-ar by fehDotless-ar.init dotabove-ar;
sub qafThreedotsaboveAfrican-ar by fehDotless-ar.init dotabove_threedotsupabove-ar;
sub ghainDotbelow-ar by ghain-ar.init dotbelow-ar;
sub hah-ar by hah-ar.init;
sub heh-ar by heh-ar.init;
sub hehDoachashmee-ar by heh-ar.init;
sub hehgoal-ar by hehgoal-ar.init;
sub kaf-ar by kaf-ar.init;
sub kafswash-ar by kafswash-ar.init;
sub keheh-ar by kaf-ar.init;
sub gaf-ar by kaf-ar.init gafsarkashabove-ar;
sub lam-ar by lam-ar.init;
sub meem-ar by meem-ar.init;
sub noonghunna-ar by behDotless-ar.init;
sub noonThreedotsabove-ar by behDotless-ar.init threedotsdownbelow-ar;
sub noonAfrican-ar by behDotless-ar.init dotabove-ar;
sub sad-ar by sad-ar.init;
sub seen-ar by seen-ar.init;
sub tah-ar by tah-ar.init;
sub yehFarsi-ar by behDotless-ar.init twodotshorizontalbelow-ar;
sub yehbarree-ar by behDotless-ar.init twodotshorizontalbelow-ar;
sub kashida-ar by kashida-ar.init;

lookup dotcenter_below;
";
tag = init;
},
{
code = "sub ain-ar by ain-ar.medi;
sub ainThreedotsbelow-ar by ain-ar.medi threedotsdownbelow-ar;
sub alefMaksura-ar by behDotless-ar.medi;
sub behDotless-ar by behDotless-ar.medi;
sub fehDotless-ar by fehDotless-ar.medi;
sub fehAfrican-ar by fehDotless-ar.medi dotbelow-ar;
sub qafDotless-ar by fehDotless-ar.medi;
sub qafAfrican-ar by fehDotless-ar.medi dotabove-ar;
sub qafThreedotsaboveAfrican-ar by fehDotless-ar.medi dotabove_threedotsupabove-ar;
sub hah-ar by hah-ar.medi;
sub heh-ar by heh-ar.medi;
sub hehDoachashmee-ar by hehDoachashmee-ar.medi;
sub hehgoal-ar by hehgoal-ar.medi;
sub kaf-ar by kaf-ar.medi;
sub kafswash-ar by kafswash-ar.medi;
sub keheh-ar by kaf-ar.medi;
sub gaf-ar by kaf-ar.medi gafsarkashabove-ar.wide;
sub lam-ar by lam-ar.medi;
sub meem-ar by meem-ar.medi;
sub noonghunna-ar by behDotless-ar.medi;
sub noonThreedotsabove-ar by behDotless-ar.medi threedotsdownbelow-ar;
sub noonAfrican-ar by behDotless-ar.medi dotabove-ar;
sub sad-ar by sad-ar.medi;
sub seen-ar by seen-ar.medi;
sub tah-ar by tah-ar.medi;
sub yehFarsi-ar by behDotless-ar.medi twodotshorizontalbelow-ar;
sub behDotless-ar.init.thin by behDotless-ar.medi.thin;

lookup dotcenter_below;
";
tag = medi;
},
{
code = "sub ae-ar by heh-ar.fina;
sub ain-ar by ain-ar.fina;
sub ainThreedotsbelow-ar by ain-ar.fina threedotsdowncenter-ar;
sub alef-ar by alef-ar.fina;
sub alef-ar.short by alef-ar.short.fina;
sub behDotless-ar by behDotless-ar.fina;
sub dal-ar by dal-ar.fina;
sub fehDotless-ar by fehDotless-ar.fina;
sub fehAfrican-ar by fehDotless-ar.fina;
sub qafDotless-ar by qafDotless-ar.fina;
sub qafAfrican-ar by qafDotless-ar.fina;
sub qafThreedotsaboveAfrican-ar by qafDotless-ar.fina threedotsupabove-ar;
sub hah-ar by hah-ar.fina;
sub heh-ar by heh-ar.fina;
sub hehDoachashmee-ar by hehDoachashmee-ar.fina;
sub hehgoal-ar by hehgoal-ar.fina;
sub kaf-ar by kafDotless-ar.fina miniKeheh-ar;
sub kafswash-ar by kafswash-ar.fina;
sub keheh-ar by keheh-ar.fina;
sub gaf-ar by keheh-ar.fina gafsarkashabove-ar.wide;
sub kirghizoe-ar by kirghizoe-ar.fina;
sub lam-ar by lam-ar.fina;
sub meem-ar by meem-ar.fina;
sub noonghunna-ar by noonghunna-ar.fina;
sub noonAfrican-ar by noonghunna-ar.fina;
sub noonThreedotsabove-ar by noonghunna-ar.fina threedotsupabove-ar;
sub reh-ar by reh-ar.fina;
sub rehLoop-ar by rehLoop-ar.fina;
sub sad-ar by sad-ar.fina;
sub seen-ar by seen-ar.fina;
sub tah-ar by tah-ar.fina;
sub waw-ar by waw-ar.fina;
sub wawDotcenter-ar by wawDotcenter-ar.fina;
sub alefMaksura-ar by alefMaksura-ar.fina;
sub yehFarsi-ar by alefMaksura-ar.fina;
sub yehbarree-ar by yehbarree-ar.fina;
sub yehRohingya-ar by yehRohingya-ar.fina;
";
tag = fina;
},
{
code = "lookup wide_beh {
  lookupflag UseMarkFilteringSet @widemarks;
  sub [behDotless-ar.init behDotless-ar.medi]'
       @widemarks
   by [behDotless-ar.init.wide behDotless-ar.medi.wide]
  ;
} wide_beh;

lookup kaf_dots {
  lookupflag 0;
  sub  miniKeheh-ar
       @dotdiagonal'
   by  @dotdiagonal.small
  ;
} kaf_dots;

lookup wide_bar {
  lookupflag 0;
  sub  lam-ar
      [bar-ar doubleBar-ar]'
   by [bar-ar.wide doubleBar-ar.wide]
  ;
} wide_bar;

lookup lam_alef {
  lookupflag IgnoreMarks;
  sub  lam-ar.init' lookup lam_alef_isol
      [alef-ar.fina alef-ar.short.fina]' lookup lam_alef_isol
  ;
  sub  lam-ar.medi' lookup lam_alef_fina
      [alef-ar.fina alef-ar.short.fina]' lookup lam_alef_fina
  ;
} lam_alef;

lookup subtending_marks {
 lookupflag 0;

 sub  [piastre-ar pound-ar]' lookup subtending_3
      @digits' lookup mark_digits
      @digits' lookup mark_digits
      @digits' lookup mark_digits
 ;

 sub  [piastre-ar pound-ar]' lookup subtending_2
      @digits' lookup mark_digits
      @digits' lookup mark_digits
 ;
	     
 sub  [piastre-ar pound-ar]'
      @digits' lookup mark_digits
 ;

 sub  [endofayah-ar disputedendofayah-ar]' lookup subtending_3
      @digits' lookup small_digits
      @digits' lookup small_digits
      @digits' lookup small_digits
 ;

 sub  [endofayah-ar disputedendofayah-ar]' lookup subtending_2
      @digits' lookup small_digits
      @digits' lookup small_digits
 ;

 sub  [endofayah-ar disputedendofayah-ar]'
      @digits' lookup small_digits
 ;

 sub  @substending.4' lookup subtending_4
      @digits' lookup medium_digits
      @digits' lookup medium_digits
      @digits' lookup medium_digits
      @digits' lookup medium_digits
 ;
	     
 sub  @substending.3' lookup subtending_3
      @digits' lookup medium_digits
      @digits' lookup medium_digits
      @digits' lookup medium_digits
 ;

 sub  @substending.2' lookup subtending_2
      @digits' lookup medium_digits
      @digits' lookup medium_digits
 ;

 sub  @substending.1'
      @digits' lookup medium_digits
 ;
} subtending_marks;
";
tag = rlig;
},
{
code = "# GSUB feature: Standard Ligatures
# Lookups: 2

#  lookup liga_arab_2 {
#  # GSUB lookup 23, type 14 (Ligature)
#    lookupflag IgnoreMarks;
#    sub lam-ar.init lam-ar.medi heh-ar.fina by allah-ar.2;
#    sub lam-ar.init lam-ar.medi hehgoal-ar.fina by allah-ar.2;
#  } liga_arab_2;

  script arab; # Arabic
  sub alef-ar lam-ar.init lam-ar.medi shadda_alefabove-ar heh-ar.fina by allah-ar;
  sub alef-ar lam-ar.init lam-ar.medi shadda_alefabove-ar hehgoal-ar.fina by allah-ar;
#  lookup liga_arab_2;
    language SND ; # Sindhi
    language URD ; # Urdu
    language KSH ; # Kashmiri
    language FAR ; # Farsi
";
tag = liga;
},
{
automatic = 1;
code = "sub zero-ar by zero-ar.lf;
sub one-ar by one-ar.lf;
sub two-ar by two-ar.lf;
sub three-ar by three-ar.lf;
sub four-ar by four-ar.lf;
sub five-ar by five-ar.lf;
sub six-ar by six-ar.lf;
sub seven-ar by seven-ar.lf;
sub eight-ar by eight-ar.lf;
sub nine-ar by nine-ar.lf;
sub zeroFarsi-ar by zeroFarsi-ar.lf;
sub twoFarsi-ar by twoFarsi-ar.lf;
sub fourFarsi-ar by fourFarsi-ar.lf;
sub fiveFarsi-ar by fiveFarsi-ar.lf;
sub sixFarsi-ar by sixFarsi-ar.lf;
sub sevenFarsi-ar by sevenFarsi-ar.lf;
sub fourFarsi-ar.locl by fourFarsi-ar.locl.lf;
sub sevenFarsi-ar.locl by sevenFarsi-ar.locl.lf;
";
tag = pnum;
},
{
automatic = 1;
code = "sub zero-ar.lf by zero-ar;
sub one-ar.lf by one-ar;
sub two-ar.lf by two-ar;
sub three-ar.lf by three-ar;
sub four-ar.lf by four-ar;
sub five-ar.lf by five-ar;
sub six-ar.lf by six-ar;
sub seven-ar.lf by seven-ar;
sub eight-ar.lf by eight-ar;
sub nine-ar.lf by nine-ar;
sub zeroFarsi-ar.lf by zeroFarsi-ar;
sub twoFarsi-ar.lf by twoFarsi-ar;
sub fourFarsi-ar.lf by fourFarsi-ar;
sub fiveFarsi-ar.lf by fiveFarsi-ar;
sub sixFarsi-ar.lf by sixFarsi-ar;
sub sevenFarsi-ar.lf by sevenFarsi-ar;
sub fourFarsi-ar.locl.lf by fourFarsi-ar.locl;
sub sevenFarsi-ar.locl.lf by sevenFarsi-ar.locl;
";
tag = tnum;
},
{
code = "lookup dlig_RTL {
lookupflag IgnoreMarks RightToLeft;
	sub lam-ar.init lam-ar.medi heh-ar.fina by allah-ar.2;
} dlig_RTL;
";
tag = dlig;
}
);
fontMaster = (
{
axesValues = (
400
);
customParameters = (
{
name = typoAscender;
value = 1069;
},
{
name = typoDescender;
value = -634;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1069;
},
{
name = hheaDescender;
value = -634;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 1069;
},
{
name = winDescent;
value = 634;
},
{
name = underlineThickness;
value = 50;
},
{
name = underlinePosition;
value = -75;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
}
);
}
);
guides = (
{
locked = 1;
name = top;
pos = (0,748);
},
{
locked = 1;
name = bottom;
pos = (0,-37);
}
);
id = master01;
metricValues = (
{
over = 15;
pos = 1069;
},
{
over = -20;
},
{
over = -20;
},
{
over = -20;
},
{
over = -15;
pos = -634;
},
{
over = -20;
}
);
name = Regular;
numberValues = (
1300,
0
);
userData = {
GSCornerRadius = 5;
GSOffsetAutoStroke = 1;
GSOffsetHorizontal = -10;
GSOffsetKeepCompatible = 1;
GSOffsetMakeStroke = 1;
GSOffsetPosition = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
700
);
customParameters = (
{
name = typoAscender;
value = 1069;
},
{
name = typoDescender;
value = -634;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1069;
},
{
name = hheaDescender;
value = -634;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 1069;
},
{
name = winDescent;
value = 634;
},
{
name = underlineThickness;
value = 50;
},
{
name = underlinePosition;
value = -75;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 700;
}
);
}
);
guides = (
{
locked = 1;
name = top;
pos = (0,738);
},
{
locked = 1;
name = bottom;
pos = (0,-33);
}
);
iconName = Bold;
id = "26E2967D-790C-4793-AF2A-2D0AD74EDC69";
metricValues = (
{
over = 15;
pos = 1069;
},
{
over = -20;
},
{
over = -20;
},
{
over = -20;
},
{
over = -15;
pos = -634;
},
{
over = -20;
}
);
name = Bold;
numberValues = (
1300,
0
);
userData = {
GSCornerRadius = 5;
GSOffsetAutoStroke = 1;
GSOffsetHorizontal = -10;
GSOffsetKeepCompatible = 1;
GSOffsetMakeStroke = 1;
GSOffsetPosition = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 21;
};
}
);
instances = (
{
axesValues = (
400
);
customParameters = (
{
name = panose;
value = (
2,
11,
5,
2,
4,
5,
4,
2,
2,
4
);
}
);
instanceInterpolations = {
master01 = 1;
};
name = Regular;
},
{
axesValues = (
500
);
customParameters = (
{
name = panose;
value = (
2,
11,
6,
2,
4,
5,
4,
2,
2,
4
);
}
);
instanceInterpolations = {
"26E2967D-790C-4793-AF2A-2D0AD74EDC69" = 0.33333;
master01 = 0.66667;
};
name = Medium;
weightClass = 500;
},
{
axesValues = (
600
);
customParameters = (
{
name = panose;
value = (
2,
11,
7,
2,
4,
5,
4,
2,
2,
4
);
}
);
instanceInterpolations = {
"26E2967D-790C-4793-AF2A-2D0AD74EDC69" = 0.66667;
master01 = 0.33333;
};
name = SemiBold;
weightClass = 600;
},
{
axesValues = (
700
);
customParameters = (
{
name = panose;
value = (
2,
11,
5,
2,
4,
5,
4,
2,
2,
4
);
}
);
instanceInterpolations = {
"26E2967D-790C-4793-AF2A-2D0AD74EDC69" = 1;
};
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = 700;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
numbers = (
{
name = year_width;
},
{
name = year_correction;
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2022 The Noto Project Authors (https://github.com/notofonts/arabic)";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Monotype Design Team, David Williams, Mohamad Dakak and Nizar Qandah";
}
);
},
{
key = designerURL;
value = "http://www.monotype.com/studio";
},
{
key = manufacturers;
values = (
{
language = dflt;
value = "Monotype Imaging Inc.";
}
);
},
{
key = manufacturerURL;
value = "http://www.google.com/get/noto/";
},
{
key = vendorID;
value = GOOG;
},
{
key = trademarks;
values = (
{
language = dflt;
value = "Noto is a trademark of Google LLC.";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL";
}
);
},
{
key = licenseURL;
value = "https://scripts.sil.org/OFL";
},
{
key = descriptions;
values = (
{
language = dflt;
value = "Monotype Design Team, David Williams, Mohamad Dakak and Nizar Qandah";
}
);
},
{
key = versionString;
value = "Version 2.016";
}
);
unitsPerEm = 1000;
userData = {
UFOFormat = 2;
};
versionMajor = 2;
versionMinor = 16;
}
