{
.appVersion = "3207";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
classes = (
{
code = "year-ar endofayah-ar number-ar footnotemarker-ar pagenumber-ar samvat-ar";
name = ccmp;
},
{
code = "zero-ar
one-ar
two-ar
three-ar
four-ar
five-ar
six-ar
seven-ar
eight-ar
nine-ar
# Persian
zero-persian
one-persian
two-persian
three-persian
four-persian
five-persian
six-persian
seven-persian
eight-persian
nine-persian
# sindi/urdu
four-persian.locl
seven-persian.locl
# Latin
zero
one
two
three
four
five
six
seven
eight
nine
";
name = numbers;
},
{
code = "zero-ar.ccmp
one-ar.ccmp
two-ar.ccmp
three-ar.ccmp
four-ar.ccmp
five-ar.ccmp
six-ar.ccmp
seven-ar.ccmp
eight-ar.ccmp
nine-ar.ccmp
#
zero-ar.ccmp
one-ar.ccmp
two-ar.ccmp
three-ar.ccmp
four-persian.ccmp
five-persian.ccmp
six-persian.ccmp
seven-ar.ccmp
eight-ar.ccmp
nine-ar.ccmp
#
six-persian.locl.ccmp
seven-persian.locl.ccmp
# Latin
zero.ccmp
one.ccmp
two.ccmp
three.ccmp
four.ccmp
five.ccmp
six.ccmp
seven.ccmp
eight.ccmp
nine.ccmp
";
name = numbers_small;
},
{
code = "zero-ar.ccmp
one-ar.ccmp
two-ar.ccmp
three-ar.ccmp
four-ar.ccmp
five-ar.ccmp
six-ar.ccmp
seven-ar.ccmp
eight-ar.ccmp
nine-ar.ccmp
#
four-persian.ccmp
five-persian.ccmp
six-persian.ccmp
six-persian.locl.ccmp
seven-persian.locl.ccmp
# Latin
zero.ccmp
one.ccmp
two.ccmp
three.ccmp
four.ccmp
five.ccmp
six.ccmp
seven.ccmp
eight.ccmp
nine.ccmp
";
name = numbers_small_uniq;
},
{
code = "alef-ar.fina
alefTwoabove-ar.fina
alefThreeabove-ar.fina
lam-ar.init
";
name = rlig;
},
{
code = "alef-ar.fina.rlig
alefTwoabove-ar.fina.rlig
alefThreeabove-ar.fina.rlig
lam-ar.rlig
";
name = rlig2;
},
{
code = "alef-ar.fina
alefTwoabove-ar.fina
alefThreeabove-ar.fina
lam-ar.medi
";
name = rlig3;
},
{
code = "alef-ar.fina.rlig.2
alefTwoabove-ar.fina.rlig.2
alefThreeabove-ar.fina.rlig.2
lam-ar.medi.rlig";
name = rlig4;
},
{
code = "fathatan-ar
shadda-ar
hamzaabove-ar
dammatan-ar
kasratan-ar
hamzabelow-ar
fatha-ar
damma-ar
kasra-ar
alefabove-ar
sukun-ar
";
name = abovemarks;
},
{
code = "toneonedotabove-ar
tonetwodotsabove-ar
toneloopabove-ar
toneonedotbelow-ar
tonetwodotsbelow-ar
toneloopbelow-ar
";
name = tonemarks;
}
);
customParameters = (
{
name = fsType;
value = (
);
},
{
name = "Enforce Compatibility Check";
value = 1;
},
{
name = "Use Typo Metrics";
value = 1;
},
{
name = "Propagate Anchors";
value = 1;
},
{
name = "Use Line Breaks";
value = 1;
},
{
name = "Write lastChange";
value = 0;
},
{
name = "Write DisplayStrings";
value = 0;
}
);
date = "2021-06-02 21:08:18 +0000";
familyName = "Noto Naskh Arabic";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem arab dflt;
languagesystem arab SND;
languagesystem arab URD;
languagesystem arab KSH;
languagesystem arab FAR;

languagesystem latn dflt;
";
name = Languagesystems;
},
{
code = "
lookup rlig_arab_3 {
# GSUB lookup 9, type 11 (Single)
  sub @rlig by @rlig2;
} rlig_arab_3;

lookup rlig_arab_4 {
# GSUB lookup 10, type 11 (Single)
  sub @rlig3 by @rlig4;
} rlig_arab_4;
";
name = Prefix;
},
{
code = "lookup markligatures {
  # This needs to be contextualised on not having tone marks following
  sub fathatan-ar shadda-ar by fathatan-ar_shadda-ar;
  sub fathatan-ar hamzaabove-ar by fathatan-ar_hamzaabove-ar;
  sub dammatan-ar shadda-ar by dammatan-ar_shadda-ar;
  sub dammatan-ar hamzaabove-ar by dammatan-ar_hamzaabove-ar;
  sub kasratan-ar shadda-ar by kasratan-ar_shadda-ar;
  sub kasratan-ar hamzabelow-ar by kasratan-ar_hamzabelow-ar;
  sub fatha-ar shadda-ar by fatha-ar_shadda-ar;
  sub fatha-ar hamzaabove-ar by fatha-ar_hamzaabove-ar;
  sub damma-ar shadda-ar by damma-ar_shadda-ar;
  sub damma-ar hamzaabove-ar by damma-ar_hamzaabove-ar;
  sub kasra-ar shadda-ar by kasra-ar_shadda-ar;
  sub kasra-ar hamzabelow-ar by kasra-ar_hamzabelow-ar;
  sub shadda-ar fathatan-ar by fathatan-ar_shadda-ar;
  sub shadda-ar dammatan-ar by dammatan-ar_shadda-ar;
  sub shadda-ar kasratan-ar by kasratan-ar_shadda-ar;
  sub shadda-ar fatha-ar by fatha-ar_shadda-ar;
  sub shadda-ar damma-ar by damma-ar_shadda-ar;
  sub shadda-ar kasra-ar by kasra-ar_shadda-ar;
  sub shadda-ar alefabove-ar by shadda-ar_alefabove-ar;
  sub hamzaabove-ar fathatan-ar by fathatan-ar_hamzaabove-ar;
  sub hamzaabove-ar dammatan-ar by dammatan-ar_hamzaabove-ar;
  sub hamzaabove-ar fatha-ar by fatha-ar_hamzaabove-ar;
  sub hamzaabove-ar damma-ar by damma-ar_hamzaabove-ar;
  sub hamzaabove-ar sukun-ar by hamzaabove-ar_sukun-ar;
  sub hamzabelow-ar kasratan-ar by kasratan-ar_hamzabelow-ar;
  sub hamzabelow-ar kasra-ar by kasra-ar_hamzabelow-ar;
  sub sukun-ar hamzaabove-ar by hamzaabove-ar_sukun-ar;
  sub alefabove-ar shadda-ar by shadda-ar_alefabove-ar;

} markligatures;";
name = MarkLigatures;
},
{
code = "lookup number_to_medium {
sub @numbers by @numbers_small;
} number_to_medium;

lookup number_to_small {
sub @numbers by @numbers_small;
} number_to_small;

#markClass @numbers_medium <anchor 276 0> @YEAR_MARKS;
markClass @numbers_small_uniq  <anchor 110 0> @YEAR_MARKS;

lookup year_1of4 {
	pos base year-ar <anchor ${year_width/5*12/10 - year_correction} 100> mark @YEAR_MARKS;
} year_1of4;
lookup year_2of4 {
	pos base year-ar <anchor ${year_width/5*2*12/10 - year_correction} 100> mark @YEAR_MARKS;
} year_2of4;
lookup year_3of4 {
	pos base year-ar <anchor ${year_width/5*3*12/10 - year_correction} 100> mark @YEAR_MARKS;
} year_3of4;
lookup year_4of4 {
	pos base year-ar <anchor ${year_width/5*4*12/10 - year_correction} 100> mark @YEAR_MARKS;
} year_4of4;
lookup year_1of3 {
	pos base year-ar <anchor ${year_width/4*11/10} 100> mark @YEAR_MARKS;
} year_1of3;
lookup year_2of3 {
	pos base year-ar <anchor ${year_width/4*2*11/10} 100> mark @YEAR_MARKS;
} year_2of3;
lookup year_3of3 {
	pos base year-ar <anchor ${year_width/4*3*11/10} 100> mark @YEAR_MARKS;
} year_3of3;
lookup year_1of2 {
	pos base year-ar <anchor ${year_width/3} 100> mark @YEAR_MARKS;
} year_1of2;
lookup year_2of2 {
	pos base year-ar <anchor ${year_width/3*2} 100> mark @YEAR_MARKS;
} year_2of2;
lookup year_1of1 {
	pos base year-ar <anchor ${year_width/2} 100> mark @YEAR_MARKS;
} year_1of1;
";
name = YearSignHelpers;
}
);
features = (
{
automatic = 1;
code = "feature init;
feature medi;
feature fina;
feature locl;
feature tnum;
";
tag = aalt;
},
{
code = "
lookup liaadama { # See issue #26
  lookupflag UseMarkFilteringSet [hamzaabove-ar];
  sub lam-ar kashida-ar' hamzaabove-ar' alef-ar by hamzabetween-ar;
} liaadama;

lookup abovemarkligatures {
  lookupflag UseMarkFilteringSet [@abovemarks @tonemarks];
  ignore sub @abovemarks' @abovemarks' @tonemarks;
  sub @abovemarks' lookup markligatures @abovemarks';
} abovemarkligatures;

lookup decomposition {
  # Alef family
  sub alefHamzaabove-ar by alef-ar hamzaabove-ar;
  sub alefHamzabelow-ar by alef-ar hamzabelow-ar;
  sub alefMadda-ar by alef-ar madda-ar;
  sub alefWavyhamzaabove-ar by alef-ar wavyhamzaabove-ar;
  sub alefWavyhamzabelow-ar by alef-ar wavyhamzabelow-ar;
  sub alefFathatan-ar by alef-ar fathatan-ar;
  sub highhamzaAlef-ar by highhamza-ar alef-ar;
  sub alefWasla-ar by alef-ar wasla-ar;

  # Ain family
  sub ainThreedots-ar by ain-ar threedotsupabove-ar;
  sub ainThreedotsdownabove-ar by ain-ar threedotsdownabove-ar;
  sub ainTwodotshorizontalabove-ar by ain-ar twodotshorizontalabove-ar;
  sub ainTwodotsverticalabove-ar by ain-ar twodotsverticalabove-ar;
  sub ghainThreedotsabove-ar by ghain-ar threedotsupabove-ar;

  # Dal family
  sub dalDotbelow-ar by dal-ar dotbelow-ar;
  sub dalDotbelowTah-ar by dal-ar dotbelow-ar tahabove-ar;
  sub dalThreedotsbelow-ar by dal-ar threedotsdownbelow-ar;
  sub dalThreedotsdown-ar by dal-ar threedotsdownabove-ar;
  sub dalFourdots-ar by dal-ar fourdotsabove-ar;
  sub dalVinvertedabove-ar by dal-ar vinvertedabove-ar;
  sub dalTwodotsverticalbelowTah-ar by dal-ar twodotsverticalbelow-ar tahabove-ar;
  sub dalVinvertedbelow-ar by dal-ar vinvertedbelow-ar;

  # Heh family
  sub hehgoalHamzaabove-ar by hehgoal-ar hamzaabove-ar.twentypercent;
  sub hehVinvertedabove-ar by hehDoachashmee-ar vinvertedabove-ar;

  # Jeem family
  sub hahHamzaabove-ar by hah-ar hamzaabove-ar;
  sub hahTahabove-ar by hah-ar tahabove-ar;
  sub hahTwodotsverticalabove-ar by hah-ar twodotsverticalabove-ar;
  sub hahTwodotshorizontalabove-ar by hah-ar twodotshorizontalabove-ar;
  sub hahThreedotsabove-ar by hah-ar threedotsupabove-ar;
  sub jeemTwodotsabove-ar by jeem-ar twodotshorizontalabove-ar;

  # Qaf/Fe family
  sub qafThreedotsabove-ar by qafDotless-ar threedotsupabove-ar;
  sub qafDotabove-ar by qafDotless-ar dotabove-ar;
  sub fehDotbelow-ar by feh-ar dotbelow-ar;
  sub fehThreedotsbelow-ar by fehDotless-ar threedotsdownbelow-ar;
  sub fehDotbelowThreedotsabove-ar by fehDotless-ar dotbelow-ar threedotsupabove-ar;
  sub fehTwodotsbelow-ar by fehDotless-ar twodotshorizontalbelow-ar;
  sub fehThreedotsupbelow-ar by fehDotless-ar threedotsupbelow-ar;
  sub fehDotmovedbelow-ar by fehDotless-ar dotbelow-ar;
  sub qafDotbelow-ar by qaf-ar dotbelow-ar;
  sub qafThreedotsaboveAfrican-ar by qafAfrican-ar threedotsupabove-ar;
  sub jeemThreedotsabove-ar by jeem-ar threedotsupabove-ar;
  sub qafDotmovedbelow-ar by qafDotless-ar dotbelow-ar;
  sub lamTahabove-ar by lam-ar tahabove-ar;

  # Beh family
  sub tehThreedotsdown-ar by behDotless-ar threedotsdownabove-ar;
  sub tehThreedotsupbelow-ar by teh-ar threedotsupbelow-ar;
  sub tehRing-ar by teh-ar ring-ar;
  sub behThreedotshorizontalbelow-ar by behDotless-ar threedotshorizontalbelow-ar;
  sub behVabove-ar by behDotless-ar vabove-ar.near;
  sub behVbelow-ar by behDotless-ar vbelow-ar;
  sub behVinvertedbelow-ar by behDotless-ar vinvertedbelow-ar;
  sub behThreedotsupabove-ar by beh-ar threedotsupabove-ar;
  sub behThreedotsupbelow-ar by behDotless-ar threedotsupbelow-ar;
  sub behhamzaabove-ar by beh-ar hamzaabove-ar;
  sub noonTahabove-ar by noon-ar tahabove-ar;
  sub noonVabove-ar by noonghunna-ar dotinsidevabove-ar;
  sub yehTwodotsbelowHamzaabove-ar by yeh-ar hamzaabove-ar;
  sub yehTwodotsbelowDotabove-ar by yeh-ar dotabove-ar;
  sub yehVinverted-farsi by yeh-farsi vinvertedabove-ar;
  sub yehTwodotsabove-farsi by yeh-farsi twodotshorizontalabove-ar;
  sub yehThreedotsabove-farsi by yeh-farsi threedotsupabove-ar;
  sub pehVabove-ar by peh-ar vabove-ar.near;
  sub tehVabove-ar by teh-ar vabove-ar;
  sub ttehVabove-ar by tteh-ar vabove-ar;
  sub tchehVabove-ar by tcheh-ar vabove-ar.near;
  sub noonVinvertedabove-ar by noonghunna-ar vinvertedabove-ar;

  # Seen family
  sub sheenDotbelow-ar by sheen-ar dotbelow-ar;
  sub sheenThreedotsbelow-ar by sheen-ar threedotsdownbelow-ar;
  sub seenFourdotsabove-ar by seen-ar fourdotsabove-ar;
  sub seenDotbelowDotabove-ar by seen-ar dotbelow-ar dotabove-ar;
  sub seenThreedotsbelow-ar by seen-ar threedotsdownbelow-ar;
  sub seenVinvertedabove-ar by seen-ar vinvertedabove-ar;
  sub seenTahTwodotshorizontalabove-ar by seen-ar _twodotstah;
  sub seenTwodotsverticalabove-ar by seen-ar twodotsverticalabove-ar;

  # Lam family
  sub lamDotabove-ar by lam-ar dotabove-ar;
  sub behTwodotsbelowDotabove-ar by behDotless-ar twodotshorizontalbelow-ar dotabove-ar;
  sub tchehDotabove-ar by tcheh-ar dotabove-ar;
  sub lamThreedotsabove-ar by lam-ar threedotsupabove-ar;
  sub lamThreedotsbelow-ar by lam-ar threedotsdownbelow-ar;
  sub lamVabove-ar by lam-ar smallvabove-ar;
  sub lamBar-ar by lam-ar bar-ar;
  sub lamDoublebar-ar by lam-ar doubleBar-ar;

  # Sad family
  sub sadTwodotsbelow-ar by sad-ar twodotshorizontalbelow-ar;
  sub sadThreedots-ar by sad-ar threedotsupabove-ar;
  sub sadThreedotsbelow-ar by sad-ar threedotsdownbelow-ar;
  sub dadDotbelow-ar by dad-ar dotbelow-ar;

  # Meem family
  sub meemDotabove-ar by meem-ar dotabove-ar;
  sub meemDotbelow-ar by meem-ar dotbelow-ar;
  sub meemThreedotsabove-ar by meem-ar threedotsupabove-ar;

  # Tah family
  sub tahTwodotsabove-ar by tah-ar twodotshorizontalabove-ar;
  sub tahThreedots-ar by tah-ar threedotsupabove-ar;
  sub tahDotbelow-ar by tah-ar dotbelow-ar;
  sub tahThreedotsbelow-ar by tah-ar threedotsdownbelow-ar;

  # Kaf family
  sub kehehDotabove-ar by keheh-ar dotabove-ar.small;
  sub kehehTwodotshorizontalabove-ar by keheh-ar twodotshorizontalabove-ar.diagonal;
  sub kehehTwodotsverticalbelow-ar by keheh-ar twodotsverticalbelow-ar;
  sub kehehThreedotsabove-ar by keheh-ar threedotsupabove-ar.diagonal;
  sub kehehThreedotsbelow-ar by keheh-ar threedotsdownbelow-ar;
  sub kehehThreedotsupbelow-ar by keheh-ar threedotsupbelow-ar;
  sub gafThreedots-ar by gaf-ar threedotsupabove-ar.diagonal;
  sub kafThreedotsbelow-ar by kaf-ar threedotsdownbelow-ar;
  sub gafRing-ar by gaf-ar ring-ar;
  sub kafRing-ar by keheh-ar ring-ar;
  sub gafTwodotsbelow-ar by gaf-ar twodotshorizontalbelow-ar;
  sub kafDotabove-ar by kaf-ar dotabove-ar;
  sub kafDotbelow-ar by kaf-ar dotbelow-ar;
  sub kehehVabove-ar by keheh-ar vabove-ar;

  # Reh family
  sub rehv-ar by reh-ar vabove-ar.near;
  sub rehVbelow-ar by reh-ar vbelow-ar;
  sub zainVinvertedabove-ar by zain-ar vinvertedabove-ar;
  sub rehTwodots-ar by reh-ar twodotshorizontalabove-ar;
  sub jeh-ar by reh-ar threedotsupabove-ar;
  sub rehFourdots-ar by reh-ar fourdotsabove-ar;

  # Waw family
  sub wawDotabove-ar by waw-ar dotabove-ar;
  sub wawTwodots-ar by waw-ar twodotshorizontalabove-ar;
} decomposition;
";
tag = ccmp;
},
{
code = "sub ain-ar by ain-ar.init;
sub ainThreedotsbelow-ar by ain-ar.init threedotsdownbelow-ar;
sub alefMaksura-ar by alefMaksura-ar.init;
sub beeh-ar by beeh-ar.init;
sub beh-ar by beh-ar.init;
sub behDotless-ar by behDotless-ar.init;
sub beheh-ar by beheh-ar.init;
sub dad-ar by dad-ar.init;
sub dyeh-ar by dyeh-ar.init;
sub e-ar by e-ar.init;
sub feh-ar by feh-ar.init;
sub fehAfrican-ar by fehDotless-ar.init dotbelow-ar;
sub fehDotless-ar by fehDotless-ar.init;
sub gaf-ar by gaf-ar.init;
sub ghain-ar by ghain-ar.init;
sub ghainDotbelow-ar by ghain-ar.init dotbelow-ar;
sub gueh-ar by gueh-ar.init;
sub hah-ar by hah-ar.init;
sub hahFourbelow-ar by hahFourbelow-ar.init;
sub hahTahbelow-ar by hah-ar.init tahbelow-ar;
sub hahTahTwodotshorizontalbelow-ar by hahTahTwodotshorizontalbelow-ar.init;
sub hahThreedotsupbelow-ar by hah-ar.init threedotsupbelow-ar;
sub heh-ar by heh-ar.init;
sub hehDoachashmee-ar by hehDoachashmee-ar.init;
sub hehgoal-ar by hehgoal-ar.init;
sub highhamzaYeh-ar by highhamzaYeh-ar.init;
sub jeem-ar by jeem-ar.init;
sub kaf-ar by kaf-ar.init;
sub kafswash-ar by kafswash-ar.init;
sub kafTwodotshorizontalabove-ar by kafTwodotshorizontalabove-ar.init;
sub keheh-ar by keheh-ar.init;
sub khah-ar by khah-ar.init;
sub lam-ar by lam-ar.init;
sub meem-ar by meem-ar.init;
sub ng-ar by ng-ar.init;
sub ngoeh-ar by ngoeh-ar.init;
sub noon-ar by noon-ar.init;
sub noonAfrican-ar by noon-ar.init;
sub noonDotbelow-ar by behDotless-ar.init dotabove-ar dotbelow-ar;
sub noonThreedotsabove-ar by behDotless-ar.init threedotsdownbelow-ar;
sub noonghunna-ar by noonghunna-ar.init;
sub noonRing-ar by noonRing-ar.init;
sub noonTwodotsbelow-ar by yeh-ar.init dotabove-ar;
sub nyeh-ar by nyeh-ar.init;
sub peh-ar by peh-ar.init;
sub peheh-ar by peheh-ar.init;
sub qaf-ar by qaf-ar.init;
sub qafAfrican-ar by feh-ar.init;
sub qafDotless-ar by qafDotless-ar.init;
sub rnoon-ar by behDotless-ar.init tahabove-ar;
sub sad-ar by sad-ar.init;
sub seen-ar by seen-ar.init;
sub seenFourabove-ar by seenFourabove-ar.init;
sub sheen-ar by sheen-ar.init;
sub tah-ar by tah-ar.init;
sub tcheh-ar by tcheh-ar.init;
sub tcheheh-ar by tcheheh-ar.init;
sub teh-ar by teh-ar.init;
sub teheh-ar by teheh-ar.init;
sub theh-ar by theh-ar.init;
sub tteh-ar by tteh-ar.init;
sub tteheh-ar by tteheh-ar.init;
sub veh-ar by veh-ar.init;
sub yeh-ar by yeh-ar.init;
sub yeh-farsi by yeh-farsi.init;
sub yehbarreeThreeabove-ar by yehbarreeThreeabove-ar.init;
sub yehbarreeTwoabove-ar by yehbarreeTwoabove-ar.init;
sub yehFourbelow-farsi by yehFourbelow-farsi.init;
sub yehHamzaabove-ar by yehHamzaabove-ar.init;
sub yehKashmiri-ar by yehKashmiri-ar.init;
sub yehThreeabove-farsi by yehThreeabove-farsi.init;
sub yehTwoabove-farsi by yehTwoabove-farsi.init;
sub yehThreedotsbelow-ar by behDotless-ar.init threedotsdownbelow-ar;
sub yehVabove-ar by yeh-ar.init vabove-ar.near;
sub zah-ar by zah-ar.init;
";
tag = init;
},
{
code = "sub ain-ar by ain-ar.medi;
sub ainThreedotsbelow-ar by ain-ar.medi threedotsdownbelow-ar;
sub alefMaksura-ar by alefMaksura-ar.medi;
sub beeh-ar by beeh-ar.medi;
sub beh-ar by beh-ar.medi;
sub behDotless-ar by behDotless-ar.medi;
sub beheh-ar by beheh-ar.medi;
sub dad-ar by dad-ar.medi;
sub damma-ar by damma-ar.medi;
sub dyeh-ar by dyeh-ar.medi;
sub e-ar by e-ar.medi;
sub fatha-ar by fatha-ar.medi;
sub fathatan-ar by fathatan-ar.medi;
sub feh-ar by feh-ar.medi;
sub fehAfrican-ar by fehDotless-ar.medi dotbelow-ar;
sub fehDotless-ar by fehDotless-ar.medi;
sub gaf-ar by gaf-ar.medi;
sub ghain-ar by ghain-ar.medi;
sub ghainDotbelow-ar by ghain-ar.medi dotbelow-ar;
sub gueh-ar by gueh-ar.medi;
sub hah-ar by hah-ar.medi;
sub hahFourbelow-ar by hahFourbelow-ar.medi;
sub hahTahTwodotshorizontalbelow-ar by hahTahTwodotshorizontalbelow-ar.medi;
sub hahThreedotsupbelow-ar by hah-ar.medi threedotsupbelow-ar;
sub hahTahbelow-ar by hah-ar.medi tahbelow-ar;
sub heh-ar by heh-ar.medi;
sub hehDoachashmee-ar by hehDoachashmee-ar.medi;
sub hehgoal-ar by hehgoal-ar.medi;
sub highhamzaYeh-ar by highhamzaYeh-ar.medi;
sub jeem-ar by jeem-ar.medi;
sub kaf-ar by kaf-ar.medi;
sub kafswash-ar by kafswash-ar.medi;
sub kafTwodotshorizontalabove-ar by kafTwodotshorizontalabove-ar.medi;
sub kasra-ar by kasra-ar.medi;
sub keheh-ar by keheh-ar.medi;
sub khah-ar by khah-ar.medi;
sub lam-ar by lam-ar.medi;
sub meem-ar by meem-ar.medi;
sub ng-ar by ng-ar.medi;
sub ngoeh-ar by ngoeh-ar.medi;
sub noon-ar by noon-ar.medi;
sub noonAfrican-ar by noon-ar.medi;
sub noonDotbelow-ar by behDotless-ar.medi dotabove-ar dotbelow-ar;
sub noonThreedotsabove-ar by behDotless-ar.medi threedotsdownbelow-ar;
sub noonghunna-ar by noonghunna-ar.medi;
sub noonRing-ar by noonRing-ar.medi;
sub noonTwodotsbelow-ar by yeh-ar.medi dotabove-ar;
sub nyeh-ar by nyeh-ar.medi;
sub peh-ar by peh-ar.medi;
sub peheh-ar by peheh-ar.medi;
sub qaf-ar by qaf-ar.medi;
sub qafAfrican-ar by feh-ar.medi;
sub qafDotless-ar by qafDotless-ar.medi;
sub rnoon-ar by behDotless-ar.medi tahabove-ar;
sub sad-ar by sad-ar.medi;
sub seen-ar by seen-ar.medi; # dotabovespacer-ar;
sub seenFourabove-ar by seenFourabove-ar.medi;
sub shadda-ar by shadda-ar.medi;
sub sheen-ar by sheen-ar.medi;
sub sukun-ar by sukun-ar.medi;
sub tah-ar by tah-ar.medi;
sub tcheh-ar by tcheh-ar.medi;
sub tcheheh-ar by tcheheh-ar.medi;
sub teh-ar by teh-ar.medi;
sub teheh-ar by teheh-ar.medi;
sub theh-ar by theh-ar.medi;
sub tteh-ar by tteh-ar.medi;
sub tteheh-ar by tteheh-ar.medi;
sub veh-ar by veh-ar.medi;
sub yeh-ar by yeh-ar.medi;
sub yeh-farsi by yeh-farsi.medi;
sub yehbarreeThreeabove-ar by yehbarreeThreeabove-ar.medi;
sub yehbarreeTwoabove-ar by yehbarreeTwoabove-ar.medi;
sub yehFourbelow-farsi by yehFourbelow-farsi.medi;
sub yehHamzaabove-ar by yehHamzaabove-ar.medi;
sub yehHamzaabove_meem-ar by yehHamzaabove_meem-ar.medi;
sub yehKashmiri-ar by yehKashmiri-ar.medi;
sub yehThreeabove-farsi by yehThreeabove-farsi.medi;
sub yehThreedotsbelow-ar by behDotless-ar.medi threedotsdownbelow-ar;
sub yehTwoabove-farsi by yehTwoabove-farsi.medi;
sub yehVabove-ar by yeh-ar.medi vabove-ar.near;
sub zah-ar by zah-ar.medi;
";
tag = medi;
},
{
code = "sub ae-ar by heh-ar.fina;
sub ain-ar by ain-ar.fina;
sub ainThreedotsbelow-ar by ain-ar.fina threedotsdowncenter-ar;
sub alef-ar by alef-ar.fina;
sub alefHamzaabove-ar by alefHamzaabove-ar.fina;
sub alefHamzabelow-ar by alefHamzabelow-ar.fina;
sub alefMadda-ar by alefMadda-ar.fina;
sub alefMaksura-ar by alefMaksura-ar.fina;
sub alefThreeabove-ar by alefThreeabove-ar.fina;
sub alefTwoabove-ar by alefTwoabove-ar.fina;
sub alefWasla-ar by alefWasla-ar.fina;
sub beeh-ar by beeh-ar.fina;
sub beh-ar by beh-ar.fina;
sub behDotless-ar by behDotless-ar.fina;
sub beheh-ar by beheh-ar.fina;
sub dad-ar by dad-ar.fina;
sub dahal-ar by dahal-ar.fina;
sub dal-ar by dal-ar.fina;
sub dalRing-ar by dalRing-ar.fina;
sub ddahal-ar by ddahal-ar.fina;
sub ddal-ar by ddal-ar.fina;
sub dul-ar by dul-ar.fina;
sub dyeh-ar by dyeh-ar.fina;
sub e-ar by e-ar.fina;
sub feh-ar by feh-ar.fina;
sub fehAfrican-ar by fehDotless-ar.fina;
sub fehDotless-ar by fehDotless-ar.fina;
sub gaf-ar by gaf-ar.fina;
sub ghain-ar by ghain-ar.fina;
sub ghainDotbelow-ar by ghain-ar.fina dotcenter-ar;
sub gueh-ar by gueh-ar.fina;
sub hah-ar by hah-ar.fina;
sub hahFourbelow-ar by hahFourbelow-ar.fina;
sub hahTahbelow-ar by hah-ar.fina tahcenter-ar;
sub hahTahTwodotshorizontalbelow-ar by hahTahTwodotshorizontalbelow-ar.fina;
sub hahThreedotsupbelow-ar by hah-ar.fina threedotsupcenter-ar;
sub heh-ar by heh-ar.fina;
sub hehDoachashmee-ar by hehDoachashmee-ar.fina;
sub hehgoal-ar by hehgoal-ar.fina;
sub hehHamzaabove-ar by hehHamzaabove-ar.fina;
sub highhamzaAlef-ar by highhamzaAlef-ar.fina;
sub highhamzaWaw-ar by highhamzaWaw-ar.fina;
sub highhamzaYeh-ar by highhamzaYeh-ar.fina;
sub jeem-ar by jeem-ar.fina;
sub kaf-ar by kaf-ar.fina;
sub kafswash-ar by kafswash-ar.fina;
sub kafTwodotshorizontalabove-ar by kafTwodotshorizontalabove-ar.fina;
sub keheh-ar by keheh-ar.fina;
sub khah-ar by khah-ar.fina;
sub kirghizoe-ar by kirghizoe-ar.fina;
sub kirghizyu-ar by kirghizyu-ar.fina;
sub lam-ar by lam-ar.fina;
sub meem-ar by meem-ar.fina;
sub ng-ar by ng-ar.fina;
sub ngoeh-ar by ngoeh-ar.fina;
sub noon-ar by noon-ar.fina;
sub noonAfrican-ar by noonghunna-ar.fina;
sub noonDotbelow-ar by noon-ar.fina dotbelow-ar;
sub noonThreedotsabove-ar by noonghunna-ar.fina threedotsupabove-ar;
sub noonghunna-ar by noonghunna-ar.fina;
sub noonRing-ar by noonRing-ar.fina;
sub noonTwodotsbelow-ar by noon-ar.fina twodotshorizontalbelow-ar;
sub nyeh-ar by nyeh-ar.fina;
sub oe-ar by oe-ar.fina;
sub peh-ar by peh-ar.fina;# dotabovespacer-ar;
sub peheh-ar by peheh-ar.fina;
sub qaf-ar by qaf-ar.fina;
sub qafAfrican-ar by qafDotless-ar.fina;
sub qafDotabove-ar by qafDotabove-ar.fina;
sub qafDotless-ar by qafDotless-ar.fina;
sub qafThreedotsabove-ar by qafThreedotsabove-ar.fina;
sub reh-ar by reh-ar.fina;
sub rehDotbelow-ar by rehDotbelow-ar.fina;
sub rehDotbelowdotabove-ar by rehDotbelowdotabove-ar.fina;
sub rehHamzaabove-ar by rehHamzaabove-ar.fina;
sub rehLoop-ar by rehLoop-ar.fina;
sub rehRing-ar by rehRing-ar.fina;
sub rehStroke-ar by rehStroke-ar.fina;
sub rehTwodotshorizontalaboveTahabove-ar by rehTwodotshorizontalaboveTahabove-ar.fina;
sub rehTwodotsverticalabove-ar by rehTwodotsverticalabove-ar.fina;
sub rehVinvertedabove-ar by rehVinvertedabove-ar.fina;
sub rnoon-ar by rnoon-ar.fina;
sub rreh-ar by rreh-ar.fina;
sub sad-ar by sad-ar.fina;
sub seen-ar by seen-ar.fina;
sub seenFourabove-ar by seenFourabove-ar.fina;
sub sheen-ar by sheen-ar.fina;
sub tah-ar by tah-ar.fina;
sub tcheh-ar by tcheh-ar.fina;
sub tcheheh-ar by tcheheh-ar.fina;
sub teh-ar by teh-ar.fina;
sub teheh-ar by teheh-ar.fina;
sub tehMarbuta-ar by tehMarbuta-ar.fina;
sub tehMarbutagoal-ar by tehMarbutagoal-ar.fina;
sub thal-ar by thal-ar.fina;
sub theh-ar by theh-ar.fina;
sub tteh-ar by tteh-ar.fina;
sub tteheh-ar by tteheh-ar.fina;
sub u-ar by u-ar.fina;
sub uHamzaabove-ar by uHamzaabove-ar.fina;
sub ve-ar by ve-ar.fina;
sub veh-ar by veh-ar.fina;
sub waw-ar by waw-ar.fina;
sub wawDotcenter-ar by wawDotcenter-ar.fina;
sub wawHamzaabove-ar by wawHamzaabove-ar.fina;
sub wawring-ar by wawring-ar.fina;
sub wawThreeAbove-ar by wawThreeAbove-ar.fina;
sub wawTwoabove-ar by wawTwoabove-ar.fina;
sub yeh-ar by yeh-ar.fina;
sub yeh-farsi by yeh-farsi.fina;
sub yehbarree-ar by yehbarree-ar.fina;
sub yehbarreeHamzaabove-ar by yehbarreeHamzaabove-ar.fina;
sub yehbarreeThreeabove-ar by yehbarreeThreeabove-ar.fina;
sub yehbarreeTwoabove-ar by yehbarreeTwoabove-ar.fina;
sub yehFourbelow-farsi by yehFourbelow-farsi.fina;
sub yehHamzaabove-ar by yehHamzaabove-ar.fina;
sub yehKashmiri-ar by yehKashmiri-ar.fina;
sub yehTail-ar by yehTail-ar.fina;
sub yehThreeabove-farsi by yehThreeabove-farsi.fina;
sub yehTwoabove-farsi by yehTwoabove-farsi.fina;
sub yehVabove-ar by alefMaksura-ar.fina vabove-ar.near;
sub yehThreedotsbelow-ar by alefMaksura-ar.fina threedotsdownbelow-ar;
sub yu-ar by yu-ar.fina;
sub zah-ar by zah-ar.fina;
sub zain-ar by zain-ar.fina;
";
tag = fina;
},
{
code = "sub lam-ar [bar-ar doubleBar-ar]' by [bar-ar.wide doubleBar-ar.wide];
sub lam-ar.init highhamza-ar' alef-ar.fina by hamzaabove-ar;

  lookup rlig_arab_2 {
  # GSUB lookup 8, type 15 (Context)
    lookupflag IgnoreMarks;
    sub lam-ar.init' lookup rlig_arab_3 [alef-ar.fina highhamzaAlef-ar.fina alefTwoabove-ar.fina alefThreeabove-ar.fina]' lookup rlig_arab_3;
    sub lam-ar.medi' lookup rlig_arab_4 [alef-ar.fina highhamzaAlef-ar.fina alefTwoabove-ar.fina alefThreeabove-ar.fina]' lookup rlig_arab_4;
  } rlig_arab_2;

  lookup rlig_arab_1 {
  # GSUB lookup 7, type 14 (Ligature)
    lookupflag IgnoreMarks;
    sub lam-ar.init alef-ar.fina by lam_alef-ar;
    sub lam-ar.medi alef-ar.fina by lam_alef-ar.fina;
    sub lam-ar.medi alefTwoabove-ar.fina by lam_alef-ar.fina_alefTwoabove-ar;
    sub lam-ar.medi alefThreeabove-ar.fina by lam_alef-ar.fina_alefThreeabove-ar;
  } rlig_arab_1;
";
tag = rlig;
},
{
code = "# GSUB feature: Standard Ligatures
# Lookups: 2

#  lookup liga_arab_2 {
#  # GSUB lookup 23, type 14 (Ligature)
#    lookupflag IgnoreMarks;
#    sub lam-ar.init lam-ar.medi heh-ar.fina by allah-ar.2;
#    sub lam-ar.init lam-ar.medi hehgoal-ar.fina by allah-ar.2;
#  } liga_arab_2;

  script arab; # Arabic
  sub alef-ar lam-ar.init lam-ar.medi shadda-ar_alefabove-ar heh-ar.fina by allah-ar;
  sub alef-ar lam-ar.init lam-ar.medi shadda-ar_alefabove-ar hehgoal-ar.fina by allah-ar;
#  lookup liga_arab_2;
    language SND ; # Sindhi
    language URD ; # Urdu
    language KSH ; # Kashmiri
    language FAR ; # Farsi
";
tag = liga;
},
{
code = "# GSUB feature: Localized Forms
# Lookups: 4

  script latn; # Latin
  sub [exclam period] by [exclam.locl period.locl];

  script arab; # Arabic
    language SND ; # Sindhi
    sub [six-persian seven-persian] by [six-ar seven-persian.locl];

    language URD ; # Urdu
	lookup locl_arabURD_arabKSH_1 {
  		sub [four-persian six-persian seven-persian] by [four-persian.locl six-ar seven-persian.locl];
	} locl_arabURD_arabKSH_1;

    language KSH ; # Kashmiri
    lookup locl_arabURD_arabKSH_1;

    language FAR ; # Farsi
    sub [decimalseparator-ar thousandseparator-ar guillemetleft guillemetright] by [decimalseparator-ar.locl decimalseparator-ar.1 guillemetleft.locl guillemetright.locl];";
tag = locl;
},
{
code = "sub zero-ar by zero-ar.tf;
sub one-ar by one-ar.tf;
sub two-ar by two-ar.tf;
sub three-ar by three-ar.tf;
sub four-ar by four-ar.tf;
sub five-ar by five-ar.tf;
sub six-ar by six-ar.tf;
sub seven-ar by seven-ar.tf;
sub eight-ar by eight-ar.tf;
sub nine-ar by nine-ar.tf;
sub zero-persian by zero-ar.tf;
sub one-persian by one-ar.tf;
sub two-persian by two-ar.tf;
sub three-persian by three-ar.tf;
sub four-persian by four-persian.tf;
sub five-persian by five-persian.tf;
sub six-persian by six-persian.tf;
sub seven-persian by seven-ar.tf;
sub eight-persian by eight-ar.tf;
sub nine-persian by nine-ar.tf;
sub four-persian.locl by four-persian.locl.tf;
sub seven-persian.locl by seven-persian.locl.tf;
";
tag = tnum;
},
{
code = "lookup dlig_RTL {
lookupflag IgnoreMarks RightToLeft;
	sub lam-ar.init lam-ar.medi heh-ar.fina by allah-ar.2;
} dlig_RTL;
";
tag = dlig;
},
{
code = "
# Year sign
sub year-ar @numbers' lookup number_to_small @numbers' lookup number_to_small  @numbers' lookup number_to_small @numbers' lookup number_to_small;
sub year-ar @numbers' lookup number_to_small @numbers' lookup number_to_small  @numbers' lookup number_to_small;
sub year-ar @numbers' lookup number_to_medium @numbers' lookup number_to_medium;
sub year-ar @numbers' lookup number_to_medium;

pos year-ar @numbers_small' lookup year_1of4 @numbers_small' lookup year_2of4  @numbers_small' lookup year_3of4 @numbers_small' lookup year_4of4;
pos year-ar @numbers_small' lookup year_1of3 @numbers_small' lookup year_2of3  @numbers_small' lookup year_3of3;
pos year-ar @numbers_small' lookup year_1of2 @numbers_small' lookup year_2of2;
pos year-ar @numbers_small' lookup year_1of1;
";
tag = rclt;
}
);
fontMaster = (
{
axesValues = (
400
);
customParameters = (
{
name = typoAscender;
value = 1069;
},
{
name = typoDescender;
value = -634;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1069;
},
{
name = hheaDescender;
value = -634;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 1069;
},
{
name = winDescent;
value = 634;
},
{
name = underlineThickness;
value = 50;
},
{
name = underlinePosition;
value = -75;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
}
);
}
);
id = master01;
metricValues = (
{
over = 15;
pos = 1069;
},
{
over = -20;
},
{
over = -20;
},
{
over = -20;
},
{
over = -15;
pos = -634;
},
{
over = -20;
}
);
name = Regular;
numberValues = (
1300,
0
);
},
{
axesValues = (
700
);
customParameters = (
{
name = typoAscender;
value = 1069;
},
{
name = typoDescender;
value = -634;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1069;
},
{
name = hheaDescender;
value = -634;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 1069;
},
{
name = winDescent;
value = 634;
},
{
name = underlineThickness;
value = 50;
},
{
name = underlinePosition;
value = -75;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 700;
}
);
}
);
iconName = Bold;
id = "26E2967D-790C-4793-AF2A-2D0AD74EDC69";
metricValues = (
{
over = 15;
pos = 1069;
},
{
over = -20;
},
{
over = -20;
},
{
over = -20;
},
{
over = -15;
pos = -634;
},
{
over = -20;
}
);
name = Bold;
numberValues = (
1300,
0
);
}
);
instances = (
{
axesValues = (
400
);
customParameters = (
{
name = panose;
value = (
2,
11,
5,
2,
4,
5,
4,
2,
2,
4
);
}
);
instanceInterpolations = {
master01 = 1;
};
name = Regular;
},
{
axesValues = (
500
);
customParameters = (
{
name = panose;
value = (
2,
11,
6,
2,
4,
5,
4,
2,
2,
4
);
}
);
instanceInterpolations = {
"26E2967D-790C-4793-AF2A-2D0AD74EDC69" = 0.33333;
master01 = 0.66667;
};
name = Medium;
weightClass = 500;
},
{
axesValues = (
600
);
customParameters = (
{
name = panose;
value = (
2,
11,
7,
2,
4,
5,
4,
2,
2,
4
);
}
);
instanceInterpolations = {
"26E2967D-790C-4793-AF2A-2D0AD74EDC69" = 0.66667;
master01 = 0.33333;
};
name = "Semi Bold";
weightClass = 600;
},
{
axesValues = (
700
);
customParameters = (
{
name = panose;
value = (
2,
11,
5,
2,
4,
5,
4,
2,
2,
4
);
}
);
instanceInterpolations = {
"26E2967D-790C-4793-AF2A-2D0AD74EDC69" = 1;
};
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = 700;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
numbers = (
{
name = year_width;
},
{
name = year_correction;
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2022 The Noto Project Authors (https://github.com/notofonts/arabic)";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Monotype Design Team, David Williams, Mohamad Dakak and Nizar Qandah";
}
);
},
{
key = designerURL;
value = "http://www.monotype.com/studio";
},
{
key = manufacturers;
values = (
{
language = dflt;
value = "Monotype Imaging Inc.";
}
);
},
{
key = manufacturerURL;
value = "http://www.google.com/get/noto/";
},
{
key = vendorID;
value = GOOG;
},
{
key = trademarks;
values = (
{
language = dflt;
value = "Noto is a trademark of Google LLC.";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL";
}
);
},
{
key = licenseURL;
value = "https://scripts.sil.org/OFL";
},
{
key = descriptions;
values = (
{
language = dflt;
value = "Monotype Design Team, David Williams, Mohamad Dakak and Nizar Qandah";
}
);
},
{
key = versionString;
value = "Version 2.016";
}
);
settings = {
disablesNiceNames = 1;
};
unitsPerEm = 1000;
userData = {
UFOFormat = 2;
};
versionMajor = 2;
versionMinor = 16;
}
