(
"hamza-ar",
"highhamza-ar",
"alef-ar",
"alef-ar.small",
"alef-ar.fina",
"alef-ar.fina.rlig",
"alef-ar.fina.rlig.2",
"alef-ar.fina.small",
"alefHamzaabove-ar",
"alefHamzaabove-ar.fina",
"alefHamzabelow-ar",
"alefHamzabelow-ar.fina",
"alefWavyhamzaabove-ar",
"alefWavyhamzabelow-ar",
"alefMadda-ar",
"alefMadda-ar.fina",
"alefWasla-ar",
"alefWasla-ar.fina",
"alefFathatan-ar",
"alefFathatan-ar.fina",
"highhamzaAlef-ar",
"highhamzaAlef-ar.fina",
"behDotless-ar",
"behDotless-ar.wide",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.init",
"behDotless-ar.init.wide",
"beh-ar",
"beh-ar.fina",
"beh-ar.medi",
"beh-ar.init",
"peh-ar",
"peh-ar.fina",
"peh-ar.medi",
"peh-ar.init",
"pehVabove-ar",
"beeh-ar",
"beeh-ar.fina",
"beeh-ar.medi",
"beeh-ar.init",
"beheh-ar",
"beheh-ar.fina",
"beheh-ar.medi",
"beheh-ar.init",
"alefMaksura-ar.medi",
"alefMaksura-ar.init",
"teh-ar",
"teh-ar.fina",
"teh-ar.medi",
"teh-ar.init",
"tehRing-ar",
"tehThreedotsdown-ar",
"theh-ar",
"theh-ar.fina",
"theh-ar.medi",
"theh-ar.init",
"tteh-ar",
"tteh-ar.fina",
"tteh-ar.medi",
"tteh-ar.init",
"tteheh-ar",
"tteheh-ar.fina",
"tteheh-ar.medi",
"tteheh-ar.init",
"teheh-ar",
"teheh-ar.fina",
"teheh-ar.medi",
"teheh-ar.init",
"behThreedotshorizontalbelow-ar",
"behThreedotsupabove-ar",
"behThreedotsupbelow-ar",
"tehThreedotsupbelow-ar",
"behTwodotsbelowDotabove-ar",
"behVinvertedbelow-ar",
"behVabove-ar",
"behVbelow-ar",
"ttehVabove-ar",
"behhamzaabove-ar",
"jeemThreedotsabove-ar",
"jeem-ar",
"jeem-ar.fina",
"jeem-ar.medi",
"jeem-ar.init",
"tcheh-ar",
"tcheh-ar.fina",
"tcheh-ar.medi",
"tcheh-ar.init",
"tchehVabove-ar",
"tcheheh-ar",
"tcheheh-ar.fina",
"tcheheh-ar.medi",
"tcheheh-ar.init",
"tchehDotabove-ar",
"nyeh-ar",
"nyeh-ar.fina",
"nyeh-ar.medi",
"nyeh-ar.init",
"dyeh-ar",
"dyeh-ar.fina",
"dyeh-ar.medi",
"dyeh-ar.init",
"hah-ar",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.init",
"hahHamzaabove-ar",
"hahTwodotsverticalabove-ar",
"hahTwodotshorizontalabove-ar",
"hahThreedotsabove-ar",
"hahThreedotsupbelow-ar",
"khah-ar",
"khah-ar.fina",
"khah-ar.medi",
"khah-ar.init",
"hahTahbelow-ar",
"hahTahTwodotshorizontalbelow-ar",
"hahFourbelow-ar",
"hahFourbelow-ar.fina",
"hahFourbelow-ar.medi",
"hahFourbelow-ar.init",
"jeemTwodotsabove-ar",
"dal-ar",
"dal-ar.fina",
"thal-ar",
"thal-ar.fina",
"thalAlefabove-ar",
"thalAlefabove-ar.fina",
"ddal-ar",
"ddal-ar.fina",
"dahal-ar",
"dahal-ar.fina",
"ddahal-ar",
"ddahal-ar.fina",
"dalRing-ar",
"dalRing-ar.fina",
"dalDotbelow-ar",
"dalDotbelowTah-ar",
"dul-ar",
"dul-ar.fina",
"dalThreedotsdown-ar",
"dalFourdots-ar",
"dalVinvertedabove-ar",
"dalTwodotsverticalbelowTah-ar",
"dalVinvertedbelow-ar",
"dalThreedotsbelow-ar",
"reh-ar",
"reh-ar.fina",
"zain-ar",
"zain-ar.fina",
"zainVinvertedabove-ar",
"ainThreedotsbelow-ar",
"kafDotbelow-ar",
"rreh-ar",
"rreh-ar.fina",
"rehv-ar",
"rehRing-ar",
"rehRing-ar.fina",
"rehDotbelow-ar",
"rehDotbelow-ar.fina",
"rehVbelow-ar",
"rehDotbelowdotabove-ar",
"rehDotbelowdotabove-ar.fina",
"rehTwodots-ar",
"rehTwodots-ar.fina",
"jeh-ar",
"jeh-ar.fina",
"rehFourdots-ar",
"rehVinvertedabove-ar",
"rehVinvertedabove-ar.fina",
"rehStroke-ar",
"rehStroke-ar.fina",
"rehTwodotsverticalabove-ar",
"rehTwodotsverticalabove-ar.fina",
"rehHamzaabove-ar",
"rehHamzaabove-ar.fina",
"rehTwodotshorizontalaboveTahabove-ar",
"rehTwodotshorizontalaboveTahabove-ar.fina",
"rehAlefabove-ar",
"rehAlefabove-ar.fina",
"rehLoop-ar",
"rehLoop-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"seenDotbelowDotabove-ar",
"seenThreedotsbelow-ar",
"sheen-ar",
"sheen-ar.fina",
"sheen-ar.medi",
"sheen-ar.init",
"sheenDotbelow-ar",
"sheenThreedotsbelow-ar",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"sadTwodotsbelow-ar",
"sadThreedots-ar",
"sadThreedotsbelow-ar",
"dad-ar",
"dad-ar.fina",
"dad-ar.medi",
"dad-ar.init",
"dadDotbelow-ar",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"tahThreedots-ar",
"zah-ar",
"zah-ar.fina",
"zah-ar.medi",
"zah-ar.init",
"tahTwodotsabove-ar",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ainThreedots-ar",
"ghain-ar",
"ghain-ar.fina",
"ghain-ar.medi",
"ghain-ar.init",
"ghainDotbelow-ar",
"ghainThreedotsabove-ar",
"feh-ar",
"feh-ar.fina",
"feh-ar.medi",
"feh-ar.init",
"veh-ar",
"veh-ar.fina",
"veh-ar.medi",
"veh-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"fehDotmovedbelow-ar",
"fehDotbelow-ar",
"fehThreedotsbelow-ar",
"fehDotbelowThreedotsabove-ar",
"peheh-ar",
"peheh-ar.fina",
"peheh-ar.medi",
"peheh-ar.init",
"fehAfrican-ar",
"qafDotless-ar",
"qafDotless-ar.medi",
"qafDotless-ar.init",
"qafDotless-ar.fina",
"qaf-ar",
"qaf-ar.fina",
"qaf-ar.medi",
"qaf-ar.init",
"qafDotabove-ar",
"qafDotabove-ar.fina",
"qafThreedotsabove-ar",
"qafThreedotsabove-ar.fina",
"qafDotbelow-ar",
"qafAfrican-ar",
"qafThreedotsaboveAfrican-ar",
"kaf-ar",
"kaf-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.fina",
"keheh-ar.medi",
"keheh-ar.init",
"kehehTwodotshorizontalabove-ar",
"kehehThreedotsbelow-ar",
"kehehDotabove-ar",
"kehehThreedotsabove-ar",
"kehehThreedotsupbelow-ar",
"kehehVabove-ar",
"gaf-ar",
"gaf-ar.fina",
"gaf-ar.medi",
"gaf-ar.init",
"gafRing-ar",
"gafThreedots-ar",
"kafswash-ar",
"kafswash-ar.fina",
"kafswash-ar.medi",
"kafswash-ar.init",
"kafRing-ar",
"kafDotabove-ar",
"kafTwodotshorizontalabove-ar",
"kafTwodotshorizontalabove-ar.fina",
"kafTwodotshorizontalabove-ar.medi",
"kafTwodotshorizontalabove-ar.init",
"kafThreedotsbelow-ar",
"gafTwodotsbelow-ar",
"ng-ar",
"ng-ar.fina",
"ng-ar.medi",
"ng-ar.init",
"ngoeh-ar",
"ngoeh-ar.fina",
"ngoeh-ar.medi",
"ngoeh-ar.init",
"gueh-ar",
"gueh-ar.fina",
"gueh-ar.medi",
"gueh-ar.init",
"lam-ar",
"lam-ar.rlig",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.medi.rlig",
"lam-ar.init",
"lamVabove-ar",
"lamDotabove-ar",
"lamThreedotsabove-ar",
"lamThreedotsbelow-ar",
"lamDoublebar-ar",
"lamTahabove-ar",
"meem-ar",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.init",
"meemThreedotsabove-ar",
"noon-ar",
"noon-ar.fina",
"noon-ar.medi",
"noon-ar.init",
"noonDotbelow-ar",
"noonghunna-ar",
"noonghunna-ar.medi",
"noonghunna-ar.init",
"noonghunna-ar.fina",
"rnoon-ar",
"rnoon-ar.fina",
"noonRing-ar",
"noonRing-ar.fina",
"noonRing-ar.medi",
"noonRing-ar.init",
"noonThreedotsabove-ar",
"noonAfrican-ar",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehHamzaabove-ar",
"hehHamzaabove-ar.fina",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.medi",
"hehgoal-ar.init",
"hehgoalHamzaabove-ar",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.init",
"hehVinvertedabove-ar",
"hehAlefabove-ar.init",
"tehMarbuta-ar",
"tehMarbuta-ar.fina",
"tehMarbutagoal-ar",
"tehMarbutagoal-ar.fina",
"tehVabove-ar",
"waw-ar",
"waw-ar.fina",
"wawring-ar",
"wawring-ar.fina",
"wawTwodots-ar",
"wawDotabove-ar",
"wawHamzaabove-ar",
"wawHamzaabove-ar.fina",
"wawTwoabove-ar",
"wawTwoabove-ar.fina",
"wawThreeAbove-ar",
"wawThreeAbove-ar.fina",
"wawDotcenter-ar",
"wawDotcenter-ar.fina",
"wawStraight-ar",
"kirghizoe-ar",
"kirghizoe-ar.fina",
"oe-ar",
"oe-ar.fina",
"u-ar",
"u-ar.fina",
"yu-ar",
"yu-ar.fina",
"kirghizyu-ar",
"kirghizyu-ar.fina",
"ve-ar",
"ve-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"alefMaksuraAlefabove-ar",
"alefMaksuraAlefabove-ar.fina",
"alefTwoabove-ar",
"alefTwoabove-ar.fina",
"alefTwoabove-ar.fina.rlig",
"alefTwoabove-ar.fina.rlig.2",
"alefThreeabove-ar",
"alefThreeabove-ar.fina",
"alefThreeabove-ar.fina.rlig",
"alefThreeabove-ar.fina.rlig.2",
"yeh-ar",
"yeh-ar.fina",
"yeh-ar.medi",
"yeh-ar.init",
"yehHamzaabove-ar",
"yehHamzaabove-ar.fina",
"yehHamzaabove-ar.medi",
"yehHamzaabove-ar.init",
"yehVabove-ar",
"yehTwodotsbelowHamzaabove-ar",
"yehTwodotsbelowDotabove-ar",
"yehVinverted-farsi",
"yeh-farsi",
"yeh-farsi.fina",
"yeh-farsi.medi",
"yeh-farsi.init",
"yehTwodotsabove-farsi",
"yehThreedotsabove-farsi",
"yehTwoabove-farsi",
"yehTwoabove-farsi.fina",
"yehTwoabove-farsi.medi",
"yehTwoabove-farsi.init",
"yehThreeabove-farsi",
"yehThreeabove-farsi.fina",
"yehThreeabove-farsi.medi",
"yehThreeabove-farsi.init",
"yehFourbelow-farsi",
"yehFourbelow-farsi.fina",
"yehFourbelow-farsi.medi",
"yehFourbelow-farsi.init",
"yehTail-ar",
"yehTail-ar.fina",
"yehKashmiri-ar",
"yehKashmiri-ar.fina",
"yehKashmiri-ar.medi",
"yehKashmiri-ar.init",
"e-ar",
"e-ar.fina",
"e-ar.medi",
"e-ar.init",
"yehThreedotsbelow-ar",
"yehThreedotsbelow-ar.fina",
"yehbarree-ar",
"yehbarree-ar.fina",
"yehbarreeHamzaabove-ar",
"yehbarreeHamzaabove-ar.fina",
"yehbarreeTwoabove-ar",
"yehbarreeTwoabove-ar.fina",
"yehbarreeTwoabove-ar.medi",
"yehbarreeTwoabove-ar.init",
"yehbarreeThreeabove-ar",
"yehbarreeThreeabove-ar.fina",
"yehbarreeThreeabove-ar.medi",
"yehbarreeThreeabove-ar.init",
"yehRohingya-ar",
"highhamzaWaw-ar",
"highhamzaWaw-ar.fina",
"uHamzaabove-ar",
"uHamzaabove-ar.fina",
"highhamzaYeh-ar",
"highhamzaYeh-ar.fina",
"highhamzaYeh-ar.medi",
"highhamzaYeh-ar.init",
"ae-ar",
"seenFourdotsabove-ar",
"ainTwodotshorizontalabove-ar",
"ainThreedotsdownabove-ar",
"ainTwodotsverticalabove-ar",
"fehTwodotsbelow-ar",
"fehThreedotsupbelow-ar",
"meemDotabove-ar",
"meemDotbelow-ar",
"noonTwodotsbelow-ar",
"noonTahabove-ar",
"noonVabove-ar",
"lamBar-ar",
"seenTwodotsverticalabove-ar",
"seenTahTwodotshorizontalabove-ar",
"hahTahabove-ar",
"seenFourabove-ar",
"seenFourabove-ar.fina",
"seenFourabove-ar.medi",
"seenFourabove-ar.init",
"seenVinvertedabove-ar",
"qaf_lam_yeh-ar",
"fathatan-ar.medi",
"kashidaFina-ar",
"kasra-ar.medi",
"kashida-ar",
"fatha-ar.medi",
"damma-ar.medi",
"shadda-ar.medi",
"shadda_fatha-ar.medi",
"shadda_damma-ar.medi",
"shadda_kasra-ar.medi",
"sukun-ar.medi",
"wawSmall-ar",
"yehSmall-ar",
"lam_alef-ar",
"lam_alef-ar.fina",
"lam_alefHamzaabove-ar",
"lam_alefHamzaabove-ar.fina",
"lam_alefHamzabelow-ar",
"lam_alefHamzabelow-ar.fina",
"lam_alefMadda-ar",
"lam_alefMadda-ar.fina",
"lam_alefMaksura-ar",
"lam_alefMaksura-ar.fina",
"year-ar",
"lam_alef-ar.fina_alefTwoabove-ar",
"lam_alef-ar.fina_alefThreeabove-ar",
"beh_jeem-ar",
"beh_jeem-ar.init",
"beh_hah-ar",
"beh_hah-ar.init",
"beh_hah_yeh-ar.fina",
"beh_khah-ar",
"beh_khah-ar.init",
"beh_khah_yeh-ar.fina",
"beh_reh-ar.fina",
"beh_zain-ar.fina",
"beh_meem-ar",
"beh_meem-ar.fina",
"beh_meem-ar.medi",
"beh_meem-ar.init",
"beh_noon-ar.fina",
"beh_heh-ar.medi",
"beh_heh-ar.init",
"beh_alefMaksura-ar",
"beh_alefMaksura-ar.fina",
"beh_yeh-ar",
"beh_yeh-ar.fina",
"teh_jeem-ar",
"teh_jeem-ar.init",
"teh_jeem_meem-ar.init",
"teh_jeem_alefMaksura-ar.fina",
"teh_jeem_yeh-ar.fina",
"teh_hah-ar",
"teh_hah-ar.init",
"teh_hah_jeem-ar.fina",
"teh_hah_jeem-ar.init",
"teh_hah_meem-ar.init",
"teh_khah-ar",
"teh_khah-ar.init",
"teh_khah_meem-ar.init",
"teh_khah_alefMaksura-ar.fina",
"teh_khah_yeh-ar.fina",
"teh_reh-ar.fina",
"teh_zain-ar.fina",
"teh_meem-ar",
"teh_meem-ar.fina",
"teh_meem-ar.medi",
"teh_meem-ar.init",
"teh_meem_jeem-ar.init",
"teh_meem_hah-ar.init",
"teh_meem_khah-ar.init",
"teh_meem_alefMaksura-ar.fina",
"teh_meem_yeh-ar.fina",
"teh_noon-ar.fina",
"teh_heh-ar.medi",
"teh_heh-ar.init",
"teh_alefMaksura-ar",
"teh_alefMaksura-ar.fina",
"teh_yeh-ar",
"teh_yeh-ar.fina",
"theh_jeem-ar",
"theh_reh-ar.fina",
"theh_zain-ar.fina",
"theh_meem-ar",
"theh_meem-ar.fina",
"theh_meem-ar.medi",
"theh_meem-ar.init",
"theh_noon-ar.fina",
"theh_heh-ar.medi",
"theh_alefMaksura-ar",
"theh_alefMaksura-ar.fina",
"theh_yeh-ar",
"theh_yeh-ar.fina",
"jeem_hah-ar",
"jeem_hah-ar.init",
"jeem_hah_alefMaksura-ar.fina",
"jeem_hah_yeh-ar.fina",
"jeem_meem-ar",
"jeem_meem-ar.init",
"jeem_meem_hah-ar.fina",
"jeem_meem_hah-ar.init",
"jeem_meem_alefMaksura-ar.fina",
"jeem_meem_yeh-ar.fina",
"jeem_alefMaksura-ar",
"jeem_alefMaksura-ar.fina",
"jeem_yeh-ar",
"jeem_yeh-ar.fina",
"hah_jeem-ar",
"hah_jeem-ar.init",
"hah_jeem_yeh-ar.fina",
"hah_meem-ar",
"hah_meem-ar.init",
"hah_meem_alefMaksura-ar.fina",
"hah_meem_yeh-ar.fina",
"hah_alefMaksura-ar",
"hah_alefMaksura-ar.fina",
"hah_yeh-ar",
"hah_yeh-ar.fina",
"khah_jeem-ar",
"khah_jeem-ar.init",
"khah_hah-ar",
"khah_meem-ar",
"khah_meem-ar.init",
"khah_alefMaksura-ar",
"khah_alefMaksura-ar.fina",
"khah_yeh-ar",
"khah_yeh-ar.fina",
"seen_jeem-ar",
"seen_jeem-ar.medi",
"seen_jeem-ar.init",
"seen_jeem_hah-ar.init",
"seen_jeem_alefMaksura-ar.fina",
"seen_hah-ar",
"seen_hah-ar.medi",
"seen_hah-ar.init",
"seen_hah_jeem-ar.init",
"seen_khah-ar",
"seen_khah-ar.medi",
"seen_khah-ar.init",
"seen_khah_alefMaksura-ar.fina",
"seen_khah_yeh-ar.fina",
"seen_reh-ar",
"seen_reh-ar.fina",
"seen_meem-ar",
"seen_meem-ar.medi",
"seen_meem-ar.init",
"seen_meem_jeem-ar.init",
"seen_meem_hah-ar.fina",
"seen_meem_hah-ar.init",
"seen_meem_meem-ar.fina",
"seen_meem_meem-ar.init",
"seen_heh-ar.medi",
"seen_heh-ar.init",
"seen_alefMaksura-ar",
"seen_alefMaksura-ar.fina",
"seen_yeh-ar",
"seen_yeh-ar.fina",
"sheen_jeem-ar",
"sheen_jeem-ar.fina",
"sheen_jeem-ar.medi",
"sheen_jeem-ar.init",
"sheen_jeem_yeh-ar.fina",
"sheen_hah-ar",
"sheen_hah-ar.fina",
"sheen_hah-ar.medi",
"sheen_hah-ar.init",
"sheen_hah_meem-ar.fina",
"sheen_hah_meem-ar.init",
"sheen_hah_yeh-ar.fina",
"sheen_khah-ar",
"sheen_khah-ar.fina",
"sheen_khah-ar.medi",
"sheen_khah-ar.init",
"sheen_reh-ar",
"sheen_reh-ar.fina",
"sheen_meem-ar",
"sheen_meem-ar.fina",
"sheen_meem-ar.medi",
"sheen_meem-ar.init",
"sheen_meem_khah-ar.fina",
"sheen_meem_khah-ar.init",
"sheen_meem_meem-ar.fina",
"sheen_meem_meem-ar.init",
"sheen_heh-ar.medi",
"sheen_heh-ar.init",
"sheen_alefMaksura-ar",
"sheen_alefMaksura-ar.fina",
"sheen_yeh-ar",
"sheen_yeh-ar.fina",
"sad_hah-ar",
"sad_hah-ar.init",
"sad_hah_hah-ar.fina",
"sad_hah_hah-ar.init",
"sad_hah_yeh-ar.fina",
"sad_khah-ar.init",
"sad_reh-ar",
"sad_reh-ar.fina",
"sad_lam_yeh-ar",
"sad_meem-ar",
"sad_meem-ar.init",
"sad_meem_meem-ar.fina",
"sad_meem_meem-ar.init",
"sad_alefMaksura-ar",
"sad_alefMaksura-ar.fina",
"sad_yeh-ar",
"sad_yeh-ar.fina",
"dad_jeem-ar",
"dad_jeem-ar.init",
"dad_hah-ar",
"dad_hah-ar.init",
"dad_hah_alefMaksura-ar.fina",
"dad_hah_yeh-ar.fina",
"dad_khah-ar",
"dad_khah-ar.init",
"dad_khah_meem-ar.fina",
"dad_khah_meem-ar.init",
"dad_reh-ar",
"dad_reh-ar.fina",
"dad_meem-ar",
"dad_meem-ar.init",
"dad_alefMaksura-ar",
"dad_alefMaksura-ar.fina",
"dad_yeh-ar",
"dad_yeh-ar.fina",
"tah_hah-ar",
"tah_hah-ar.init",
"tah_meem-ar",
"tah_meem-ar.medi",
"tah_meem-ar.init",
"tah_meem_hah-ar.fina",
"tah_meem_hah-ar.init",
"tah_meem_meem-ar.init",
"tah_meem_yeh-ar.fina",
"tah_alefMaksura-ar",
"tah_alefMaksura-ar.fina",
"tah_yeh-ar",
"tah_yeh-ar.fina",
"zah_meem-ar",
"zah_meem-ar.medi",
"zah_meem-ar.init",
"ain_jeem-ar",
"ain_jeem-ar.init",
"ain_jeem_meem-ar.fina",
"ain_jeem_meem-ar.init",
"ain_meem-ar",
"ain_meem-ar.init",
"ain_meem_meem-ar.fina",
"ain_meem_meem-ar.init",
"ain_meem_alefMaksura-ar.fina",
"ain_meem_yeh-ar.fina",
"ain_alefMaksura-ar",
"ain_alefMaksura-ar.fina",
"ain_yeh-ar",
"ain_yeh-ar.fina",
"ghain_jeem-ar",
"ghain_jeem-ar.init",
"ghain_meem-ar",
"ghain_meem-ar.init",
"ghain_meem_meem-ar.fina",
"ghain_meem_alefMaksura-ar.fina",
"ghain_meem_yeh-ar.fina",
"ghain_alefMaksura-ar",
"ghain_alefMaksura-ar.fina",
"ghain_yeh-ar",
"ghain_yeh-ar.fina",
"feh_jeem-ar",
"feh_jeem-ar.init",
"feh_hah-ar",
"feh_hah-ar.init",
"feh_khah-ar",
"feh_khah-ar.init",
"feh_khah_meem-ar.fina",
"feh_khah_meem-ar.init",
"feh_meem-ar",
"feh_meem-ar.init",
"feh_meem_yeh-ar.fina",
"feh_alefMaksura-ar",
"feh_alefMaksura-ar.fina",
"feh_yeh-ar",
"feh_yeh-ar.fina",
"qaf_hah-ar",
"qaf_hah-ar.init",
"qaf_meem-ar",
"qaf_meem-ar.init",
"qaf_meem_hah-ar.fina",
"qaf_meem_hah-ar.init",
"qaf_meem_meem-ar.fina",
"qaf_meem_yeh-ar.fina",
"qaf_alefMaksura-ar",
"qaf_alefMaksura-ar.fina",
"qaf_yeh-ar",
"qaf_yeh-ar.fina",
"kaf_alef-ar",
"kaf_alef-ar.fina",
"kaf_jeem-ar",
"kaf_jeem-ar.init",
"kaf_hah-ar",
"kaf_hah-ar.init",
"kaf_khah-ar",
"kaf_khah-ar.init",
"kaf_lam-ar",
"kaf_lam-ar.fina",
"kaf_lam-ar.medi",
"kaf_lam-ar.init",
"kaf_meem-ar",
"kaf_meem-ar.fina",
"kaf_meem-ar.medi",
"kaf_meem-ar.init",
"kaf_meem_meem-ar.fina",
"kaf_meem_meem-ar.init",
"kaf_meem_yeh-ar.fina",
"kaf_alefMaksura-ar",
"kaf_alefMaksura-ar.fina",
"kaf_yeh-ar",
"kaf_yeh-ar.fina",
"lam_jeem-ar",
"lam_jeem-ar.init",
"lam_jeem_jeem-ar.fina",
"lam_jeem_jeem-ar.init",
"lam_jeem_meem-ar.fina",
"lam_jeem_meem-ar.init",
"lam_jeem_yeh-ar.fina",
"lam_hah-ar",
"lam_hah-ar.init",
"lam_hah_meem-ar.fina",
"lam_hah_meem-ar.init",
"lam_hah_alefMaksura-ar.fina",
"lam_hah_yeh-ar.fina",
"lam_khah-ar",
"lam_khah-ar.init",
"lam_khah_meem-ar.fina",
"lam_khah_meem-ar.init",
"lam_meem-ar",
"lam_meem-ar.fina",
"lam_meem-ar.medi",
"lam_meem-ar.init",
"lam_meem_hah-ar.fina",
"lam_meem_hah-ar.init",
"lam_meem_yeh-ar.fina",
"lam_heh-ar.init",
"lam_yeh-ar",
"lam_yeh-ar.fina",
"meem_alef-ar.fina",
"meem_jeem-ar",
"meem_jeem-ar.init",
"meem_jeem_hah-ar.init",
"meem_jeem_khah-ar.init",
"meem_jeem_meem-ar.init",
"meem_jeem_yeh-ar.fina",
"meem_hah-ar",
"meem_hah-ar.init",
"meem_hah_jeem-ar.init",
"meem_hah_meem-ar.init",
"meem_hah_yeh-ar.fina",
"meem_khah-ar",
"meem_khah-ar.init",
"meem_khah_jeem-ar.init",
"meem_khah_meem-ar.init",
"meem_khah_yeh-ar.fina",
"meem_meem-ar",
"meem_meem-ar.fina",
"meem_meem-ar.init",
"meem_meem_yeh-ar.fina",
"meem_alefMaksura-ar",
"meem_yeh-ar",
"noon_jeem-ar",
"noon_jeem-ar.init",
"noon_jeem_hah-ar.fina",
"noon_jeem_hah-ar.init",
"noon_jeem_meem-ar.fina",
"noon_jeem_meem-ar.init",
"noon_jeem_alefMaksura-ar.fina",
"noon_jeem_yeh-ar.fina",
"noon_hah-ar",
"noon_hah-ar.init",
"noon_hah_meem-ar.init",
"noon_hah_alefMaksura-ar.fina",
"noon_hah_yeh-ar.fina",
"noon_khah-ar",
"noon_khah-ar.init",
"noon_reh-ar.fina",
"noon_zain-ar.fina",
"noon_meem-ar",
"noon_meem-ar.fina",
"noon_meem-ar.medi",
"noon_meem-ar.init",
"noon_meem_alefMaksura-ar.fina",
"noon_meem_yeh-ar.fina",
"noon_noon-ar.fina",
"noon_heh-ar.medi",
"noon_heh-ar.init",
"noon_alefMaksura-ar",
"noon_alefMaksura-ar.fina",
"noon_yeh-ar",
"noon_yeh-ar.fina",
"heh_jeem-ar",
"heh_jeem-ar.init",
"heh_meem-ar",
"heh_meem-ar.init",
"heh_meem_jeem-ar.init",
"heh_meem_meem-ar.init",
"heh_alefMaksura-ar",
"heh_yeh-ar",
"yeh_jeem-ar",
"yeh_jeem-ar.init",
"yeh_jeem_yeh-ar.fina",
"yeh_hah-ar",
"yeh_hah-ar.init",
"yeh_hah_yeh-ar.fina",
"yeh_khah-ar",
"yeh_khah-ar.init",
"yeh_reh-ar.fina",
"yeh_zain-ar.fina",
"yeh_meem-ar",
"yeh_meem-ar.fina",
"yeh_meem-ar.medi",
"yeh_meem-ar.init",
"yeh_meem_meem-ar.fina",
"yeh_meem_meem-ar.init",
"yeh_meem_yeh-ar.fina",
"yeh_noon-ar.fina",
"yeh_heh-ar.medi",
"yeh_heh-ar.init",
"yeh_alefMaksura-ar",
"yeh_alefMaksura-ar.fina",
"yeh_yeh-ar",
"yeh_yeh-ar.fina",
"yehHamzaabove_alef-ar",
"yehHamzaabove_alef-ar.fina",
"yehHamzaabove_jeem-ar",
"yehHamzaabove_jeem-ar.init",
"yehHamzaabove_hah-ar",
"yehHamzaabove_hah-ar.init",
"yehHamzaabove_khah-ar.init",
"yehHamzaabove_reh-ar.fina",
"yehHamzaabove_zain-ar.fina",
"yehHamzaabove_meem-ar",
"yehHamzaabove_meem-ar.fina",
"yehHamzaabove_meem-ar.medi",
"yehHamzaabove_meem-ar.init",
"yehHamzaabove_noon-ar.fina",
"yehHamzaabove_heh-ar.medi",
"yehHamzaabove_heh-ar.init",
"yehHamzaabove_waw-ar",
"yehHamzaabove_waw-ar.fina",
"yehHamzaabove_oe-ar",
"yehHamzaabove_oe-ar.fina",
"yehHamzaabove_u-ar",
"yehHamzaabove_u-ar.fina",
"yehHamzaabove_yu-ar",
"yehHamzaabove_yu-ar.fina",
"yehHamzaabove_alefMaksura-ar",
"yehHamzaabove_alefMaksura-ar.fina",
"yehHamzaabove_yeh-ar",
"yehHamzaabove_yeh-ar.fina",
"yehHamzaabove_e-ar",
"yehHamzaabove_e-ar.fina",
"yehHamzaabove_e-ar.init",
"yehHamzaabove_ae-ar",
"yehHamzaabove_ae-ar.fina",
"uighurkirghizyehHamzaabove_alefMaksura-ar",
"uighurkirghizyehHamzaabove_alefMaksura-ar.fina",
"uighurkirghizyehHamzaabove_alefMaksura-ar.init",
"allah-ar",
"allah-ar.2",
"akbar-ar",
"mohammad-ar",
"salam-ar",
"rasoul-ar",
"alayhe-ar",
"wasallam-ar",
"salla-ar",
"allahlong-ar",
"jallajalalouhou-ar",
"allah-ar.001",
"decimalseparator-ar",
"thousandseparator-ar",
"decimalseparator-ar.locl",
"decimalseparator-ar.1",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"zero-persian",
"one-persian",
"two-persian",
"three-persian",
"four-persian",
"five-persian",
"six-persian",
"seven-persian",
"eight-persian",
"nine-persian",
"four-persian.locl",
"seven-persian.locl",
"four-persian.locl.tf",
"seven-persian.locl.tf",
"zero-ar.tf",
"one-ar.tf",
"two-ar.tf",
"three-ar.tf",
"four-ar.tf",
"five-ar.tf",
"six-ar.tf",
"seven-ar.tf",
"eight-ar.tf",
"nine-ar.tf",
"four-persian.tf",
"five-persian.tf",
"six-persian.tf",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
CR,
lefttorightmark,
righttoleftmark,
uni0000,
.notdef,
"doubleverticalbarbelow-ar",
"dotaboveSymbol-ar",
"dotbelowSymbol-ar",
"twodotsverticalaboveSymbol-ar",
"twodotsverticalbelowSymbol-ar",
"twodotshorizontalaboveSymbol-ar",
"twodotshorizontalbelowSymbol-ar",
"threedots-ar",
"threedotsdownaboveSymbol-ar",
"threedotsdownbelowSymbol-ar",
"threedotsupaboveSymbol-ar",
"threedotsupbelowSymbol-ar",
"fourdotsaboveSymbol-ar",
"fourdotsbelowSymbol-ar",
"ringSymbol-ar",
"hizb-ar",
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
"number-ar",
"asterisk-ar",
"footnotemarker-ar",
"footnotemarker-ar.ccmp",
"pagenumber-ar",
"dateseparator-ar",
"verseComma-ar",
"misraComma-ar",
"sindhiampersand-ar",
"endofayah-ar",
"parenleft-ar",
"parenright-ar",
period,
comma,
colon,
exclam,
commareversed,
reversedsemicolon,
period.locl,
exclam.locl,
hyphentwo,
nonbreakinghyphen,
guillemetleft,
guillemetright,
guillemetleft.locl,
guillemetright.locl,
"samvat-ar",
"bismillah-ar",
"sajdah-ar",
"sindhipostpositionmen-ar",
"ray-ar",
"afghani-ar",
rial,
"percent-ar",
"cuberoot-ar",
"fourthroot-ar",
"perthousand-ar",
"pertenthousand-ar",
dottedCircle,
"rehHahabove-ar",
"rehDadabove-ar",
"sadabove-ar",
"ainabove-ar",
"takhallusabove-ar",
"tahabove-ar",
"tahabove-ar.thin",
"tahcenter-ar",
"tahbelow-ar",
"alefLamYehabove-ar",
"zainabove-ar",
"fathasmall-ar",
"dammasmall-ar",
"kasrasmall-ar",
"dotabove-ar",
"dotabove-ar.small",
"dotbelow-ar",
"dotcenter-ar",
"twodotsverticalabove-ar",
"twodotsverticalbelow-ar",
"twodotsverticalcenter-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalabove-ar.diagonal",
"twodotshorizontalbelow-ar",
"twodotshorizontalcenter-ar",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsdowncenter-ar",
"threedotsupabove-ar",
"threedotsupabove-ar.diagonal",
"threedotsupbelow-ar",
"threedotsupcenter-ar",
"threedotshorizontalbelow-ar",
"fourdotsabove-ar",
"fourdotsbelow-ar",
"fourdotscenter-ar",
"fourbelow-ar",
"threeabove-ar",
"twoabove-ar",
"wasla-ar",
"wavyhamzaabove-ar",
"wavyhamzabelow-ar",
"ring-ar",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzaabove-ar.twentypercent",
"hamzaabove-ar_sukun-ar",
"hamzabelow-ar",
"fathatan-ar",
"fathatan-ar_hamzaabove-ar",
"fathatan-ar_shadda-ar",
"dammatan-ar",
"dammatan-ar_hamzaabove-ar",
"kasratan-ar",
"kasratan-ar_hamzabelow-ar",
"kasratan-ar_shadda-ar",
"fatha-ar",
"fatha-ar_hamzaabove-ar",
"fatha-ar_shadda-ar",
"damma-ar",
"damma-ar_hamzaabove-ar",
"kasra-ar",
"kasra-ar_hamzabelow-ar",
"kasra-ar_shadda-ar",
"shadda-ar",
"shadda-ar_alefabove-ar",
"shadda-ar_alefabove-ar.small",
"dammatan-ar_shadda-ar",
"damma-ar_shadda-ar",
"sukun-ar",
"madda-ar",
"noonghunnaabove-ar",
"dammainverted-ar",
"fathaHorizont-ar",
"vabove-ar",
"vabove-ar.near",
"vbelow-ar",
"vinvertedabove-ar",
"vinvertedbelow-ar",
"dotvowelbelow-ar",
"dammareversed-ar",
"fathatwodots-ar",
"sadLamAlefMaksuraabove-ar",
"qafLamAlefMaksuraabove-ar",
"meemabove-ar",
"meemStopabove-ar",
"lamAlefabove-ar",
"jeemabove-ar",
"threedotsabove-ar",
"seenabove-ar",
"sukunround-ar",
"sukunoval-ar",
"hahabove-ar",
"seenbelow-ar",
"maddalong-ar",
"yehabove-ar",
"noonabove-ar",
"rhombusStopbelow-ar",
"rhombusStopabove-ar",
"dotStopabove-ar",
"meembelow-ar",
"fathaCurly-ar",
"dammaCurly-ar",
"kasraCurly-ar",
"fathatanCurly-ar",
"dammatanCurly-ar",
"kasratanCurly-ar",
"toneonedotabove-ar",
"tonetwodotsabove-ar",
"toneloopabove-ar",
"toneonedotbelow-ar",
"tonetwodotsbelow-ar",
"toneloopbelow-ar",
"openfathatan-ar",
"opendammatan-ar",
"openkasratan-ar",
"highwaw-ar",
"fathaRing-ar",
"fathaDotabove-ar",
"kasraDotbelow-ar",
"leftarrowheadabove-ar",
"rightarrowheadabove-ar",
"leftarrowheadbelow-ar",
"rightarrowheadbelow-ar",
"doublerightarrowheadabove-ar",
"doublerightarrowheadDotabove-ar",
"rightarrowheadDotabove-ar",
"dammaDot-ar",
"zero-ar.ccmp",
"one-ar.ccmp",
"two-ar.ccmp",
"three-ar.ccmp",
"four-ar.ccmp",
"five-ar.ccmp",
"six-ar.ccmp",
"seven-ar.ccmp",
"eight-ar.ccmp",
"nine-ar.ccmp",
"four-persian.ccmp",
"five-persian.ccmp",
"six-persian.ccmp",
"six-persian.locl.ccmp",
"seven-persian.locl.ccmp",
"kasra-ar.isol",
"tahbelow-ar.spacing",
"fathatan-ar.isol",
"dammatan-ar.isol",
"kasratan-ar.isol",
"fatha-ar.isol",
"damma-ar.isol",
"shadda-ar.isol",
"shadda_dammatan-ar",
"shadda_kasratan-ar",
"shadda_fatha-ar",
"shadda_damma-ar",
"shadda_kasra-ar",
"shadda_alefabove-ar",
"sukun-ar.isol",
_twodotstah,
"bar-ar",
"dotinsidevabove-ar",
"doubleBar-ar",
"hamzabetween-ar",
"smallvabove-ar",
"sukunbelow-ar",
"bar-ar.wide",
zero.ccmp,
one.ccmp,
two.ccmp,
three.ccmp,
four.ccmp,
five.ccmp,
six.ccmp,
seven.ccmp,
eight.ccmp,
nine.ccmp,
"doubleBar-ar.wide",
"tahabove-ar.spacing",
"noonVinvertedabove-ar",
"tahDotbelow-ar",
"tahThreedotsbelow-ar",
"kehehTwodotsverticalbelow-ar",
"qafDotmovedbelow-ar",
"waslaSymbol-ar",
"_dotabove-ar",
"_dotbelow-ar",
"_threedotsupabove-ar",
"_threedotsupbelow-ar",
"_twodotshorizontalabove-ar",
"_twodotshorizontalbelow-ar",
"_twodotsverticalbelow-ar",
_1037,
_fourdots,
_hamza,
_tonetwodots,
_widener,
"dotamiddle-ar",
"fehdotless-ar",
"radical-ar",
"sarkash-ar",
"twodotstahbelow-ar",
"twodotstahcenter-ar",
"vinverted-ar",
_fatha.small,
"hahTahTwodotshorizontalbelow-ar.fina",
"hahTahTwodotshorizontalbelow-ar.init",
"hahTahTwodotshorizontalbelow-ar.medi",
"sarkash-ar.wide",
alrahem,
alrhman,
bsm
)