{
displayStrings = (
"ڰگ",
"ٔ ",
"ڧ",
"؁ࢉࢍࢌڟ࣐ࣇࢵࣅࣄࣃࣂࣁࣀࢿࢾࢽࢼࢻࢴﻲ",
"؁ع",
"/zero-ar.ccmp/one-ar.ccmp/two-ar.ccmp/three-ar.ccmp/four-ar.ccmp ﺎ/alef-ar.fina.small/alefTwoabove-ar.fina/six-ar.ccmp/seven-ar.ccmp/eight-ar.ccmp/nine-ar.ccmp/four-persian.ccmp/five-persian.ccmp/six-persian.ccmp/six-persian.locl.ccmp/seven-persian.locl.ccmp/zero.ccmp/one.ccmp/two.ccmp/three.ccmp/four.ccmp/five.ccmp/six.ccmp/seven.ccmp/eight.ccmp/nine.ccmp",
"؇"
);
}
