(
.notdef,
NULL,
CR,
space,
"hamza-ar",
"highhamza-ar",
"rounddot-ar",
"raisedrounddot-ar",
"alef-ar",
"alef-ar.fina",
"alef-ar.fina.rlig",
"alef-ar.fina.rlig.2",
"alef-ar.short",
"alef-ar.short.fina",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.medi.thin",
"behDotless-ar.medi.wide",
"behDotless-ar.init",
"behDotless-ar.init.thin",
"behDotless-ar.init.wide",
"hah-ar",
"hah-ar.wide",
"hah-ar.fina",
"hah-ar.fina.wide",
"hah-ar.medi",
"hah-ar.init",
"dal-ar",
"dal-ar.fina",
"reh-ar",
"reh-ar.fina",
"rehLoop-ar",
"rehLoop-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qafDotless-ar",
"qafDotless-ar.fina",
"yehRohingya-ar",
"yehRohingya-ar.fina",
"kafDotless-ar",
"kafDotless-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.fina",
"kafswash-ar",
"kafswash-ar.fina",
"kafswash-ar.medi",
"kafswash-ar.init",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.medi.rlig",
"lam-ar.init",
"lam-ar.init.rlig",
"meem-ar",
"meem-ar.locl",
"meem-ar.locl.fina",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.init",
"noonghunna-ar",
"noonghunna-ar.medi",
"noonghunna-ar.init",
"noonghunna-ar.fina",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.medi",
"hehgoal-ar.init",
"ae-ar",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.fina.locl",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.medi.locl",
"waw-ar",
"waw-ar.alt",
"waw-ar.fina",
"waw-ar.fina.alt",
"wawStraight-ar",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"yehbarree-ar",
"yehbarree-ar.fina",
"verticalTail-ar",
"kashidaHamza-ar",
"kashidaWaw-ar",
"tailFragment-ar",
"kashida-ar",
"kashida-ar.init",
"kashida-ar.wide",
"aleflow-ar",
"wawSmall-ar",
"yehSmall-ar",
"yehSmallFarsi-ar",
"decimalseparator-ar",
"thousandseparator-ar",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"zeroFarsi-ar",
"twoFarsi-ar",
"fourFarsi-ar",
"fiveFarsi-ar",
"sixFarsi-ar",
"sevenFarsi-ar",
"zero-ar.lf",
"one-ar.lf",
"two-ar.lf",
"three-ar.lf",
"four-ar.lf",
"five-ar.lf",
"six-ar.lf",
"seven-ar.lf",
"eight-ar.lf",
"nine-ar.lf",
"zeroFarsi-ar.lf",
"twoFarsi-ar.lf",
"fourFarsi-ar.lf",
"fiveFarsi-ar.lf",
"sixFarsi-ar.lf",
"sevenFarsi-ar.lf",
"fourFarsi-ar.locl",
"sevenFarsi-ar.locl",
"fourFarsi-ar.locl.lf",
"sevenFarsi-ar.locl.lf",
thinspace,
zerowidthnonjoiner,
zerowidthjoiner,
lefttorightmark,
righttoleftmark,
zerowidthspace,
period,
comma,
colon,
"fullstop-ar",
"comma-ar",
"semicolon-ar",
commareversed,
semicolonreversed,
"threedots-ar",
"endoftext-ar",
"dateseparator-ar",
"question-ar",
"parenleft-ar",
"parenright-ar",
"asterisk-ar",
"hizb-ar",
"sajdah-ar",
"endofayah-ar",
"endofayah-ar.2",
"endofayah-ar.3",
"disputedendofayah-ar",
"disputedendofayah-ar.2",
"disputedendofayah-ar.3",
"year-ar",
"year-ar.2",
"year-ar.3",
"year-ar.4",
"samvat-ar",
"samvat-ar.2",
"samvat-ar.3",
"samvat-ar.4",
"pagenumber-ar",
"pagenumber-ar.2",
"pagenumber-ar.3",
"number-ar",
"number-ar.2",
"number-ar.3",
"footnotemarker-ar",
"footnotemarker-ar.2",
"piastre-ar",
"piastre-ar.2",
"piastre-ar.3",
"pound-ar",
"pound-ar.2",
"pound-ar.3",
"verseComma-ar",
"numbermark-ar",
"endofayah-ar.alt",
exclam,
guillemetleft,
guillemetright,
hyphen,
hyphentwo,
nonbreakinghyphen,
"mark-ar",
"percent-ar",
"perthousand-ar",
"pertenthousand-ar",
radical,
radical.rtlm,
"cuberoot-ar",
"fourthroot-ar",
dottedCircle,
"allah-ar",
"allah-ar.2",
"mohammad-ar",
"sallaallah-ar",
uniFD46,
uniFD4C,
uniFD4A,
uniFD47,
uniFD4D,
uniFD49,
uniFD48,
uniFDCF,
uniFD41,
uniFD42,
uniFD44,
uniFD43,
uniFD45,
uniFD40,
uniFD4F,
uniFD4B,
"jallajalalouhou-ar",
uniFDFF,
uniFD4E,
uniFDFE,
rial,
"basmalah-ar",
"ray-ar",
"afghani-ar",
"misraComma-ar",
"sindhipostpositionmen-ar",
"sindhipostpositionmen-ar.locl",
"sindhiampersand-ar",
"dotaboveSymbol-ar",
"dotbelowSymbol-ar",
"twodotshorizontalaboveSymbol-ar",
"twodotshorizontalbelowSymbol-ar",
"threedotsupaboveSymbol-ar",
"threedotsupbelowSymbol-ar",
"threedotsdownaboveSymbol-ar",
"threedotsdownbelowSymbol-ar",
"fourdotsaboveSymbol-ar",
"fourdotsbelowSymbol-ar",
"doubleverticalbarbelowSymbol-ar",
"twodotsverticalaboveSymbol-ar",
"twodotsverticalbelowSymbol-ar",
"ringSymbol-ar",
"tahaboveSymbol-ar",
"tahbelowSymbol-ar",
"waslaSymbol-ar",
"fourthroot-ar.pt",
"basmalah-ar.1",
"basmalah-ar.2",
"basmalah-ar.3",
"basmalah-ar.4",
"dotabove-ar",
"dotabove_threedotsupabove-ar",
"dotabove_vabove-ar",
"dotabove_vinvertedabove-ar",
"dotabove_tahabove-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalabove-ar.diagonal",
"twodotshorizontalabove-ar.small",
"twodotshorizontalabove_tahabove-ar",
"twodotsverticalabove-ar",
"threedotsupabove-ar",
"threedotsupabove-ar.diagonal",
"threedotsupabove-ar.small",
"threedotsdownabove-ar",
"fourdotsabove-ar",
"hamzaabove-ar",
"hamzaabove-ar.between",
"wavyhamzaabove-ar",
"wasla-ar",
"madda-ar",
"vabove-ar",
"vinvertedabove-ar",
"gafsarkashabove-ar",
"grafsarkashabove-ar",
"commaabove-ar",
"twoabove-ar",
"threeabove-ar",
"fourabove-ar",
"tahabove-ar",
"tahabove-ar.small",
"tahabove_vabove-ar",
"tehabove-ar",
"noonabove-ar",
"meemnear-ar",
"dotbelow-ar",
"dotbelow_threedotsdownbelow-ar",
"twodotshorizontalbelow-ar",
"twodotshorizontalbelow_tahabove-ar",
"twodotsverticalbelow-ar",
"threedotshorizontalbelow-ar",
"threedotsupbelow-ar",
"threedotsdownbelow-ar",
"fourdotsbelow-ar",
"hamzabelow-ar",
"wavyhamzabelow-ar",
"vbelow-ar",
"vinvertedbelow-ar",
"ring-ar",
"fourbelow-ar",
"doubleverticalbarbelow-ar",
"tahbelow-ar",
"dotcenter-ar",
"dotcenter-ar.small",
"dotcenter_threedotsdownbelow-ar",
"twodotshorizontalcenter-ar",
"twodotshorizontalcenter_tahabove-ar",
"twodotsverticalcenter-ar",
"threedotsupcenter-ar",
"threedotsdowncenter-ar",
"fourdotscenter-ar",
"vinvertedcenter-ar",
"fourcenter-ar",
"tahcenter-ar",
"rounddotattachedabove-ar",
"rounddotattachedbelow-ar",
"rounddotattachedleft-ar",
"rounddotattachedright-ar",
"hamzaattachedleft-ar",
"hamzaattachedright-ar",
"fathaattached-ar",
"fathaattachedright-ar",
"kasraattached-ar",
"kasraattachedright-ar",
"ringattachedleft-ar",
"strokeleft-ar",
"strokeright-ar",
"miniKeheh-ar",
"ringbelow-ar",
"ringcenter-ar",
"gafsarkashcenter-ar",
"bar-ar",
"bar-ar.alt",
"bar-ar.wide",
"doubleBar-ar",
"tail-ar",
"shadda-ar",
"shadda_kasra-ar",
"shadda_kasratan-ar",
"fatha-ar",
"damma-ar",
"dammainverted-ar",
"dammareversed-ar",
"fathatan-ar",
"dammatan-ar",
"openfathatan-ar",
"opendammatan-ar",
"sukun-ar",
"fathasmall-ar",
"dammasmall-ar",
"fathaCurly-ar",
"dammaCurly-ar",
"fathatanCurly-ar",
"dammatanCurly-ar",
"dammaDot-ar",
"fathaHorizont-ar",
"fathatwodots-ar",
"fathaDotabove-ar",
"fathaRing-ar",
"noonghunnaabove-ar",
"noonghunnaabovesideways-ar",
"toneloopabove-ar",
"leftarrowheadabove-ar",
"rightarrowheadabove-ar",
"doublerightarrowheadabove-ar",
"doublerightarrowheadDotabove-ar",
"rightarrowheadDotabove-ar",
"toneonedotabove-ar",
"tonetwodotsabove-ar",
"sukunoval-ar",
"sukunround-ar",
"jazm-ar",
"rhombusStopabove-ar",
"rounddotabove-ar",
"largerounddotabove-ar",
"maddalong-ar",
"doubleMadda-ar",
"doubleHafmadda-ar",
"maddaWaajib-ar",
"alefabove-ar",
"alefMokhassas-ar",
"zahabove-ar",
"meemabove-ar",
"wawabove-ar",
"yehaboveFarsi-ar",
"yehabove-ar",
"barreyehabove-ar",
"noonKasraabove-ar",
"rehHahabove-ar",
"rehDadabove-ar",
"sallallahouAlayheWassallamcomb-ar",
"alayheAssallamcomb-ar",
"takhallusabove-ar",
"footnotemarkerabove-ar",
"safhaabove-ar",
"kasra-ar",
"kasratan-ar",
"openkasratan-ar",
"kasraDotbelow-ar",
"kasrasmall-ar",
"kasraCurly-ar",
"kasratanCurly-ar",
"dammaturnedbelow-ar",
"sukunbelow-ar",
"toneloopbelow-ar",
"leftarrowheadbelow-ar",
"rightarrowheadbelow-ar",
"toneonedotbelow-ar",
"tonetwodotsbelow-ar",
"rhombusStopbelow-ar",
"rounddotbelow-ar",
"largerounddotbelow-ar",
"circlebelow-ar",
"dotcirclebelow-ar",
"alefbelow-ar",
"meembelow-ar",
"wawbelow-ar",
"noonKasrabelow-ar",
"seenbelow-ar",
"threedotsabove-ar",
"jeemabove-ar",
"zainabove-ar",
"seenabove-ar",
"sadabove-ar",
"tahStop-ar",
"ainabove-ar",
"qafabove-ar",
"meemStopabove-ar",
"noonStopabove-ar",
"lamAlefabove-ar",
"sahabove-ar",
"assajdaabove-ar",
"annisfabove-ar",
"aththalathaabove-ar",
"arrubabove-ar",
"qifabove-ar",
"saktaabove-ar",
"waqfaabove-ar",
"sadLamAlefMaksuraabove-ar",
"qafLamAlefMaksuraabove-ar",
"alefLamYehabove-ar",
"aljuz-ar",
"ishmaam-ar",
"imaala-ar",
"tasheel-ar",
"saktabelow-ar",
"qasrbelow-ar",
"maddbelow-ar",
zero.mark,
one.mark,
two.mark,
three.mark,
four.mark,
five.mark,
six.mark,
seven.mark,
eight.mark,
nine.mark,
"zero-ar.mark",
"one-ar.mark",
"two-ar.mark",
"three-ar.mark",
"four-ar.mark",
"five-ar.mark",
"six-ar.mark",
"seven-ar.mark",
"eight-ar.mark",
"nine-ar.mark",
"fourFarsi-ar.mark",
"fourFarsi-ar.mark.locl",
"fiveFarsi-ar.mark",
"sixFarsi-ar.mark",
"sevenFarsi-ar.mark",
"sevenFarsi-ar.mark.locl",
zero.medium,
one.medium,
two.medium,
three.medium,
four.medium,
five.medium,
six.medium,
seven.medium,
eight.medium,
nine.medium,
"zero-ar.medium",
"one-ar.medium",
"two-ar.medium",
"three-ar.medium",
"four-ar.medium",
"five-ar.medium",
"six-ar.medium",
"seven-ar.medium",
"eight-ar.medium",
"nine-ar.medium",
"fourFarsi-ar.medium",
"fourFarsi-ar.medium.locl",
"fiveFarsi-ar.medium",
"sixFarsi-ar.medium",
"sevenFarsi-ar.medium.locl",
zero.small,
one.small,
two.small,
three.small,
four.small,
five.small,
six.small,
seven.small,
eight.small,
nine.small,
"zero-ar.small",
"one-ar.small",
"two-ar.small",
"three-ar.small",
"four-ar.small",
"five-ar.small",
"six-ar.small",
"seven-ar.small",
"eight-ar.small",
"nine-ar.small",
"fourFarsi-ar.small",
"fourFarsi-ar.small.locl",
"fiveFarsi-ar.small",
"sixFarsi-ar.small",
"sevenFarsi-ar.small.locl",
"shaddaDammatan-ar",
"shaddaKasratan-ar",
"shaddaFatha-ar",
"shaddaDamma-ar",
"shaddaKasra-ar",
"shaddaAlefabove-ar",
"shaddaFatha-ar.medi",
"shaddaDamma-ar.medi",
"shaddaKasra-ar.medi",
"fathatan-ar.isol",
"fathatan-ar.medi",
"dammatan-ar.isol",
"kasratan-ar.isol",
"fatha-ar.isol",
"fatha-ar.medi",
"damma-ar.isol",
"damma-ar.medi",
"kasra-ar.isol",
"kasra-ar.medi",
"shadda-ar.isol",
"shadda-ar.medi",
"sukun-ar.isol",
"sukun-ar.medi",
graphemejoinercomb,
_part.instroke,
_part.beh.fina,
"alefMadda-ar",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefWasla-ar",
"alefWavyhamzaabove-ar",
"alefWavyhamzabelow-ar",
"alefTwoabove-ar",
"alefThreeabove-ar",
"alefFatha-ar",
"alefRightFatha-ar",
"alefRightMiddleStroke-ar",
"alefLeftMiddleStroke-ar",
"alefKasra-ar",
"alefRightKasra-ar",
"alefRoundDotAbove-ar",
"alefRightRoundDot-ar",
"alefLeftRoundDot-ar",
"alefRoundDotBelow-ar",
"alefDotAbove-ar",
"alefRightFathaDotAbove-ar",
"alefRightMiddleStrokeDotAbove-ar",
"alefRightKasraDotAbove-ar",
"alefRightFathaLeftRing-ar",
"alefRightMiddleStrokeLeftRing-ar",
"alefRightKasraLeftRing-ar",
"alefRightHamza-ar",
"alefLeftHamza-ar",
"beh-ar",
"teh-ar",
"theh-ar",
"tteh-ar",
"tteheh-ar",
"beeh-ar",
"tehRing-ar",
"tehThreedotsdown-ar",
"peh-ar",
"teheh-ar",
"beheh-ar",
"behThreedotshorizontalbelow-ar",
"behThreedotsupabove-ar",
"behThreedotsupbelow-ar",
"tehThreedotsupbelow-ar",
"behTwodotsbelowDotabove-ar",
"behVinvertedbelow-ar",
"behVabove-ar",
"behVbelow-ar",
"behhamzaabove-ar",
"behMeemabove-ar",
"pehMeemabove-ar",
"tehTehabove-ar",
"pehVabove-ar",
"tehVabove-ar",
"ttehVabove-ar",
"jeem-ar",
"khah-ar",
"hahHamzaabove-ar",
"hahTwodotsverticalabove-ar",
"nyeh-ar",
"dyeh-ar",
"hahThreedotsabove-ar",
"tcheh-ar",
"tcheheh-ar",
"tchehDotabove-ar",
"hahTwodotshorizontalabove-ar",
"hahThreedotsupbelow-ar",
"hahTahbelow-ar",
"hahTahTwodotshorizontalbelow-ar",
"hahTahabove-ar",
"hahFourbelow-ar",
"jeemTwodotsabove-ar",
"tchehVabove-ar",
"jeemThreedotsabove-ar",
"jeemThreedotsbelow-ar",
"hahVinvertedbelow-ar",
"thal-ar",
"ddal-ar",
"dalRing-ar",
"dalDotbelow-ar",
"dalDotbelowTah-ar",
"dahal-ar",
"ddahal-ar",
"dul-ar",
"dalThreedotsdown-ar",
"dalFourdots-ar",
"dalVinvertedabove-ar",
"dalTwodotsverticalbelowTah-ar",
"dalVinvertedbelow-ar",
"dalThreedotsbelow-ar",
"zain-ar",
"rreh-ar",
"rehv-ar",
"rehRing-ar",
"rehDotbelow-ar",
"rehVbelow-ar",
"rehDotbelowdotabove-ar",
"rehTwodots-ar",
"jeh-ar",
"rehFourdots-ar",
"rehVinvertedabove-ar",
"rehStroke-ar",
"rehTwodotsverticalabove-ar",
"rehHamzaabove-ar",
"rehTwodotshorizontalaboveTahabove-ar",
"zainVinvertedabove-ar",
"rehNoonabove-ar",
"sheen-ar",
"seenDotbelowDotabove-ar",
"seenThreedotsbelow-ar",
"sheenThreedotsbelow-ar",
"sheenDotbelow-ar",
"seenFourdotsabove-ar",
"seenTwodotsverticalabove-ar",
"seenTahTwodotshorizontalabove-ar",
"seenFourabove-ar",
"seenVinvertedabove-ar",
"dad-ar",
"sadTwodotsbelow-ar",
"sadThreedots-ar",
"dadDotbelow-ar",
"sadThreedotsbelow-ar",
"zah-ar",
"tahThreedots-ar",
"tahTwodotsabove-ar",
"tahDotbelow-ar",
"tahThreedotsbelow-ar",
"ghain-ar",
"ainThreedots-ar",
"ghainDotbelow-ar",
"ainTwodotshorizontalabove-ar",
"ainThreedotsdownabove-ar",
"ainTwodotsverticalabove-ar",
"ainThreedotsbelow-ar",
"ghainThreedotsabove-ar",
"feh-ar",
"fehDotmovedbelow-ar",
"fehDotbelow-ar",
"veh-ar",
"fehThreedotsbelow-ar",
"peheh-ar",
"fehTwodotsbelow-ar",
"fehThreedotsupbelow-ar",
"fehDotbelowThreedotsabove-ar",
"fehAfrican-ar",
"qaf-ar",
"qafDotabove-ar",
"qafThreedotsabove-ar",
"qafDotbelow-ar",
"qafAfrican-ar",
"qafThreedotsaboveAfrican-ar",
"qafDotbelowNoDotAbove-ar",
"kaf-ar",
"kafDotabove-ar",
"ng-ar",
"kafThreedotsbelow-ar",
"kafTwodotshorizontalabove-ar",
"kafDotbelow-ar",
"kehehTwodotshorizontalabove-ar",
"kehehThreedotsbelow-ar",
"kafRing-ar",
"gaf-ar",
"gafRing-ar",
"ngoeh-ar",
"gafTwodotsbelow-ar",
"gueh-ar",
"gafThreedots-ar",
"kehehDotabove-ar",
"kehehThreedotsabove-ar",
"kehehThreedotsupbelow-ar",
"gafInvertedstroke-ar",
"kehehVabove-ar",
"graf-ar",
"kehehTwodotsverticalbelow-ar",
"lamVabove-ar",
"lamDotabove-ar",
"lamThreedotsabove-ar",
"lamThreedotsbelow-ar",
"lamBar-ar",
"lamDoublebar-ar",
"lamTahabove-ar",
"meemThreedotsabove-ar",
"meemDotabove-ar",
"meemDotbelow-ar",
"noon-ar",
"noonDotbelow-ar",
"rnoon-ar",
"noonRing-ar",
"noonThreedotsabove-ar",
"noonTwodotsbelow-ar",
"noonTahabove-ar",
"noonVabove-ar",
"noonAfrican-ar",
"noonVinvertedabove-ar",
"tehMarbuta-ar",
"hehHamzaabove-ar",
"hehgoalHamzaabove-ar",
"tehMarbutagoal-ar",
"hehVinvertedabove-ar",
"wawHamzaabove-ar",
"wawring-ar",
"kirghizoe-ar",
"wawDotcenter-ar",
"oe-ar",
"u-ar",
"yu-ar",
"kirghizyu-ar",
"wawTwodots-ar",
"ve-ar",
"wawDotabove-ar",
"wawTwoabove-ar",
"wawThreeabove-ar",
"yehKashmiri-ar",
"yehHamzaabove-ar",
"yehVinvertedFarsi-ar",
"yehTwodotsaboveFarsi-ar",
"yehThreedotsaboveFarsi-ar",
"yeh-ar",
"yehFarsi-ar",
"yehTail-ar",
"yehVabove-ar",
"e-ar",
"yehThreedotsbelow-ar",
"yehTwoaboveFarsi-ar",
"yehThreeaboveFarsi-ar",
"yehFourbelowFarsi-ar",
"yehTwodotsbelowHamzaabove-ar",
"yehTwodotsbelowDotabove-ar",
"yehTwodotsbelowNoonabove-ar",
"yehthin-ar.init",
"yehbarreeHamzaabove-ar",
"yehbarreeTwoabove-ar",
"yehbarreeThreeabove-ar",
"kashidaTwodotsbelow-ar",
"highhamzaAlef-ar",
"highhamzaWaw-ar",
"uHamzaabove-ar",
"highhamzaYeh-ar",
"yehHamzaabove_alef-ar",
"yehHamzaabove_alef-ar.fina",
"yehHamzaabove_ae-ar",
"yehHamzaabove_ae-ar.fina",
"yehHamzaabove_waw-ar",
"yehHamzaabove_waw-ar.fina",
"yehHamzaabove_u-ar",
"yehHamzaabove_u-ar.fina",
"yehHamzaabove_oe-ar",
"yehHamzaabove_oe-ar.fina",
"yehHamzaabove_yu-ar",
"yehHamzaabove_yu-ar.fina",
"yehHamzaabove_e-ar",
"yehHamzaabove_e-ar.fina",
"yehHamzaabove_e-ar.init",
"uighurkirghizyehHamzaabove_alefMaksura-ar",
"uighurkirghizyehHamzaabove_alefMaksura-ar.fina",
"uighurkirghizyehHamzaabove_alefMaksura-ar.init",
"yehHamzaabove_jeem-ar",
"yehHamzaabove_hah-ar",
"yehHamzaabove_meem-ar",
"yehHamzaabove_alefMaksura-ar",
"yehHamzaabove_yeh-ar",
"beh_jeem-ar",
"beh_hah-ar",
"beh_khah-ar",
"beh_meem-ar",
"beh_alefMaksura-ar",
"beh_yeh-ar",
"teh_jeem-ar",
"teh_hah-ar",
"teh_khah-ar",
"teh_meem-ar",
"teh_alefMaksura-ar",
"teh_yeh-ar",
"theh_jeem-ar",
"theh_meem-ar",
"theh_alefMaksura-ar",
"theh_yeh-ar",
"jeem_hah-ar",
"jeem_meem-ar",
"hah_jeem-ar",
"hah_meem-ar",
"khah_jeem-ar",
"khah_hah-ar",
"khah_meem-ar",
"seen_jeem-ar",
"seen_hah-ar",
"seen_khah-ar",
"seen_meem-ar",
"sad_hah-ar",
"sad_meem-ar",
"dad_jeem-ar",
"dad_hah-ar",
"dad_khah-ar",
"dad_meem-ar",
"tah_hah-ar",
"tah_meem-ar",
"zah_meem-ar",
"ain_jeem-ar",
"ain_meem-ar",
"ghain_jeem-ar",
"ghain_meem-ar",
"feh_jeem-ar",
"feh_hah-ar",
"feh_khah-ar",
"feh_meem-ar",
"feh_alefMaksura-ar",
"feh_yeh-ar",
"qaf_hah-ar",
"qaf_meem-ar",
"qaf_alefMaksura-ar",
"qaf_yeh-ar",
"kaf_alef-ar",
"kaf_jeem-ar",
"kaf_hah-ar",
"kaf_khah-ar",
"kaf_lam-ar",
"kaf_meem-ar",
"kaf_alefMaksura-ar",
"kaf_yeh-ar",
"lam_jeem-ar",
"lam_hah-ar",
"lam_khah-ar",
"lam_meem-ar",
"lam_alefMaksura-ar",
"lam_yeh-ar",
"meem_jeem-ar",
"meem_hah-ar",
"meem_khah-ar",
"meem_meem-ar",
"meem_alefMaksura-ar",
"meem_yeh-ar",
"noon_jeem-ar",
"noon_hah-ar",
"noon_khah-ar",
"noon_meem-ar",
"noon_alefMaksura-ar",
"noon_yeh-ar",
"heh_jeem-ar",
"heh_meem-ar",
"heh_alefMaksura-ar",
"heh_yeh-ar",
"yeh_jeem-ar",
"yeh_hah-ar",
"yeh_khah-ar",
"yeh_meem-ar",
"yeh_alefMaksura-ar",
"yeh_yeh-ar",
"yehHamzaabove_reh-ar.fina",
"yehHamzaabove_zain-ar.fina",
"yehHamzaabove_meem-ar.fina",
"yehHamzaabove_noon-ar.fina",
"yehHamzaabove_alefMaksura-ar.fina",
"yehHamzaabove_yeh-ar.fina",
"beh_reh-ar.fina",
"beh_zain-ar.fina",
"beh_meem-ar.fina",
"beh_noon-ar.fina",
"beh_alefMaksura-ar.fina",
"beh_yeh-ar.fina",
"teh_reh-ar.fina",
"teh_zain-ar.fina",
"teh_meem-ar.fina",
"teh_noon-ar.fina",
"teh_alefMaksura-ar.fina",
"teh_yeh-ar.fina",
"theh_reh-ar.fina",
"theh_zain-ar.fina",
"theh_meem-ar.fina",
"theh_noon-ar.fina",
"theh_alefMaksura-ar.fina",
"theh_yeh-ar.fina",
"feh_alefMaksura-ar.fina",
"feh_yeh-ar.fina",
"qaf_alefMaksura-ar.fina",
"qaf_yeh-ar.fina",
"kaf_alef-ar.fina",
"kaf_lam-ar.fina",
"kaf_meem-ar.fina",
"kaf_alefMaksura-ar.fina",
"kaf_yeh-ar.fina",
"lam_meem-ar.fina",
"lam_alefMaksura-ar.fina",
"lam_yeh-ar.fina",
"meem_alef-ar.fina",
"meem_meem-ar.fina",
"noon_reh-ar.fina",
"noon_zain-ar.fina",
"noon_meem-ar.fina",
"noon_noon-ar.fina",
"noon_alefMaksura-ar.fina",
"noon_yeh-ar.fina",
"yeh_reh-ar.fina",
"yeh_zain-ar.fina",
"yeh_meem-ar.fina",
"yeh_noon-ar.fina",
"yeh_alefMaksura-ar.fina",
"yeh_yeh-ar.fina",
"yehHamzaabove_jeem-ar.init",
"yehHamzaabove_hah-ar.init",
"yehHamzaabove_khah-ar.init",
"yehHamzaabove_meem-ar.init",
"yehHamzaabove_heh-ar.init",
"beh_jeem-ar.init",
"beh_hah-ar.init",
"beh_khah-ar.init",
"beh_meem-ar.init",
"beh_heh-ar.init",
"teh_jeem-ar.init",
"teh_hah-ar.init",
"teh_khah-ar.init",
"teh_meem-ar.init",
"teh_heh-ar.init",
"theh_meem-ar.init",
"jeem_hah-ar.init",
"jeem_meem-ar.init",
"hah_jeem-ar.init",
"hah_meem-ar.init",
"khah_jeem-ar.init",
"khah_meem-ar.init",
"seen_jeem-ar.init",
"seen_hah-ar.init",
"seen_khah-ar.init",
"seen_meem-ar.init",
"sad_hah-ar.init",
"sad_khah-ar.init",
"sad_meem-ar.init",
"dad_jeem-ar.init",
"dad_hah-ar.init",
"dad_khah-ar.init",
"dad_meem-ar.init",
"tah_hah-ar.init",
"zah_meem-ar.init",
"ain_jeem-ar.init",
"ain_meem-ar.init",
"ghain_jeem-ar.init",
"ghain_meem-ar.init",
"feh_jeem-ar.init",
"feh_hah-ar.init",
"feh_khah-ar.init",
"feh_meem-ar.init",
"qaf_hah-ar.init",
"qaf_meem-ar.init",
"kaf_jeem-ar.init",
"kaf_hah-ar.init",
"kaf_khah-ar.init",
"kaf_lam-ar.init",
"kaf_meem-ar.init",
"lam_jeem-ar.init",
"lam_hah-ar.init",
"lam_khah-ar.init",
"lam_meem-ar.init",
"lam_heh-ar.init",
"meem_jeem-ar.init",
"meem_hah-ar.init",
"meem_khah-ar.init",
"meem_meem-ar.init",
"noon_jeem-ar.init",
"noon_hah-ar.init",
"noon_khah-ar.init",
"noon_meem-ar.init",
"noon_heh-ar.init",
"heh_jeem-ar.init",
"heh_meem-ar.init",
"yeh_jeem-ar.init",
"yeh_hah-ar.init",
"yeh_khah-ar.init",
"yeh_meem-ar.init",
"yeh_heh-ar.init",
"yehHamzaabove_meem-ar.medi",
"yehHamzaabove_heh-ar.medi",
"beh_meem-ar.medi",
"beh_heh-ar.medi",
"teh_meem-ar.medi",
"teh_heh-ar.medi",
"theh_meem-ar.medi",
"theh_heh-ar.medi",
"seen_meem-ar.medi",
"seen_heh-ar.medi",
"sheen_meem-ar.medi",
"sheen_heh-ar.medi",
"kaf_lam-ar.medi",
"kaf_meem-ar.medi",
"lam_meem-ar.medi",
"noon_meem-ar.medi",
"noon_heh-ar.medi",
"yeh_meem-ar.medi",
"yeh_heh-ar.medi",
"tah_alefMaksura-ar",
"tah_yeh-ar",
"ain_alefMaksura-ar",
"ain_yeh-ar",
"ghain_alefMaksura-ar",
"ghain_yeh-ar",
"seen_alefMaksura-ar",
"seen_yeh-ar",
"sheen_alefMaksura-ar",
"sheen_yeh-ar",
"hah_alefMaksura-ar",
"hah_yeh-ar",
"jeem_alefMaksura-ar",
"jeem_yeh-ar",
"khah_alefMaksura-ar",
"khah_yeh-ar",
"sad_alefMaksura-ar",
"sad_yeh-ar",
"dad_alefMaksura-ar",
"dad_yeh-ar",
"sheen_jeem-ar",
"sheen_hah-ar",
"sheen_khah-ar",
"sheen_meem-ar",
"sheen_reh-ar",
"seen_reh-ar",
"sad_reh-ar",
"dad_reh-ar",
"tah_alefMaksura-ar.fina",
"tah_yeh-ar.fina",
"ain_alefMaksura-ar.fina",
"ain_yeh-ar.fina",
"ghain_alefMaksura-ar.fina",
"ghain_yeh-ar.fina",
"seen_alefMaksura-ar.fina",
"seen_yeh-ar.fina",
"sheen_alefMaksura-ar.fina",
"sheen_yeh-ar.fina",
"hah_alefMaksura-ar.fina",
"hah_yeh-ar.fina",
"jeem_alefMaksura-ar.fina",
"jeem_yeh-ar.fina",
"khah_alefMaksura-ar.fina",
"khah_yeh-ar.fina",
"sad_alefMaksura-ar.fina",
"sad_yeh-ar.fina",
"dad_alefMaksura-ar.fina",
"dad_yeh-ar.fina",
"sheen_jeem-ar.fina",
"sheen_hah-ar.fina",
"sheen_khah-ar.fina",
"sheen_meem-ar.fina",
"sheen_reh-ar.fina",
"seen_reh-ar.fina",
"sad_reh-ar.fina",
"dad_reh-ar.fina",
"sheen_jeem-ar.init",
"sheen_hah-ar.init",
"sheen_khah-ar.init",
"sheen_meem-ar.init",
"seen_heh-ar.init",
"sheen_heh-ar.init",
"tah_meem-ar.init",
"seen_jeem-ar.medi",
"seen_hah-ar.medi",
"seen_khah-ar.medi",
"sheen_jeem-ar.medi",
"sheen_hah-ar.medi",
"sheen_khah-ar.medi",
"tah_meem-ar.medi",
"zah_meem-ar.medi",
"teh_jeem_meem-ar.init",
"teh_hah_jeem-ar.fina",
"teh_hah_jeem-ar.init",
"teh_hah_meem-ar.init",
"teh_khah_meem-ar.init",
"teh_meem_jeem-ar.init",
"teh_meem_hah-ar.init",
"teh_meem_khah-ar.init",
"jeem_meem_hah-ar.fina",
"jeem_meem_hah-ar.init",
"hah_meem_yeh-ar.fina",
"hah_meem_alefMaksura-ar.fina",
"seen_hah_jeem-ar.init",
"seen_jeem_hah-ar.init",
"seen_jeem_alefMaksura-ar.fina",
"seen_meem_hah-ar.fina",
"seen_meem_hah-ar.init",
"seen_meem_jeem-ar.init",
"seen_meem_meem-ar.fina",
"seen_meem_meem-ar.init",
"sad_hah_hah-ar.fina",
"sad_hah_hah-ar.init",
"sad_meem_meem-ar.fina",
"sheen_hah_meem-ar.fina",
"sheen_hah_meem-ar.init",
"sheen_jeem_yeh-ar.fina",
"sheen_meem_khah-ar.fina",
"sheen_meem_khah-ar.init",
"sheen_meem_meem-ar.fina",
"sheen_meem_meem-ar.init",
"dad_hah_alefMaksura-ar.fina",
"dad_khah_meem-ar.fina",
"dad_khah_meem-ar.init",
"tah_meem_hah-ar.fina",
"tah_meem_hah-ar.init",
"tah_meem_meem-ar.init",
"tah_meem_yeh-ar.fina",
"ain_jeem_meem-ar.fina",
"ain_meem_meem-ar.fina",
"ain_meem_meem-ar.init",
"ain_meem_alefMaksura-ar.fina",
"ghain_meem_meem-ar.fina",
"ghain_meem_yeh-ar.fina",
"ghain_meem_alefMaksura-ar.fina",
"feh_khah_meem-ar.fina",
"feh_khah_meem-ar.init",
"qaf_meem_hah-ar.fina",
"qaf_meem_meem-ar.fina",
"lam_hah_meem-ar.fina",
"lam_hah_yeh-ar.fina",
"lam_hah_alefMaksura-ar.fina",
"lam_jeem_jeem-ar.init",
"lam_jeem_jeem-ar.fina",
"lam_khah_meem-ar.fina",
"lam_khah_meem-ar.init",
"lam_meem_hah-ar.fina",
"lam_meem_hah-ar.init",
"meem_hah_jeem-ar.init",
"meem_hah_meem-ar.init",
"meem_hah_yeh-ar.fina",
"meem_jeem_hah-ar.init",
"meem_jeem_meem-ar.init",
"meem_khah_jeem-ar.init",
"meem_khah_meem-ar.init",
"meem_jeem_khah-ar.init",
"heh_meem_jeem-ar.init",
"heh_meem_meem-ar.init",
"noon_hah_meem-ar.init",
"noon_hah_alefMaksura-ar.fina",
"noon_jeem_meem-ar.fina",
"noon_jeem_meem-ar.init",
"noon_jeem_alefMaksura-ar.fina",
"noon_meem_yeh-ar.fina",
"noon_meem_alefMaksura-ar.fina",
"yeh_meem_meem-ar.fina",
"yeh_meem_meem-ar.init",
"beh_khah_yeh-ar.fina",
"teh_jeem_yeh-ar.fina",
"teh_jeem_alefMaksura-ar.fina",
"teh_khah_yeh-ar.fina",
"teh_khah_alefMaksura-ar.fina",
"teh_meem_yeh-ar.fina",
"teh_meem_alefMaksura-ar.fina",
"jeem_meem_yeh-ar.fina",
"jeem_hah_alefMaksura-ar.fina",
"jeem_meem_alefMaksura-ar.fina",
"seen_khah_alefMaksura-ar.fina",
"sad_hah_yeh-ar.fina",
"sheen_hah_yeh-ar.fina",
"dad_hah_yeh-ar.fina",
"lam_jeem_yeh-ar.fina",
"lam_meem_yeh-ar.fina",
"yeh_hah_yeh-ar.fina",
"yeh_jeem_yeh-ar.fina",
"yeh_meem_yeh-ar.fina",
"meem_meem_yeh-ar.fina",
"qaf_meem_yeh-ar.fina",
"noon_hah_yeh-ar.fina",
"qaf_meem_hah-ar.init",
"lam_hah_meem-ar.init",
"ain_meem_yeh-ar.fina",
"kaf_meem_yeh-ar.fina",
"noon_jeem_hah-ar.init",
"meem_khah_yeh-ar.fina",
"lam_jeem_meem-ar.init",
"kaf_meem_meem-ar.fina",
"lam_jeem_meem-ar.fina",
"noon_jeem_hah-ar.fina",
"jeem_hah_yeh-ar.fina",
"hah_jeem_yeh-ar.fina",
"meem_jeem_yeh-ar.fina",
"feh_meem_yeh-ar.fina",
"beh_hah_yeh-ar.fina",
"kaf_meem_meem-ar.init",
"ain_jeem_meem-ar.init",
"sad_meem_meem-ar.init",
"seen_khah_yeh-ar.fina",
"noon_jeem_yeh-ar.fina",
"sad_lam_yeh-ar",
"qaf_lam_yeh-ar",
"akbar-ar",
"salam-ar",
"rasoul-ar",
"alayhe-ar",
"wasallam-ar",
"salla-ar",
"lam_alefMadda-ar",
"lam_alefMadda-ar.fina",
"lam_alefHamzaabove-ar",
"lam_alefHamzaabove-ar.fina",
"lam_alefHamzabelow-ar",
"lam_alefHamzabelow-ar.fina",
"lam_alef-ar",
"lam_alef-ar.fina",
"beh-ar.init",
"yeh-ar.init",
"peh-ar.init",
"beheh-ar.init",
"e-ar.init",
"teh-ar.init",
"theh-ar.init",
"tteh-ar.init",
"tteheh-ar.init",
"teheh-ar.init",
"noon-ar.init",
"yehHamzaabove-ar.init",
"jeem-ar.init",
"khah-ar.init",
"nyeh-ar.init",
"dyeh-ar.init",
"tcheh-ar.init",
"tcheheh-ar.init",
"sheen-ar.init",
"dad-ar.init",
"zah-ar.init",
"ghain-ar.init",
"feh-ar.init",
"veh-ar.init",
"peheh-ar.init",
"qaf-ar.init",
"keheh-ar.init",
"ng-ar.init",
"gaf-ar.init",
"ngoeh-ar.init",
"gueh-ar.init",
"hehDoachashmee-ar.init",
"beh-ar.medi",
"teh-ar.medi",
"theh-ar.medi",
"tteh-ar.medi",
"tteheh-ar.medi",
"peh-ar.medi",
"teheh-ar.medi",
"beheh-ar.medi",
"noon-ar.medi",
"yehHamzaabove-ar.medi",
"yeh-ar.medi",
"e-ar.medi",
"jeem-ar.medi",
"khah-ar.medi",
"nyeh-ar.medi",
"dyeh-ar.medi",
"tcheh-ar.medi",
"tcheheh-ar.medi",
"sheen-ar.medi",
"dad-ar.medi",
"zah-ar.medi",
"ghain-ar.medi",
"feh-ar.medi",
"veh-ar.medi",
"peheh-ar.medi",
"qaf-ar.medi",
"keheh-ar.medi",
"ng-ar.medi",
"gaf-ar.medi",
"ngoeh-ar.medi",
"gueh-ar.medi",
"alefMadda-ar.fina",
"alefHamzaabove-ar.fina",
"alefHamzabelow-ar.fina",
"alefWasla-ar.fina",
"beh-ar.fina",
"teh-ar.fina",
"theh-ar.fina",
"tteh-ar.fina",
"tteheh-ar.fina",
"beeh-ar.fina",
"peh-ar.fina",
"teheh-ar.fina",
"beheh-ar.fina",
"jeem-ar.fina",
"khah-ar.fina",
"nyeh-ar.fina",
"dyeh-ar.fina",
"tcheh-ar.fina",
"tcheheh-ar.fina",
"thal-ar.fina",
"ddal-ar.fina",
"dahal-ar.fina",
"ddahal-ar.fina",
"zain-ar.fina",
"rreh-ar.fina",
"jeh-ar.fina",
"sheen-ar.fina",
"dad-ar.fina",
"zah-ar.fina",
"ghain-ar.fina",
"feh-ar.fina",
"veh-ar.fina",
"peheh-ar.fina",
"qaf-ar.fina",
"kaf-ar.fina",
"ng-ar.fina",
"gaf-ar.fina",
"ngoeh-ar.fina",
"gueh-ar.fina",
"noon-ar.fina",
"rnoon-ar.fina",
"tehMarbuta-ar.fina",
"hehHamzaabove-ar.fina",
"wawHamzaabove-ar.fina",
"oe-ar.fina",
"u-ar.fina",
"yu-ar.fina",
"kirghizyu-ar.fina",
"ve-ar.fina",
"yehHamzaabove-ar.fina",
"yeh-ar.fina",
"e-ar.fina",
"yehbarreeHamzaabove-ar.fina",
"beeh-ar.init",
"beeh-ar.medi",
"dul-ar.fina",
"alefMaksura-ar.init",
"alefMaksura-ar.medi",
"thalAlefabove-ar",
"rehAlefabove-ar",
"alefMaksuraAlefabove-ar",
"alefMaksuraAlefabove-ar.fina",
"hehAlefabove-ar.init",
"alefFathatan-ar.fina",
"alefFathatan-ar",
"kirghizoe-ar.fina",
"_vinvertedbelow-ar.001",
_barshort,
_doublebarshort,
_hehgoalcomma
)