(
.notdef,
NULL,
CR,
space,
"hamza-ar",
"highhamza-ar",
"hamza-ar.isol",
"alef-ar",
"alef-ar.isol",
"alef-ar.fina",
"alefHamzaabove-ar",
"alefHamzaabove-ar.isol",
"alefHamzaabove-ar.fina",
"alefHamzabelow-ar",
"alefHamzabelow-ar.isol",
"alefHamzabelow-ar.fina",
"alefWavyhamzaabove-ar",
"alefWavyhamzaabove-ar.fina",
"alefWavyhamzabelow-ar",
"alefWavyhamzabelow-ar.fina",
"alefMadda-ar",
"alefMadda-ar.isol",
"alefMadda-ar.fina",
"alefWasla-ar",
"alefWasla-ar.isol",
"alefWasla-ar.fina",
"alefFathatan-ar",
"alefFathatan-ar.fina",
"highhamzaAlef-ar",
"highhamzaAlef-ar.fina",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.init",
"beh-ar",
"beh-ar.isol",
"beh-ar.fina",
"beh-ar.medi",
"beh-ar.init",
"peh-ar",
"peh-ar.isol",
"peh-ar.fina",
"peh-ar.medi",
"peh-ar.init",
"pehVabove-ar",
"beeh-ar",
"beeh-ar.isol",
"beeh-ar.fina",
"beeh-ar.medi",
"beeh-ar.init",
"beheh-ar",
"beheh-ar.isol",
"beheh-ar.fina",
"beheh-ar.medi",
"beheh-ar.init",
"alefMaksura-ar.medi",
"alefMaksura-ar.init",
"teh-ar",
"teh-ar.isol",
"teh-ar.fina",
"teh-ar.medi",
"teh-ar.init",
"tehRing-ar",
"tehThreedotsdown-ar",
"theh-ar",
"theh-ar.isol",
"theh-ar.fina",
"theh-ar.medi",
"theh-ar.init",
"tteh-ar",
"tteh-ar.isol",
"tteh-ar.fina",
"tteh-ar.medi",
"tteh-ar.init",
"tteheh-ar",
"tteheh-ar.isol",
"tteheh-ar.fina",
"tteheh-ar.medi",
"tteheh-ar.init",
"teheh-ar",
"teheh-ar.isol",
"teheh-ar.fina",
"teheh-ar.medi",
"teheh-ar.init",
"behThreedotshorizontalbelow-ar",
"behThreedotsupabove-ar",
"behThreedotsupbelow-ar",
"tehThreedotsupbelow-ar",
"behTwodotsbelowDotabove-ar",
"behVinvertedbelow-ar",
"behVabove-ar",
"behVbelow-ar",
"ttehVabove-ar",
"behhamzaabove-ar",
"jeemThreedotsabove-ar",
"jeem-ar",
"jeem-ar.isol",
"jeem-ar.fina",
"jeem-ar.medi",
"jeem-ar.init",
"tcheh-ar",
"tcheh-ar.isol",
"tcheh-ar.fina",
"tcheh-ar.medi",
"tcheh-ar.init",
"tchehVabove-ar",
"tcheheh-ar",
"tcheheh-ar.isol",
"tcheheh-ar.fina",
"tcheheh-ar.medi",
"tcheheh-ar.init",
"tchehDotabove-ar",
"nyeh-ar",
"nyeh-ar.isol",
"nyeh-ar.fina",
"nyeh-ar.medi",
"nyeh-ar.init",
"dyeh-ar",
"dyeh-ar.isol",
"dyeh-ar.fina",
"dyeh-ar.medi",
"dyeh-ar.init",
"hah-ar",
"hah-ar.isol",
"hah-ar.fina",
"hah-ar.medi",
"hah-ar.init",
"hahHamzaabove-ar",
"hahTwodotsverticalabove-ar",
"hahTwodotshorizontalabove-ar",
"hahThreedotsabove-ar",
"hahThreedotsupbelow-ar",
"khah-ar",
"khah-ar.isol",
"khah-ar.fina",
"khah-ar.medi",
"khah-ar.init",
"hahTahbelow-ar",
"hahFourbelow-ar",
"hahFourbelow-ar.fina",
"hahFourbelow-ar.medi",
"hahFourbelow-ar.init",
"jeemTwodotsabove-ar",
"dal-ar",
"dal-ar.isol",
"dal-ar.fina",
"thal-ar",
"thal-ar.isol",
"thal-ar.fina",
"thalAlefabove-ar",
"thalAlefabove-ar.fina",
"ddal-ar",
"ddal-ar.isol",
"ddal-ar.fina",
"dahal-ar",
"dahal-ar.isol",
"dahal-ar.fina",
"ddahal-ar",
"ddahal-ar.isol",
"ddahal-ar.fina",
"dalRing-ar",
"dalDotbelow-ar",
"dalDotbelow-ar.fina",
"dalDotbelowTah-ar",
"dalDotbelowTah-ar.fina",
"dul-ar",
"dul-ar.isol",
"dul-ar.fina",
"dalThreedotsdown-ar",
"dalThreedotsdown-ar.fina",
"dalFourdots-ar",
"dalFourdots-ar.fina",
"dalVinvertedabove-ar",
"dalTwodotsverticalbelowTah-ar",
"dalVinvertedbelow-ar",
"dalThreedotsbelow-ar",
"dalThreedotsbelow-ar.fina",
"reh-ar",
"reh-ar.isol",
"reh-ar.fina",
"zain-ar",
"zain-ar.isol",
"zain-ar.fina",
"zainVinvertedabove-ar",
"rreh-ar",
"rreh-ar.isol",
"rreh-ar.fina",
"rehv-ar",
"rehv-ar.fina",
"rehRing-ar",
"rehDotbelow-ar",
"rehDotbelow-ar.fina",
"rehVbelow-ar",
"rehDotbelowdotabove-ar",
"rehDotbelowdotabove-ar.fina",
"rehTwodots-ar",
"rehTwodots-ar.fina",
"jeh-ar",
"jeh-ar.isol",
"jeh-ar.fina",
"rehFourdots-ar",
"rehFourdots-ar.fina",
"rehVinvertedabove-ar",
"rehStroke-ar",
"rehStroke-ar.fina",
"rehTwodotsverticalabove-ar",
"rehTwodotsverticalabove-ar.fina",
"rehHamzaabove-ar",
"rehHamzaabove-ar.fina",
"rehTwodotshorizontalaboveTahabove-ar",
"rehTwodotshorizontalaboveTahabove-ar.fina",
"rehAlefabove-ar",
"rehAlefabove-ar.fina",
"rehLoop-ar",
"rehLoop-ar.fina",
"seen-ar",
"seen-ar.isol",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"seenDotbelowDotabove-ar",
"seenThreedotsbelow-ar",
"sheen-ar",
"sheen-ar.isol",
"sheen-ar.fina",
"sheen-ar.medi",
"sheen-ar.init",
"sheenDotbelow-ar",
"sheenDotbelow-ar.fina",
"sheenDotbelow-ar.medi",
"sheenDotbelow-ar.init",
"sheenThreedotsbelow-ar",
"sad-ar",
"sad-ar.isol",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"sadTwodotsbelow-ar",
"sadThreedots-ar",
"sadThreedotsbelow-ar",
"dad-ar",
"dad-ar.isol",
"dad-ar.fina",
"dad-ar.medi",
"dad-ar.init",
"dadDotbelow-ar",
"dadDotbelow-ar.fina",
"dadDotbelow-ar.medi",
"dadDotbelow-ar.init",
"tah-ar",
"tah-ar.isol",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"tahThreedots-ar",
"zah-ar",
"zah-ar.isol",
"zah-ar.fina",
"zah-ar.medi",
"zah-ar.init",
"tahTwodotsabove-ar",
"ain-ar",
"ain-ar.isol",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"ainThreedots-ar",
"ghain-ar",
"ghain-ar.isol",
"ghain-ar.fina",
"ghain-ar.medi",
"ghain-ar.init",
"ghainDotbelow-ar",
"ghainDotbelow-ar.fina",
"ghainDotbelow-ar.medi",
"ghainDotbelow-ar.init",
"ghainThreedotsabove-ar",
"feh-ar",
"feh-ar.isol",
"feh-ar.fina",
"feh-ar.medi",
"feh-ar.init",
"veh-ar",
"veh-ar.isol",
"veh-ar.fina",
"veh-ar.medi",
"veh-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"fehDotmovedbelow-ar",
"fehDotbelow-ar",
"fehDotbelow-ar.fina",
"fehDotbelow-ar.medi",
"fehDotbelow-ar.init",
"fehThreedotsbelow-ar",
"fehDotbelowThreedotsabove-ar",
"fehDotbelowThreedotsabove-ar.fina",
"fehDotbelowThreedotsabove-ar.medi",
"fehDotbelowThreedotsabove-ar.init",
"peheh-ar",
"peheh-ar.isol",
"peheh-ar.fina",
"peheh-ar.medi",
"peheh-ar.init",
"qafDotless-ar",
"qafDotless-ar.medi",
"qafDotless-ar.init",
"qafDotless-ar.fina",
"qaf-ar",
"qaf-ar.isol",
"qaf-ar.fina",
"qaf-ar.medi",
"qaf-ar.init",
"qafDotabove-ar",
"qafDotabove-ar.isol",
"qafDotabove-ar.fina",
"qafDotabove-ar.medi",
"qafDotabove-ar.init",
"qafThreedotsabove-ar",
"qafThreedotsabove-ar.fina",
"qafThreedotsabove-ar.medi",
"qafThreedotsabove-ar.init",
"qafDotbelow-ar",
"qafDotbelow-ar.fina",
"qafDotbelow-ar.medi",
"qafDotbelow-ar.init",
"qafThreedotsaboveAfrican-ar",
"kaf-ar",
"kaf-ar.isol",
"kaf-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.isol",
"keheh-ar.fina",
"keheh-ar.medi",
"keheh-ar.init",
"kehehTwodotshorizontalabove-ar",
"kehehThreedotsbelow-ar",
"kehehDotabove-ar",
"kehehThreedotsabove-ar",
"kehehThreedotsupbelow-ar",
"gaf-ar",
"gaf-ar.isol",
"gaf-ar.fina",
"gaf-ar.medi",
"gaf-ar.init",
"gafRing-ar",
"gafThreedots-ar",
"kafswash-ar",
"kafswash-ar.fina",
"kafswash-ar.medi",
"kafswash-ar.init",
"kafRing-ar",
"kafDotabove-ar",
"kafTwodotshorizontalabove-ar",
"kafTwodotshorizontalabove-ar.fina",
"kafTwodotshorizontalabove-ar.medi",
"kafTwodotshorizontalabove-ar.init",
"kafThreedotsbelow-ar",
"kafThreedotsbelow-ar.fina",
"kafThreedotsbelow-ar.medi",
"kafThreedotsbelow-ar.init",
"gafTwodotsbelow-ar",
"gafInvertedstroke-ar",
"ng-ar",
"ng-ar.isol",
"ng-ar.fina",
"ng-ar.medi",
"ng-ar.init",
"ngoeh-ar",
"ngoeh-ar.isol",
"ngoeh-ar.fina",
"ngoeh-ar.medi",
"ngoeh-ar.init",
"gueh-ar",
"gueh-ar.isol",
"gueh-ar.fina",
"gueh-ar.medi",
"gueh-ar.init",
"lam-ar",
"lam-ar.isol",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.init",
"lamVabove-ar",
"lamDotabove-ar",
"lamThreedotsabove-ar",
"lamThreedotsbelow-ar",
"lamDoublebar-ar",
"lamTahabove-ar",
"meem-ar",
"meem-ar.isol",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.init",
"meemThreedotsabove-ar",
"noon-ar",
"noon-ar.isol",
"noon-ar.fina",
"noon-ar.medi",
"noon-ar.init",
"noonDotbelow-ar",
"noonghunna-ar",
"noonghunna-ar.medi",
"noonghunna-ar.init",
"noonghunna-ar.isol",
"noonghunna-ar.fina",
"rnoon-ar",
"rnoon-ar.isol",
"rnoon-ar.fina",
"rnoon-ar.medi",
"rnoon-ar.init",
"noonRing-ar",
"noonThreedotsabove-ar",
"heh-ar",
"heh-ar.isol",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehHamzaabove-ar",
"hehHamzaabove-ar.isol",
"hehHamzaabove-ar.fina",
"hehgoal-ar",
"hehgoal-ar.isol",
"hehgoal-ar.fina",
"hehgoal-ar.medi",
"hehgoal-ar.init",
"hehgoalHamzaabove-ar",
"hehDoachashmee-ar",
"hehDoachashmee-ar.isol",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"hehDoachashmee-ar.init",
"hehVinvertedabove-ar",
"hehAlefabove-ar.init",
"hehAlefabove-ar.init.fina",
"tehMarbuta-ar",
"tehMarbuta-ar.isol",
"tehMarbuta-ar.fina",
"tehMarbutagoal-ar",
"tehMarbutagoal-ar.fina",
"tehVabove-ar",
"waw-ar",
"waw-ar.isol",
"waw-ar.fina",
"wawRing-ar",
"wawRing-ar.fina",
"wawTwodots-ar",
"wawTwodots-ar.fina",
"wawDotabove-ar",
"wawDotabove-ar.fina",
"wawHamzaabove-ar",
"wawHamzaabove-ar.isol",
"wawHamzaabove-ar.fina",
"wawTwoabove-ar",
"wawTwoabove-ar.fina",
"wawThreeAbove-ar",
"wawThreeAbove-ar.fina",
"wawDotcenter-ar",
"wawDotcenter-ar.fina",
"wawStraight-ar",
"kirghizoe-ar",
"kirghizoe-ar.isol",
"kirghizoe-ar.fina",
"oe-ar",
"oe-ar.isol",
"oe-ar.fina",
"u-ar",
"u-ar.isol",
"u-ar.fina",
"yu-ar",
"yu-ar.isol",
"yu-ar.fina",
"kirghizyu-ar",
"kirghizyu-ar.isol",
"kirghizyu-ar.fina",
"ve-ar",
"ve-ar.isol",
"ve-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.isol",
"alefMaksura-ar.fina",
"alefMaksuraAlefabove-ar",
"alefMaksuraAlefabove-ar.fina",
"aleflow-ar",
"alefTwoabove-ar",
"alefTwoabove-ar.fina",
"alefThreeabove-ar",
"alefThreeabove-ar.fina",
"yeh-ar",
"yeh-ar.isol",
"yeh-ar.fina",
"yeh-ar.medi",
"yeh-ar.init",
"yehHamzaabove-ar",
"yehHamzaabove-ar.isol",
"yehHamzaabove-ar.fina",
"yehHamzaabove-ar.medi",
"yehHamzaabove-ar.init",
"yehVabove-ar",
"yehTwodotsbelowHamzaabove-ar",
"yehTwodotsbelowDotabove-ar",
"yehVinverted-farsi",
"yeh-farsi",
"yeh-farsi.isol",
"yeh-farsi.fina",
"yeh-farsi.medi",
"yeh-farsi.init",
"yehFarsiTwodotsabove-ar",
"yehFarsiThreedotsabove-ar",
"yehFarsiTwoabove-ar",
"yehFarsiTwoabove-ar.fina",
"yehFarsiTwoabove-ar.medi",
"yehFarsiTwoabove-ar.init",
"yehFarsiThreeabove-ar",
"yehFarsiThreeabove-ar.fina",
"yehFarsiThreeabove-ar.medi",
"yehFarsiThreeabove-ar.init",
"yehFarsiFourbelow-ar",
"yehFarsiFourbelow-ar.fina",
"yehFarsiFourbelow-ar.medi",
"yehFarsiFourbelow-ar.init",
"yehTail-ar",
"yehTail-ar.fina",
"yehKashmiri-ar",
"yehKashmiri-ar.fina",
"yehKashmiri-ar.medi",
"yehKashmiri-ar.init",
"e-ar",
"e-ar.isol",
"e-ar.fina",
"e-ar.medi",
"e-ar.init",
"yehThreedotsbelow-ar",
"yehbarree-ar",
"yehbarree-ar.isol",
"yehbarree-ar.fina",
"yehbarreeHamzaabove-ar",
"yehbarreeHamzaabove-ar.isol",
"yehbarreeHamzaabove-ar.fina",
"yehbarreeTwoabove-ar",
"yehbarreeTwoabove-ar.fina",
"yehbarreeTwoabove-ar.medi",
"yehbarreeTwoabove-ar.init",
"yehbarreeThreeabove-ar",
"yehbarreeThreeabove-ar.fina",
"yehbarreeThreeabove-ar.medi",
"yehbarreeThreeabove-ar.init",
"yehRohingya-ar",
"highhamzaWaw-ar",
"highhamzaWaw-ar.fina",
"uHamzaabove-ar",
"uHamzaabove-ar.fina",
"uHamzaabove-ar.isol",
"highhamzaYeh-ar",
"highhamzaYeh-ar.fina",
"highhamzaYeh-ar.medi",
"highhamzaYeh-ar.init",
"ae-ar",
"ae-ar.fina",
"seenFourdotsabove-ar",
"seenFourdotsabove-ar.fina",
"seenFourdotsabove-ar.medi",
"seenFourdotsabove-ar.init",
"ainTwodotshorizontalabove-ar",
"ainThreedotsdownabove-ar",
"ainTwodotsverticalabove-ar",
"fehTwodotsbelow-ar",
"fehThreedotsupbelow-ar",
"meemDotabove-ar",
"meemDotabove-ar.fina",
"meemDotabove-ar.medi",
"meemDotabove-ar.init",
"meemDotbelow-ar",
"meemDotbelow-ar.fina",
"meemDotbelow-ar.medi",
"meemDotbelow-ar.init",
"noonTwodotsbelow-ar",
"noonTwodotsbelow-ar.fina",
"noonTwodotsbelow-ar.medi",
"noonTwodotsbelow-ar.init",
"noonTahabove-ar",
"noonTahabove-ar.fina",
"noonTahabove-ar.medi",
"noonTahabove-ar.init",
"noonVabove-ar",
"lamBar-ar",
"seenTwodotsverticalabove-ar",
"seenTwodotsverticalabove-ar.fina",
"seenTwodotsverticalabove-ar.medi",
"seenTwodotsverticalabove-ar.init",
"seenTahTwodotshorizontalabove-ar",
"hahTahabove-ar",
"seenFourabove-ar",
"seenFourabove-ar.fina",
"seenFourabove-ar.medi",
"seenFourabove-ar.init",
"seenVinvertedabove-ar",
"qaf_lam_yeh-ar",
"fathatan-ar.medi",
"kashidaFina-ar",
"kasra-ar.medi",
"kashida-ar",
"fatha-ar.medi",
"damma-ar.medi",
"shadda-ar.medi",
"shaddaFatha-ar.medi",
"shaddaDamma-ar.medi",
"shaddaKasra-ar.medi",
"sukun-ar.medi",
"alef-ar.fina.wide",
"alef-ar.short",
"alef-ar.fina.short",
"behDotless-ar.medi.tall",
"behDotless-ar.medi.tall.wide",
"behDotless-ar.medi.wide",
"behDotless-ar.init.short",
"behDotless-ar.init.short.wide",
"behDotless-ar.init.wide",
"beh-ar.init.short",
"beeh-ar.init.short",
"alefMaksura-ar.medi.tall",
"alefMaksura-ar.init.short",
"hah-ar.wide",
"hah-ar.fina.wide",
"noon-ar.init.short",
"wawDotcenter-ar.pt",
"wawDotcenter-ar.pt.fina",
"yehRohingya-ar.fina",
"yehRohingya-ar.pt.fina",
"wawSmall-ar",
"yehSmall-ar",
"ainThreedotsbelow-ar",
"kafDotbelow-ar",
"fehAfrican-ar",
"fehAfrican-ar.fina",
"fehAfrican-ar.medi",
"fehAfrican-ar.init",
"qafAfrican-ar",
"qafAfrican-ar.fina",
"qafAfrican-ar.medi",
"qafAfrican-ar.init",
"noonAfrican-ar",
"noonAfrican-ar.fina",
"noonAfrican-ar.medi",
"noonAfrican-ar.init",
"behMeemabove-ar",
"behMeemabove-ar.fina",
"behMeemabove-ar.medi",
"behMeemabove-ar.init",
"pehMeemabove-ar",
"pehMeemabove-ar.fina",
"pehMeemabove-ar.medi",
"pehMeemabove-ar.init",
"rehNoonabove-ar",
"rehNoonabove-ar.fina",
"tehTehabove-ar",
"tehTehabove-ar.fina",
"tehTehabove-ar.medi",
"tehTehabove-ar.init",
"yehTwodotsbelowNoonabove-ar",
"yehTwodotsbelowNoonabove-ar.fina",
"yehTwodotsbelowNoonabove-ar.medi",
"yehTwodotsbelowNoonabove-ar.init",
"lam_alef-ar",
"lam_alef-ar.fina",
"lam_alef-ar.isol",
"lam_alefHamzaabove-ar",
"lam_alefHamzaabove-ar.fina",
"lam_alefHamzaabove-ar.isol",
"lam_alefHamzabelow-ar",
"lam_alefHamzabelow-ar.fina",
"lam_alefHamzabelow-ar.isol",
"lam_alefWavyhamzaabove-ar.fina",
"lam_alefWavyhamzaabove-ar.isol",
"lam_alefWavyhamzabelow-ar.fina",
"lam_alefWavyhamzabelow-ar.isol",
"lam_alefMadda-ar",
"lam_alefMadda-ar.fina",
"lam_alefMadda-ar.isol",
"lam_alefWasla-ar.isol",
"lam_alefWasla-ar",
"beh_jeem-ar",
"beh_jeem-ar.init",
"beh_hah-ar",
"beh_hah-ar.init",
"beh_hah_yeh-ar.fina",
"beh_khah-ar",
"beh_khah-ar.init",
"beh_khah_yeh-ar.fina",
"beh_reh-ar.fina",
"beh_zain-ar.fina",
"beh_meem-ar",
"beh_meem-ar.fina",
"beh_meem-ar.medi",
"beh_meem-ar.init",
"beh_noon-ar.fina",
"beh_heh-ar.medi",
"beh_heh-ar.init",
"beh_alefMaksura-ar",
"beh_alefMaksura-ar.fina",
"beh_yeh-ar",
"beh_yeh-ar.fina",
"beh_yehHamzaabove-ar",
"beh_yehHamzaabove-ar.fina",
"lam_alefMaksura-ar",
"lam_alefMaksura-ar.fina",
"lam_alefWasla-ar.fina",
"peh_reh-ar.fina",
"peh_zain-ar.fina",
"peh_meem-ar",
"peh_meem-ar.fina",
"peh_meem-ar.medi",
"peh_meem-ar.init",
"peh_noon-ar.fina",
"peh_heh-ar.medi",
"peh_heh-ar.init",
"peh_alefMaksura-ar",
"peh_alefMaksura-ar.fina",
"peh_yeh-ar",
"peh_yeh-ar.fina",
"peh_yehHamzaabove-ar",
"peh_yehHamzaabove-ar.fina",
"teh_jeem-ar",
"teh_jeem-ar.init",
"teh_jeem_meem-ar.init",
"teh_jeem_alefMaksura-ar.fina",
"teh_jeem_yeh-ar.fina",
"teh_hah-ar",
"teh_hah-ar.init",
"teh_hah_jeem-ar.fina",
"teh_hah_jeem-ar.init",
"teh_hah_meem-ar.init",
"teh_khah-ar",
"teh_khah-ar.init",
"teh_khah_meem-ar.init",
"teh_khah_alefMaksura-ar.fina",
"teh_khah_yeh-ar.fina",
"teh_reh-ar.fina",
"teh_zain-ar.fina",
"teh_meem-ar",
"teh_meem-ar.fina",
"teh_meem-ar.medi",
"teh_meem-ar.init",
"teh_meem_jeem-ar.init",
"teh_meem_hah-ar.init",
"teh_meem_khah-ar.init",
"teh_meem_alefMaksura-ar.fina",
"teh_meem_yeh-ar.fina",
"teh_noon-ar.fina",
"teh_heh-ar.medi",
"teh_heh-ar.init",
"teh_alefMaksura-ar",
"teh_alefMaksura-ar.fina",
"teh_yeh-ar",
"teh_yeh-ar.fina",
"teh_yehHamzaabove-ar",
"teh_yehHamzaabove-ar.fina",
"theh_jeem-ar",
"theh_reh-ar.fina",
"theh_zain-ar.fina",
"theh_meem-ar",
"theh_meem-ar.fina",
"theh_meem-ar.medi",
"theh_meem-ar.init",
"theh_noon-ar.fina",
"theh_heh-ar.medi",
"theh_heh-ar.init",
"theh_alefMaksura-ar",
"theh_alefMaksura-ar.fina",
"theh_yeh-ar",
"theh_yeh-ar.fina",
"theh_yehHamzaabove-ar",
"theh_yehHamzaabove-ar.fina",
"jeem_hah-ar",
"jeem_hah-ar.init",
"jeem_hah_alefMaksura-ar.fina",
"jeem_hah_yeh-ar.fina",
"jeem_meem-ar",
"jeem_meem-ar.init",
"jeem_meem_hah-ar.fina",
"jeem_meem_hah-ar.init",
"jeem_meem_alefMaksura-ar.fina",
"jeem_meem_yeh-ar.fina",
"jeem_alefMaksura-ar",
"jeem_alefMaksura-ar.fina",
"jeem_yeh-ar",
"jeem_yeh-ar.fina",
"hah_jeem-ar",
"hah_jeem-ar.init",
"hah_jeem_yeh-ar.fina",
"hah_meem-ar",
"hah_meem-ar.init",
"hah_meem_alefMaksura-ar.fina",
"hah_meem_yeh-ar.fina",
"hah_alefMaksura-ar",
"hah_alefMaksura-ar.fina",
"hah_yeh-ar",
"hah_yeh-ar.fina",
"khah_jeem-ar",
"khah_jeem-ar.init",
"khah_hah-ar",
"khah_meem-ar",
"khah_meem-ar.init",
"khah_alefMaksura-ar",
"khah_alefMaksura-ar.fina",
"khah_yeh-ar",
"khah_yeh-ar.fina",
"khah_yehHamzaabove-ar",
"khah_yehHamzaabove-ar.fina",
"seen_jeem-ar",
"seen_jeem-ar.medi",
"seen_jeem-ar.init",
"seen_jeem_hah-ar.init",
"seen_jeem_alefMaksura-ar.fina",
"seen_hah-ar",
"seen_hah-ar.medi",
"seen_hah-ar.init",
"seen_hah_jeem-ar.init",
"seen_khah-ar",
"seen_khah-ar.medi",
"seen_khah-ar.init",
"seen_khah_alefMaksura-ar.fina",
"seen_khah_yeh-ar.fina",
"seen_reh-ar",
"seen_reh-ar.fina",
"seen_meem-ar",
"seen_meem-ar.medi",
"seen_meem-ar.init",
"seen_meem_jeem-ar.init",
"seen_meem_hah-ar.fina",
"seen_meem_hah-ar.init",
"seen_meem_meem-ar.fina",
"seen_meem_meem-ar.init",
"seen_heh-ar.medi",
"seen_heh-ar.init",
"seen_alefMaksura-ar",
"seen_alefMaksura-ar.fina",
"seen_yeh-ar",
"seen_yeh-ar.fina",
"seen_zain-ar",
"seen_zain-ar.fina",
"seen_meem-ar.fina",
"seen_yehHamzaabove-ar",
"seen_yehHamzaabove-ar.fina",
"sheen_jeem-ar",
"sheen_jeem-ar.fina",
"sheen_jeem-ar.medi",
"sheen_jeem-ar.init",
"sheen_jeem_yeh-ar.fina",
"sheen_hah-ar",
"sheen_hah-ar.fina",
"sheen_hah-ar.medi",
"sheen_hah-ar.init",
"sheen_hah_meem-ar.fina",
"sheen_hah_meem-ar.init",
"sheen_hah_yeh-ar.fina",
"sheen_khah-ar",
"sheen_khah-ar.fina",
"sheen_khah-ar.medi",
"sheen_khah-ar.init",
"sheen_reh-ar",
"sheen_reh-ar.fina",
"sheen_zain-ar",
"sheen_zain-ar.fina",
"sheen_meem-ar",
"sheen_meem-ar.fina",
"sheen_meem-ar.medi",
"sheen_meem-ar.init",
"sheen_meem_khah-ar.fina",
"sheen_meem_khah-ar.init",
"sheen_meem_meem-ar.fina",
"sheen_meem_meem-ar.init",
"sheen_heh-ar.medi",
"sheen_heh-ar.init",
"sheen_alefMaksura-ar",
"sheen_alefMaksura-ar.fina",
"sheen_yeh-ar",
"sheen_yeh-ar.fina",
"sheen_yehHamzaabove-ar",
"sheen_yehHamzaabove-ar.fina",
"sad_hah-ar",
"sad_hah-ar.init",
"sad_hah_hah-ar.fina",
"sad_hah_hah-ar.init",
"sad_hah_yeh-ar.fina",
"sad_khah-ar.init",
"sad_reh-ar",
"sad_reh-ar.fina",
"sad_zain-ar",
"sad_zain-ar.fina",
"sad_lam_yeh-ar",
"sad_meem-ar",
"sad_meem-ar.medi",
"sad_meem-ar.init",
"sad_meem_meem-ar.fina",
"sad_meem_meem-ar.init",
"sad_heh-ar.medi",
"sad_heh-ar.init",
"sad_alefMaksura-ar",
"sad_alefMaksura-ar.fina",
"sad_yeh-ar",
"sad_yeh-ar.fina",
"sad_yehHamzaabove-ar",
"sad_yehHamzaabove-ar.fina",
"dad_jeem-ar",
"dad_jeem-ar.init",
"dad_hah-ar",
"dad_hah-ar.init",
"dad_hah_alefMaksura-ar.fina",
"dad_hah_yeh-ar.fina",
"dad_khah-ar",
"dad_khah-ar.init",
"dad_khah_meem-ar.fina",
"dad_khah_meem-ar.init",
"dad_reh-ar",
"dad_reh-ar.fina",
"dad_zain-ar",
"dad_zain-ar.fina",
"dad_meem-ar",
"dad_meem-ar.medi",
"dad_meem-ar.init",
"dad_heh-ar.medi",
"dad_heh-ar.init",
"dad_alefMaksura-ar",
"dad_alefMaksura-ar.fina",
"dad_yeh-ar",
"dad_yeh-ar.fina",
"dad_yehHamzaabove-ar",
"dad_yehHamzaabove-ar.fina",
"tah_hah-ar",
"tah_hah-ar.init",
"tah_meem-ar",
"tah_meem-ar.medi",
"tah_meem-ar.init",
"tah_meem_hah-ar.fina",
"tah_meem_hah-ar.init",
"tah_meem_meem-ar.init",
"tah_meem_yeh-ar.fina",
"tah_alefMaksura-ar",
"tah_alefMaksura-ar.fina",
"tah_yeh-ar",
"tah_yeh-ar.fina",
"zah_meem-ar",
"zah_meem-ar.medi",
"zah_meem-ar.init",
"ain_jeem-ar",
"ain_jeem-ar.init",
"ain_jeem_meem-ar.fina",
"ain_jeem_meem-ar.init",
"ain_meem-ar",
"ain_meem-ar.init",
"ain_meem_meem-ar.fina",
"ain_meem_meem-ar.init",
"ain_meem_alefMaksura-ar.fina",
"ain_meem_yeh-ar.fina",
"ain_alefMaksura-ar",
"ain_alefMaksura-ar.fina",
"ain_yeh-ar",
"ain_yeh-ar.fina",
"ghain_jeem-ar",
"ghain_jeem-ar.init",
"ghain_meem-ar",
"ghain_meem-ar.init",
"ghain_meem_meem-ar.fina",
"ghain_meem_alefMaksura-ar.fina",
"ghain_meem_yeh-ar.fina",
"ghain_alefMaksura-ar",
"ghain_alefMaksura-ar.fina",
"ghain_yeh-ar",
"ghain_yeh-ar.fina",
"feh_jeem-ar",
"feh_jeem-ar.init",
"feh_hah-ar",
"feh_hah-ar.init",
"feh_khah-ar",
"feh_khah-ar.init",
"feh_khah_meem-ar.fina",
"feh_khah_meem-ar.init",
"feh_meem-ar",
"feh_meem-ar.init",
"feh_meem_yeh-ar.fina",
"feh_alefMaksura-ar",
"feh_alefMaksura-ar.fina",
"feh_yeh-ar",
"feh_yeh-ar.fina",
"feh_yehHamzaabove-ar",
"qaf_hah-ar",
"qaf_hah-ar.init",
"qaf_meem-ar",
"qaf_meem-ar.init",
"qaf_meem_hah-ar.fina",
"qaf_meem_hah-ar.init",
"qaf_meem_meem-ar.fina",
"qaf_meem_yeh-ar.fina",
"qaf_alefMaksura-ar",
"qaf_alefMaksura-ar.fina",
"qaf_yeh-ar",
"qaf_yeh-ar.fina",
"qaf_yehHamzaabove-ar",
"kaf_alef-ar",
"kaf_alef-ar.fina",
"kaf_jeem-ar",
"kaf_jeem-ar.init",
"kaf_hah-ar",
"kaf_hah-ar.init",
"kaf_khah-ar",
"kaf_khah-ar.init",
"kaf_lam-ar",
"kaf_lam-ar.fina",
"kaf_lam-ar.medi",
"kaf_lam-ar.init",
"kaf_meem-ar",
"kaf_meem-ar.fina",
"kaf_meem-ar.medi",
"kaf_meem-ar.init",
"kaf_meem_meem-ar.fina",
"kaf_meem_meem-ar.init",
"kaf_meem_yeh-ar.fina",
"kaf_alefMaksura-ar",
"kaf_alefMaksura-ar.fina",
"kaf_yeh-ar",
"kaf_yeh-ar.fina",
"kaf_yehHamzaabove-ar",
"kaf_yehHamzaabove-ar.fina",
"keheh_yeh-ar",
"gaf_alefMaksura-ar",
"gaf_alefMaksura-ar.fina",
"gaf_yeh-ar",
"gaf_yeh-ar.fina",
"gaf_yehHamzaabove-ar",
"gaf_yehHamzaabove-ar.fina",
"lam_beh_meem-ar",
"lam_peh_meem-ar",
"lam_teh_meem-ar",
"lam_theh_meem-ar",
"lam_jeem-ar",
"lam_jeem-ar.init",
"lam_jeem_jeem-ar.fina",
"lam_jeem_jeem-ar.init",
"lam_jeem_meem-ar.fina",
"lam_jeem_meem-ar.init",
"lam_jeem_yeh-ar.fina",
"lam_hah-ar",
"lam_hah-ar.init",
"lam_hah_meem-ar.fina",
"lam_hah_meem-ar.init",
"lam_hah_alefMaksura-ar.fina",
"lam_hah_yeh-ar.fina",
"lam_khah-ar",
"lam_khah-ar.init",
"lam_khah_meem-ar.fina",
"lam_khah_meem-ar.init",
"lam_meem-ar",
"lam_meem-ar.fina",
"lam_meem-ar.medi",
"lam_meem-ar.init",
"lam_meem_hah-ar.fina",
"lam_meem_hah-ar.init",
"lam_meem_yeh-ar.fina",
"lam_noon_meem-ar",
"lam_heh-ar.init",
"lam_alefMaksura_meem-ar",
"lam_yeh-ar",
"lam_yeh-ar.fina",
"lam_yeh_meem-ar",
"lam_yehHamzaabove-ar",
"lam_yehHamzaabove-ar.fina",
"lam_yehHamzaabove_meem-ar",
"lam_yehbarree-ar.fina",
"lamThreedotsabove_alef-ar.fina",
"lamThreedotsabove_alef-ar.isol",
"lamThreedotsbelow_alef-ar.fina",
"lamThreedotsbelow_alef-ar.isol",
"meem_alef-ar.fina",
"meem_jeem-ar",
"meem_jeem-ar.init",
"meem_jeem_hah-ar.init",
"meem_jeem_khah-ar.init",
"meem_jeem_meem-ar.init",
"meem_jeem_yeh-ar.fina",
"meem_hah-ar",
"meem_hah-ar.init",
"meem_hah_jeem-ar.init",
"meem_hah_meem-ar.init",
"meem_hah_yeh-ar.fina",
"meem_khah-ar",
"meem_khah-ar.init",
"meem_khah_jeem-ar.init",
"meem_khah_meem-ar.init",
"meem_khah_yeh-ar.fina",
"meem_reh-ar.fina",
"meem_zain-ar.fina",
"meem_meem-ar",
"meem_meem-ar.fina",
"meem_meem-ar.init",
"meem_meem_yeh-ar.fina",
"meem_alefMaksura-ar",
"meem_yeh-ar",
"noon_jeem-ar",
"noon_jeem-ar.init",
"noon_jeem_hah-ar.fina",
"noon_jeem_hah-ar.init",
"noon_jeem_meem-ar.fina",
"noon_jeem_meem-ar.init",
"noon_jeem_alefMaksura-ar.fina",
"noon_jeem_yeh-ar.fina",
"noon_hah-ar",
"noon_hah-ar.init",
"noon_hah_meem-ar.init",
"noon_hah_alefMaksura-ar.fina",
"noon_hah_yeh-ar.fina",
"noon_khah-ar",
"noon_khah-ar.init",
"noon_reh-ar.fina",
"noon_zain-ar.fina",
"noon_meem-ar",
"noon_meem-ar.fina",
"noon_meem-ar.medi",
"noon_meem-ar.init",
"noon_meem_alefMaksura-ar.fina",
"noon_meem_yeh-ar.fina",
"noon_noon-ar.fina",
"noon_heh-ar.medi",
"noon_heh-ar.init",
"noon_alefMaksura-ar",
"noon_alefMaksura-ar.fina",
"noon_yeh-ar",
"noon_yeh-ar.fina",
"noon_yehHamzaabove-ar",
"noon_yehHamzaabove-ar.fina",
"heh_jeem-ar",
"heh_jeem-ar.init",
"heh_meem-ar",
"heh_meem-ar.init",
"heh_meem_jeem-ar.init",
"heh_meem_meem-ar.init",
"heh_alefMaksura-ar",
"heh_yeh-ar",
"alefMaksura_reh-ar.fina",
"alefMaksura_zain-ar.fina",
"alefMaksura_meem-ar",
"alefMaksura_meem-ar.fina",
"alefMaksura_meem-ar.medi",
"alefMaksura_meem-ar.init",
"alefMaksura_noon-ar.fina",
"alefMaksura_heh-ar.medi",
"alefMaksura_heh-ar.init",
"yeh_jeem-ar",
"yeh_jeem-ar.init",
"yeh_jeem_yeh-ar.fina",
"yeh_hah-ar",
"yeh_hah-ar.init",
"yeh_hah_yeh-ar.fina",
"yeh_khah-ar",
"yeh_khah-ar.init",
"yeh_reh-ar.fina",
"yeh_zain-ar.fina",
"yeh_meem-ar",
"yeh_meem-ar.fina",
"yeh_meem-ar.medi",
"yeh_meem-ar.init",
"yeh_meem_meem-ar.fina",
"yeh_meem_meem-ar.init",
"yeh_meem_yeh-ar.fina",
"yeh_noon-ar.fina",
"yeh_heh-ar.medi",
"yeh_heh-ar.init",
"yeh_alefMaksura-ar",
"yeh_alefMaksura-ar.fina",
"yeh_yeh-ar",
"yeh_yeh-ar.fina",
"yehHamzaabove_alef-ar",
"yehHamzaabove_alef-ar.fina",
"yehHamzaabove_jeem-ar",
"yehHamzaabove_jeem-ar.init",
"yehHamzaabove_hah-ar",
"yehHamzaabove_hah-ar.init",
"yehHamzaabove_khah-ar.init",
"yehHamzaabove_reh-ar.fina",
"yehHamzaabove_zain-ar.fina",
"yehHamzaabove_meem-ar",
"yehHamzaabove_meem-ar.fina",
"yehHamzaabove_meem-ar.medi",
"yehHamzaabove_meem-ar.init",
"yehHamzaabove_noon-ar.fina",
"yehHamzaabove_heh-ar.medi",
"yehHamzaabove_heh-ar.init",
"yehHamzaabove_waw-ar",
"yehHamzaabove_waw-ar.fina",
"yehHamzaabove_oe-ar",
"yehHamzaabove_oe-ar.fina",
"yehHamzaabove_u-ar",
"yehHamzaabove_u-ar.fina",
"yehHamzaabove_yu-ar",
"yehHamzaabove_yu-ar.fina",
"yehHamzaabove_alefMaksura-ar",
"yehHamzaabove_alefMaksura-ar.fina",
"yehHamzaabove_yeh-ar",
"yehHamzaabove_yeh-ar.fina",
"yehHamzaabove_yehHamzaabove-ar",
"yehHamzaabove_yehHamzaabove-ar.fina",
"yehHamzaabove_e-ar",
"yehHamzaabove_e-ar.fina",
"yehHamzaabove_e-ar.init",
"yehHamzaabove_ae-ar",
"yehHamzaabove_ae-ar.fina",
"uighurkirghizyehHamzaabove_alefMaksura-ar",
"uighurkirghizyehHamzaabove_alefMaksura-ar.fina",
"uighurkirghizyehHamzaabove_alefMaksura-ar.init",
"allah-ar",
"akbar-ar",
"mohammad-ar",
"salam-ar",
"rasoul-ar",
"alayhe-ar",
"wasallam-ar",
"salla-ar",
"allahlong-ar",
"jallajalalouhou-ar",
"allah-ar.pt1",
"allah-ar.pt2",
"decimalseparator-ar",
"thousandseparator-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"zeroFarsi-ar",
"oneFarsi-ar",
"twoFarsi-ar",
"threeFarsi-ar",
"four-persian",
"fiveFarsi-ar",
"six-persian",
"seven-persian",
"eightFarsi-ar",
"nineFarsi-ar",
"fourFarsi-ar.small01",
"four-persian.urdu",
"seven-persian.urdu",
"twoFarsi-ar.small01",
"threeFarsi-ar.small01",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
nbspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
lefttorightmark,
righttoleftmark,
"threedots-ar",
"hizb-ar",
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
"number-ar",
"asterisk-ar",
"year-ar",
"footnotemarker-ar",
"pagenumber-ar",
"dateseparator-ar",
"verseComma-ar",
"misraComma-ar",
"sindhiampersand-ar",
"endofayah-ar",
"disputedendofayah-ar",
"parenleft-ar",
"parenright-ar",
period,
comma,
colon,
exclam,
commareversed,
reversedsemicolon,
hyphen,
hyphentwo,
nonbreakinghyphen,
guillemetleft,
guillemetright,
"mark-ar",
"numbermark-ar",
"samvat-ar",
"cuberoot_fourthroot-ar.pt",
"bismillah-ar",
"bismillah-ar.001",
"sajdah-ar",
"sindhipostpositionmen-ar",
"ray-ar",
"afghani-ar",
rial,
"percent-ar",
"cuberoot-ar",
"fourthroot-ar",
"perthousand-ar",
"pertenthousand-ar",
"fourthroot-ar.pt",
dottedCircle,
graphemejoinercomb,
"ainabove-ar",
"annisfabove-ar",
"dammaturnedbelow-ar",
"rehHahabove-ar",
"rehDadabove-ar",
"sallallahouAlayheWassallamcomb-ar",
"alayheAssallamcomb-ar",
"takhallusabove-ar",
"tahabove-ar",
"tahcenter-ar",
"tahbelow-ar",
"alefLamYehabove-ar",
"zainabove-ar",
"fathaSmall-ar",
"dammaSmall-ar",
"kasraSmall-ar",
"dotabove-ar",
"dotbelow-ar",
"twodotsverticalabove-ar",
"twodotsverticalbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalabove-ar.diagonal",
"twodotshorizontalbelow-ar",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsdownbelow-ar.restricted",
"threedotsdowncenter-ar.small",
"threedotsupabove-ar",
"threedotsupabove-ar.diagonal",
"threedotsupbelow-ar",
"threedotsupcenter-ar",
"threedotshorizontalbelow-ar",
"fourdotsabove-ar",
"fourdotsbelow-ar",
"wavyhamzabelow-ar",
"ringSymbol-ar",
"ring-ar",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzaabove-ar_sukun-ar",
"hamzabelow-ar",
"fathatan_hamzaabove-ar",
"fathatan-ar",
"dammatan-ar",
"dammatan-ar_hamzaabove-ar",
"kasratan-ar",
"kasratan_hamzabelow-ar",
"kasratan-ar_shadda-ar",
"fatha-ar",
"fatha-ar_hamzaabove-ar",
"fatha-ar_shadda-ar",
"damma-ar",
"damma-ar_hamzaabove-ar",
"kasra-ar",
"kasra_hamzabelow-ar",
"kasra-ar_shadda-ar",
"shadda-ar",
"fathatan_shadda-ar",
"dammatan-ar_shadda-ar",
"damma-ar_shadda-ar",
"sukun-ar",
"madda-ar",
"noonghunnaabove-ar",
"dammainverted-ar",
"fathaHorizont-ar",
"vabove-ar",
"vbelow-ar",
"vinvertedabove-ar",
"vinvertedbelow-ar",
"dotvowelbelow-ar",
"dammareversed-ar",
"fathatwodots-ar",
"sadLamAlefMaksuraabove-ar",
"qafLamAlefMaksuraabove-ar",
"meemabove-ar",
"meemStopabove-ar",
"lamAlefabove-ar",
"jeemabove-ar",
"threedotsabove-ar",
"seenabove-ar",
"sukunround-ar",
"sukunoval-ar",
"hahabove-ar",
"seenbelow-ar",
"maddalong-ar",
"yehabove-ar",
"noonabove-ar",
"rhombusStopbelow-ar",
"rhombusStopabove-ar",
"dotStopabove-ar",
"meembelow-ar",
"fathaCurly-ar",
"dammaCurly-ar",
"kasraCurly-ar",
"fathatanCurly-ar",
"dammatanCurly-ar",
"kasratanCurly-ar",
"toneonedotabove-ar",
"tonetwodotsabove-ar",
"toneloopabove-ar",
"toneonedotbelow-ar",
"tonetwodotsbelow-ar",
"toneloopbelow-ar",
"openfathatan-ar",
"opendammatan-ar",
"openkasratan-ar",
"wawHigh-ar",
"fathaRing-ar",
"fathaDotabove-ar",
"kasraDotbelow-ar",
"leftarrowheadabove-ar",
"rightarrowheadabove-ar",
"leftarrowheadbelow-ar",
"rightarrowheadbelow-ar",
"doublerightarrowheadabove-ar",
"doublerightarrowheadDotabove-ar",
"rightarrowheadDotabove-ar",
"dammaDot-ar",
"arrubabove-ar",
"assajdaabove-ar",
"aththalathaabove-ar",
"fourFarsi-ar.below",
"footnotemarkerabove-ar",
"hamzabetween-ar",
"marksidewaysnoonghunna-ar",
"noonKasraabove-ar",
"noonKasrabelow-ar",
"qafabove-ar",
"qifabove-ar",
"sadabove-ar",
"safhaabove-ar",
"saktaabove-ar",
"waqfaabove-ar",
"wawBelow-ar",
"dotcenter-ar",
"dotcenter-ar.small",
"twodotsverticalabove-ar.small",
"twodotshorizontalabove-ar.small",
"threedotsdownabove-ar.small",
"threedotsupabove-ar.small",
"threedotsupbelow-ar.small",
"fourdotsabove-ar.small",
"wasla-ar",
"kasra-ar.isol",
"doubleverticalbarbelow-ar",
"fathatan-ar.isol",
"dammatan-ar.isol",
"kasratan-ar.isol",
"fatha-ar.isol",
"damma-ar.isol",
"shadda-ar.isol",
"dammatan-ar_shadda-ar.spacing",
"shadda_kasratan-ar",
"fatha-ar_shadda-ar.spacing",
"damma-ar_shadda-ar.spacing",
"kasra-ar_shadda-ar.spacing",
"shadda_alefabove-ar",
"sukun-ar.isol",
"bar-ar",
"doubleBar-ar",
"invertedstroke-ar",
"tahtwodotshorizontalbelow-ar",
"tahtwodotshorizontalcenter-ar",
"tehabove-ar.small",
uniFBC0,
uniFBC0.small,
_part.instroke,
_part.Gaf.stroke,
_part.beh.fina,
"hahTahTwodotshorizontalbelow-ar",
"_vinvertedbelow-ar.001",
"_wavyhamzaabove-ar",
_DotCenter,
"jallajalalouhou1-ar",
"kehehTwodotsverticalbelow-ar",
"noonVinvertedabove-ar",
"qafDotmovedbelow-ar",
"tahDotbelow-ar",
"tahThreedotsbelow-ar",
"behThreedotsupbelowVabove-ar.fina",
"behThreedotsupbelowVabove-ar.init",
"behThreedotsupbelowVabove-ar.medi",
"dalTwodotsverblTahabv-ar.fina",
"dalTwodotsverticalbelowTahabove-ar.fina",
"fehDotMovedbelow-ar.fina",
"fehDotMovedbelow-ar.init",
"fehDotMovedbelow-ar.medi",
"gafinvertedstroke-ar.fina",
"gafinvertedstroke-ar.init",
"gafinvertedstroke-ar.medi",
TahSmallTwoDots,
_barshort,
_doublebarshort,
_hehgoalcomma,
_stroke,
jal,
jlalh,
_stroke.wide,
fdfd.alrahem,
fdfd.alrhman,
fdfd.bsm,
"jallajalalouhou1-ar.001"
)