{
displayStrings = (
"/keheh-ar/invertedstroke-ar/gafInvertedstroke-ar",
"/dal-ar/dalRing-ar",
"/dal-ar.fina",
"/reh-ar",
"/wawDotcenter-ar.pt/waw-ar/wawRing-ar",
"/noon-ar/noon-ar.fina",
"/yehFarsiFourbelow-ar.fina",
"/fourFarsi-ar.below",
"/gafinvertedstroke-ar.init/keheh-ar.init",
"/ain-ar.fina",
"/tahtwodotshorizontalcenter-ar/hah-ar.fina",
"/fehDotless-ar/feh-ar/jeem-ar/hah-ar.fina/jeem-ar.fina/dotcenter-ar",
"/fehDotless-ar/feh-ar/tteh-ar",
"/fourdotsbelow-ar",
"/uniFBC0/reh-ar/lam-ar.fina/rnoon-ar.fina"
);
}
