{
.appVersion = "3207";
classes = (
{
code = "uni0660 uni0661 uni0662 uni0663 uni0664 uni0665 uni0666 uni0667 uni0668 uni0669 uni06F0 uni06F1 uni06F2 uni06F3 uni06F4 uni06F5 uni06F6 uni06F7 uni06F8 uni06F9 uni06F4.locl uni06F7.locl";
name = tnum;
},
{
code = "uni0620
uni0622
uni0623
uni0624
uni0625
uni0626
uni0627
uni0628
uni0629
uni062A
uni062B
uni062C
uni062D
uni062E
uni062F
uni0630
uni0631
uni0632
uni0633
uni0634
uni0635
uni0636
uni0637
uni0638
uni0639
uni063A
uni063B
uni063C
uni063D
uni063E
uni063F
uni0641
uni0642
uni0643
uni0644
uni0645
uni0646
uni0647
uni0648
uni0649
uni064A
uni066E
uni066F
uni0671
uni0672
uni0673
uni0675
uni0676
uni0677
uni0678
uni0679
uni067A
uni067B
uni067C
uni067D
uni067E
uni067F
uni0680
uni0681
uni0682
uni0683
uni0684
uni0685
uni0686
uni0687
uni0688
uni0689
uni068A
uni068B
uni068C
uni068D
uni068E
uni068F
uni0690
uni0691
uni0692
uni0693
uni0694
uni0695
uni0696
uni0697
uni0698
uni0699
uni069A
uni069B
uni069C
uni069D
uni069E
uni069F
uni06A0
uni06A1
uni06A2
uni06A3
uni06A4
uni06A5
uni06A6
uni06A7
uni06A8
uni06A9
uni06AA
uni06AB
uni06AC
uni06AD
uni06AE
uni06AF
uni06B0
uni06B1
uni06B2
uni06B3
uni06B4
uni06B5
uni06B6
uni06B7
uni06B8
uni06B9
uni06BA
uni06BB
uni06BC
uni06BD
uni06BE
uni06BF
uni06C0
uni06C1
uni06C2
uni06C3
uni06C4
uni06C5
uni06C6
uni06C7
uni06C8
uni06C9
uni06CA
uni06CB
uni06CC
uni06CD
uni06CE
uni06CF
uni06D0
uni06D1
uni06D2
uni06D3
uni06D5
uni06EE
uni06EF
uni06FA
uni06FB
uni06FC
uni06FF
uni0750
uni0751
uni0752
uni0753
uni0754
uni0755
uni0756
uni0757
uni0758
uni0759
uni075A
uni075B
uni075C
uni075D
uni075E
uni075F
uni0760
uni0761
uni0762
uni0763
uni0764
uni0765
uni0766
uni0767
uni0768
uni0769
uni076A
uni076B
uni076C
uni076D
uni076E
uni076F
uni0770
uni0771
uni0772
uni0773
uni0774
uni0775
uni0776
uni0777
uni0778
uni0779
uni077A
uni077B
uni077C
uni077D
uni077E
uni077F
uni08A0
uni08A2
uni08A3
uni08A4
uni08A5
uni08A6
uni08A8
uni08AA
uni08AB
uni063C
uniFD3D
uni08A7
uni08A9";
name = fina;
},
{
code = "uni0660.4 uni0661.5 uni0662.tnum uni0663.6 uni0664.tnum uni0665.7 uni0666.tnum uni0667.8 uni0668.9 uni0669.tnum uni0660.4 uni0661.5 uni0662.tnum uni0663.6 uni06F4.10 uni06F5.11 uni06F6.12 uni0667.8 uni0668.9 uni0669.tnum _863 _866";
name = tnum2;
},
{
code = "uni0620.fina
uniFE82
uniFE84
uniFE86
uniFE88
uniFE8A
uniFE8E
uniFE90
uniFE94
uniFE96
uniFE9A
uniFE9E
uniFEA2
uniFEA6
uniFEAA
uniFEAC
uniFEAE
uniFEB0
uniFEB2
uniFEB6
uniFEBA
uniFEBE
uniFEC2
uniFEC6
uniFECA
uniFECE
uni063B.fina
uni063C.fina
uni063D.fina
uni063E.fina
uni063F.fina
uniFED2
uniFED6
uniFEDA
uniFEDE
uniFEE2
uniFEE6
uniFEEA
uniFEEE
uniFEF0
uniFEF2
uni066E.fina
uni066F.fina
uniFB51
uni0672.fina
uni0673.fina
uni0675.fina
uni0676.fina
uni0677.fina
uni0678.fina
uniFB67
uniFB5F
uniFB53
uni067C.fina
uni067D.fina
uniFB57
uniFB63
uniFB5B
uni0681.fina
uni0682.fina
uniFB77
uniFB73
uni0685.fina
uniFB7B
uniFB7F
uniFB89
uni0689.fina
uni068A.fina
uni068B.fina
uniFB85
uniFB83
uniFB87
uni068F.fina
uni0690.fina
uniFB8D
uni0692.fina
uni0693.fina
uni0694.fina
uni0695.fina
uni0696.fina
uni0697.fina
uniFB8B
uni0699.fina
uni069A.fina
uni069B.fina
uni069C.fina
uni069D.fina
uni069E.fina
uni069F.fina
uni06A0.fina
uni06A1.fina
uni06A2.fina
uni06A3.fina
uniFB6B
uni06A5.fina
uniFB6F
uni06A7.fina
uni06A8.fina
uniFB8F
uni06AA.fina
uni06AB.fina
uni06AC.fina
uniFBD4
uni06AE.fina
uniFB93
uni06B0.fina
uniFB9B
uni06B2.fina
uniFB97
uni06B4.fina
uni06B5.fina
uni06B6.fina
uni06B7.fina
uni06B8.fina
uni06B9.fina
uniFB9F
uniFBA1
uni06BC.fina
uni06BD.fina
uniFBAB
uni06BF.fina
uniFBA5
uniFBA7
uni06C2.fina
uni06C3.fina
uni06C4.fina
uniFBE1
uniFBDA
uniFBD8
uniFBDC
uniFBE3
uni06CA.fina
uniFBDF
uniFBFD
uni06CD.fina
uni06CE.fina
uni06CF.fina
uniFBE5
uni06D1.fina
uniFBAF
uniFBB1
uniFEEA
uni06EE.fina
uni06EF.fina
uni06FA.fina
uni06FB.fina
uni06FC.fina
uni06FF.fina
uni0750.fina
uni0751.fina
uni0752.fina
uni0753.fina
uni0754.fina
uni0755.fina
uni0756.fina
uni0757.fina
uni0758.fina
uni0759.fina
uni075A.fina
uni075B.fina
uni075C.fina
uni075D.fina
uni075E.fina
uni075F.fina
uni0760.fina
uni0761.fina
uni0762.fina
uni0763.fina
uni0764.fina
uni0765.fina
uni0766.fina
uni0767.fina
uni0768.fina
uni0769.fina
uni076A.fina
uni076B.fina
uni076C.fina
uni076D.fina
uni076E.fina
uni076F.fina
uni0770.fina
uni0771.fina
uni0772.fina 
uni0773.fina
uni0774.fina
uni0775.fina
uni0776.fina
uni0777.fina
uni0778.fina
uni0779.fina
uni077A.fina
uni077B.fina
uni077C.fina 
uni077D.fina
uni077E.fina
uni077F.fina
uni08A0.fina
uni08A2.fina
uni08A3.fina
uni08A4.fina 
uni08A5.fina
uni08A6.fina
uni08A8.fina
uni08AA.fina
uni08AB.fina
uni063C.fina
uniFD3C
uni08A7.fina
uni08A9.fina";
name = fina2;
},
{
code = "uni0620.medi
uniFE8C
uniFE92
uniFE98
uniFE9C
uniFEA0
uniFEA4
uniFEA8
uniFEB4
uniFEB8
uniFEBC
uniFEC0
uniFEC4
uniFEC8
uniFECC
uniFED0
uni063B.medi
uni063C.medi
uni063D.medi
uni063E.medi
uni063F.medi
uniFED4
uniFED8
uniFEDC
uni0644.medi
uniFEE4
uniFEE8
uniFEEC
uniFBE9
uniFEF4
uni066E.medi
uni066F.medi
uni0678.medi
uniFB69
uniFB61
uniFB55
uni067C.medi
uni067D.medi
uniFB59
uniFB65
uniFB5D
uni0681.medi
uni0682.medi
uniFB79
uniFB75
uni0685.medi
uniFB7D
uniFB81
uni069A.medi
uni069B.medi
uni069C.medi
uni069D.medi
uni069E.medi
uni069F.medi
uni06A0.medi
uni066F.medi
uni06A2.medi
uni06A3.medi
uniFB6D
uni06A5.medi
uniFB71
uniFED4
uniFB6D
uniFB91
uni06AA.medi
uni06AB.medi
uni06AC.medi
uniFBD6
uni063C.medi
uniFB95
uni06B0.medi
uniFB9D
uni06B2.medi
uniFB99
uni06B4.medi
uni06B5.medi
uni06B6.medi
uni06B7.medi
uni06B8.medi
uni06B9.medi
uniFBE9
uniFB69
uni06BC.medi
uniFB59
uniFBAD
uniFBA9
uni06BF.medi
uni06C2.medi
uniFBFF
uni06CE.medi
uniFBE7
uniFB59
uni06FA.medi
uni06FB.medi
uni06FC.medi
uni06FF.medi
uni0750.medi
uni0751.medi
uni0752.medi
uni0753.medi
uni0754.medi
uni0755.medi
uni0756.medi
uni0757.medi
uni0758.medi
uniFB7D
uni075C.medi
uni075D.medi
uni075E.medi
uni075F.medi
uni0760.medi
uni0761.medi
uni0762.medi
uni0763.medi
uni0764.medi
uni0765.medi
uni0766.medi
uni0767.medi
uni0768.medi
uni0769.medi
uni076A.medi
uni076D.medi
uni076E.medi
uni076F.medi
uni0770.medi
uni0772.medi
uni0775.medi
uni0776.medi
uni0777.medi
uni077A.medi
uni077B.medi
uni077C.medi
uni077D.medi
uni077E.medi
uni077F.medi
uni08A0.medi
uni08A2.medi
uni08A3.medi
uni08A4.medi
uni08A5.medi
uni08A6.medi
uni08A8.medi
uni08A7.medi
uni08A9.medi";
name = medi;
},
{
code = "uni0660.ccmp uni0661.ccmp uni0662.ccmp uni0663.ccmp uni0664.ccmp uni0665.ccmp uni0666.ccmp uni0667.ccmp uni0668.ccmp uni0669.ccmp uni06F4.ccmp uni06F5.ccmp uni06F6.ccmp _971 _972 uni0030.ccmp uni0031.ccmp uni0032.ccmp uni0033.ccmp uni0034.ccmp uni0035.ccmp uni0036.ccmp uni0037.ccmp uni0038.ccmp uni0039.ccmp";
name = ccmp4;
},
{
code = "uni0601 uni06DD uni0600 uni0602 uni0603 uni0604";
name = ccmp;
},
{
code = "uni0620
uni0626
uni0628
uni062A
uni062B
uni062C
uni062D
uni062E
uni0633
uni0634
uni0635
uni0636
uni0637
uni0638
uni0639
uni063A
uni063B
uni063C
uni063D
uni063E
uni063F
uni0641
uni0642
uni0643
uni0644
uni0645
uni0646
uni0647
uni0649
uni064A
uni066E
uni066F
uni0678
uni0679
uni067A
uni067B
uni067C
uni067D
uni067E
uni067F
uni0680
uni0681
uni0682
uni0683
uni0684
uni0685
uni0686
uni0687
uni069A
uni069B
uni069C
uni069D
uni069E
uni069F
uni06A0
uni06A1
uni06A2
uni06A3
uni06A4
uni06A5
uni06A6
uni06A7
uni06A8
uni06A9
uni06AA
uni06AB
uni06AC
uni06AD
uni06AE
uni06AF
uni06B0
uni06B1
uni06B2
uni06B3
uni06B4
uni06B5
uni06B6
uni06B7
uni06B8
uni06B9
uni06BA
uni06BB
uni06BC
uni06BD
uni06BE
uni06C1
uni06BF
uni06C2
uni06CC
uni06CE
uni06D0
uni06D1
uni06FA
uni06FB
uni06FC
uni06FF
uni0750
uni0751
uni0752
uni0753
uni0754
uni0755
uni0756
uni0757
uni0758
uni0686
uni075C
uni075D
uni075E
uni075F
uni0760
uni0761
uni0762
uni0763
uni0764
uni0765
uni0766
uni0767
uni0768
uni0769
uni076A
uni076D
uni076E
uni076F
uni0770
uni0772
uni0775
uni0776
uni0777
uni077A
uni077B
uni077C
uni077D
uni077E
uni077F
uni08A0
uni08A2
uni08A3
uni08A4
uni08A5
uni08A6
uni08A8
uni08A7
uni08A9";
name = init_medi;
},
{
code = "uni0660 uni0661 uni0662 uni0663 uni0664 uni0665 uni0666 uni0667 uni0668 uni0669 uni06F0 uni06F1 uni06F2 uni06F3 uni06F4 uni06F5 uni06F6 uni06F7 uni06F8 uni06F9 uni06F4.locl uni06F7.locl uni0030 uni0031 uni0032 uni0033 uni0034 uni0035 uni0036 uni0037 uni0038 uni0039";
name = ccmp2;
},
{
code = "uni0620.init
uniFE8B
uniFE91
uniFE97
uniFE9B
uniFE9F
uniFEA3
uniFEA7
uniFEB3
uniFEB7
uniFEBB
uniFEBF
uniFEC3
uniFEC7
uniFECB
uniFECF
uni063B.init
uni063C.init
uni063D.init
uni063E.init
uni063F.init
uniFED3
uniFED7
uniFEDB
uni0644.init
uniFEE3
uniFEE7
uniFEEB
uniFBE8
uniFEF3
uni066E.init
uni066F.init
uni0678.init
uniFB68
uniFB60
uniFB54
uni067C.init
uni067D.init
uniFB58
uniFB64
uniFB5C
uni0681.init
uni0682.inti
uniFB78
uniFB74
uni0685.init
uniFB7C
uniFB80
uni069A.init
uni069B.init
uni069C.init
uni069D.init
uni069E.init
uni069F.init
uni06A0.init
uni066F.init
uni06A2.init
uni06A3.init
uniFB6C
uni06A5.init
uniFB70
uniFED3
uniFB6C
uniFB90
uni06AA.init
uni06AB.init
uni06AC.init
uniFBD5
uni063C.init
uniFB94
uni06B0.init
uniFB9C
uni06B2.init
uniFB98
uni06B4.init
uni06B5.init
uni06B6.init
uni06B7.init
uni06B8.init
uni06B9.init
uniFBE8
uniFB68
uni06BC.init
uniFB58
uniFBAC
uniFBA8
uni06BF.init
uni06C2.init
uniFBFE
uni06CE.init
uniFBE6
uniFB58
uni06FA.init
uni06FB.init
uni06FC.init
uni06FF.init
uni0750.init
uni0751.init
uni0752.init
uni0753.init
uni0754.init
uni0755.init
uni0756.init
uni0757.init
uni0758.init
uniFB7C
uni075C.init
uni075D.init
uni075E.init
uni075F.init
uni0760.init
uni0761.init
uni0762.init
uni0763.init
uni0764.init
uni0765.init
uni0766.init
uni0767.init
uni0768.init
uni0769.init
uni076A.init
uni076D.init
uni076E.init
uni076F.init
uni0770.init
uni0772.init
uni0775.init
uni0776.init
uni0777.init
uni077A.init
uni077B.init
uni077C.init
uni077D.init
uni077E.init
uni077F.init
uni08A0.init
uni08A2.init
uni08A3.init
uni08A4.init
uni08A5.init
uni08A6.init
uni08A8.init
uni08A7.init
uni08A9.init";
name = init;
},
{
code = "uniFB51
uniFE82
uniFE84
uniFE88
uniFE8E
uni0672.fina
uni0673.fina
uni0675.fina
uni0773.fina
uni0774.fina
uni0644.medi
uni06B5.medi
uni06B6.medi
uni06B7.medi
uni06B8.medi
uni076A.medi
uni08A6.medi";
name = rlig3;
},
{
code = "_971 _972 uni0660.ccmp uni0661.ccmp uni0662.ccmp uni0663.ccmp uni0664.ccmp uni0665.ccmp uni0666.ccmp uni0667.ccmp uni0668.ccmp uni0669.ccmp uni06F4.ccmp uni06F5.ccmp uni06F6.ccmp uni0030.ccmp uni0031.ccmp uni0032.ccmp uni0033.ccmp uni0034.ccmp uni0035.ccmp uni0036.ccmp uni0037.ccmp uni0038.ccmp uni0039.ccmp";
name = ccmp5;
},
{
code = "uniFB51
uniFE82
uniFE84
uniFE88
uniFE8E
uni0672.fina
uni0673.fina
uni0675.fina
uni0773.fina
uni0774.fina
uni0644.init
uni06B5.init
uni06B6.init
uni06B7.init
uni06B8.init
uni076A.init
uni08A6.init";
name = rlig;
},
{
code = "uni0671.rlig
uniFE82.rlig
uniFE84.rlig
uniFE88.rlig
uniFE8E.rlig
uni0672.fina.rlig
uni0673.fina.rlig
uni0675.fina.rlig
uni0773.fina.rlig
uni0774.fina.rlig
uni0644.rlig
uni06B5.rlig
uni06B6.rlig
uni06B7.rlig
uni06B8.rlig
uni076A.rlig
uni08A6.rlig";
name = rlig2;
},
{
code = "uni0660.ccmp uni0661.ccmp uni0662.ccmp uni0663.ccmp uni0664.ccmp uni0665.ccmp uni0666.ccmp uni0667.ccmp uni0668.ccmp uni0669.ccmp uni0660.ccmp uni0661.ccmp uni0662.ccmp uni0663.ccmp uni06F4.ccmp uni06F5.ccmp uni06F6.ccmp uni0667.ccmp uni0668.ccmp uni0669.ccmp _971 _972 uni0030.ccmp uni0031.ccmp uni0032.ccmp uni0033.ccmp uni0034.ccmp uni0035.ccmp uni0036.ccmp uni0037.ccmp uni0038.ccmp uni0039.ccmp";
name = ccmp3;
},
{
code = "_1028
_1025
_1029
_1031
_1008
_1026
_1027
_1030
_1033
_1040
uniFEE0.rlig
uniFEE0_uni065A.rlig
uni06B6.medi.rlig
uni06B7.medi.rlig
uni06B8.medi.rlig
_1024
_1023";
name = rlig4;
}
);
copyright = "Copyright 2022 The Noto Project Authors (https://github.com/notofonts/arabic)";
customParameters = (
{
name = fsType;
value = (
);
},
{
name = "Enforce Compatibility Check";
value = 1;
},
{
name = "Use Typo Metrics";
value = 1;
},
{
name = "Disable Last Change";
value = 1;
},
{
name = "Use Line Breaks";
value = 1;
},
{
name = vendorID;
value = GOOG;
},
{
name = trademark;
value = "Noto is a trademark of Google LLC.";
},
{
name = license;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL";
},
{
name = licenseURL;
value = "https://scripts.sil.org/OFL";
},
{
name = description;
value = "Designed by Monotype Design Team, David Williams, Mohamad Dakak and Nizar Qandah";
},
{
name = versionString;
value = "Version 2.016";
},
{
name = Axes;
value = (
{
Name = Weight;
Tag = wght;
}
);
}
);
date = "2016-07-29 13:30:51 +0000";
designer = "Monotype Design Team, David Williams, Mohamad Dakak and Nizar Qandah";
designerURL = "http://www.monotype.com/studio";
disablesNiceNames = 1;
familyName = "Noto Naskh Arabic UI";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem arab dflt;
languagesystem arab SND;
languagesystem arab URD;
languagesystem arab KSH;
languagesystem arab FAR;

languagesystem latn dflt;
";
name = Languagesystems;
},
{
code = "###
# OpenType Layout feature definitions
# Format: Adobe FDK for OpenType (AFDKO) version 2.5
# Generated on: 2019-12-6 10:8
# Generated by: Fontlab
# Tool options: fea-inline-lookups: yes, fea-inline-classes: 0, fea-additional-tables: yes, fea-table-overrides: no
# Font PostScript name: NotoNaskhArabic
# Font copyright: Copyright 2014 Google Inc. All Rights Reserved.
#
# Totals:
# Languagesystems: 6
# GSUB lookups: 23
# GSUB features: 8 (ccmp, fina, init, liga, locl, medi, rlig, tnum)
# GPOS lookups: 8
# GPOS features: 2 (mark, mkmk)

#
# Languagesystem definitions
#

# Latin default
# Arabic default
# Arabic Farsi
# Arabic Kashmiri
# Arabic Sindhi
# Arabic Urdu

#
# Lookup definitions
#

lookup rlig_arab_3 {
# GSUB lookup 9, type 11 (Single)
  sub @rlig by @rlig2;
} rlig_arab_3;

lookup rlig_arab_4 {
# GSUB lookup 10, type 11 (Single)
  sub @rlig3 by @rlig4;
} rlig_arab_4;

lookup ccmp_arab_5 {
# GSUB lookup 17, type 11 (Single)
  sub @ccmp by [uni0601.13 uni06DD.17 uni0600.ccmp uni0602.ccmp uni0603.ccmp uni0604.ccmp];
} ccmp_arab_5;

lookup ccmp_arab_6 {
# GSUB lookup 18, type 11 (Single)
  sub @ccmp2 by @ccmp3;
} ccmp_arab_6;

lookup ccmp_arab_8 {
# GSUB lookup 19, type 12 (Multiple)
  sub uni0660.ccmp by _1485 uni0660.ccmp;
  sub uni0661.ccmp by _1485 uni0661.ccmp;
  sub uni0662.ccmp by _1485 uni0662.ccmp;
  sub uni0663.ccmp by _1485 uni0663.ccmp;
  sub uni0664.ccmp by _1485 uni0664.ccmp;
  sub uni0665.ccmp by _1485 uni0665.ccmp;
  sub uni0666.ccmp by _1485 uni0666.ccmp;
  sub uni0667.ccmp by _1485 uni0667.ccmp;
  sub uni0668.ccmp by _1485 uni0668.ccmp;
  sub uni0669.ccmp by _1485 uni0669.ccmp;
  sub uni06F4.ccmp by _1485 uni06F4.ccmp;
  sub uni06F5.ccmp by _1485 uni06F5.ccmp;
  sub uni06F6.ccmp by _1485 uni06F6.ccmp;
  sub _971 by _1485 _971;
  sub _972 by _1485 _972;
  sub uni0030.ccmp by _1485 uni0030.ccmp;
  sub uni0031.ccmp by _1485 uni0031.ccmp;
  sub uni0032.ccmp by _1485 uni0032.ccmp;
  sub uni0033.ccmp by _1485 uni0033.ccmp;
  sub uni0034.ccmp by _1485 uni0034.ccmp;
  sub uni0035.ccmp by _1485 uni0035.ccmp;
  sub uni0036.ccmp by _1485 uni0036.ccmp;
  sub uni0037.ccmp by _1485 uni0037.ccmp;
  sub uni0038.ccmp by _1485 uni0038.ccmp;
  sub uni0039.ccmp by _1485 uni0039.ccmp;
} ccmp_arab_8;
#
# Feature definitions
#";
name = Prefix;
}
);
features = (
{
automatic = 1;
code = "feature fina;
feature init;
feature medi;
feature locl;
feature tnum;
";
name = aalt;
},
{
code = "# GSUB feature: Glyph Composition / Decomposition
# Lookups: 6

  lookup ccmp_arab_9 {
  # GSUB lookup 21, type 14 (Ligature)
    lookupflag IgnoreMarks;
    sub uni0600.ccmp _1485 _1485 by _1485__1485;
    sub uni0600.ccmp _1485 by _982;
    sub uni0601.13 _1485 _1485 _1485 by uni0601.16;
    sub uni0601.13 _1485 _1485 by uni0601.15;
    sub uni0601.13 _1485 by uni0601.14;
    sub uni0602.ccmp _1485 _1485 by _991;
    sub uni0602.ccmp _1485 by _990;
    sub uni0603.ccmp _1485 _1485 by _995;
    sub uni0603.ccmp _1485 by _994;
    sub uni0604.ccmp _1485 _1485 _1485 by _1485__1485__1485;
    sub uni0604.ccmp _1485 _1485 by _999;
    sub uni0604.ccmp _1485 by _998;
    sub uni06DD.17 _1485 _1485 by uni06DD.19;
    sub uni06DD.17 _1485 by uni06DD.18;
  } ccmp_arab_9;

  script arab; # Arabic
  sub uni0623 by uni0627 uni0654;
  sub uni0625 by uni0627 uni0655;
  sub uni064B uni0651 by uni064B_uni0651;
  sub uni064B uni0654 by uni064B_uni0654;
  sub uni064C uni0651 by uni064C_uni0651;
  sub uni064C uni0654 by uni064C_uni0654;
  sub uni064D uni0651 by uni064D_uni0651;
  sub uni064D uni0655 by uni064D_uni0655;
  sub uni064E uni0651 by uni064E_uni0651;
  sub uni064E uni0654 by uni064E_uni0654;
  sub uni064F uni0651 by uni064F_uni0651;
  sub uni064F uni0654 by uni064F_uni0654;
  sub uni0650 uni0651 by uni0650_uni0651;
  sub uni0650 uni0655 by uni0650_uni0655;
  sub uni0651 uni064B by uni064B_uni0651;
  sub uni0651 uni064C by uni064C_uni0651;
  sub uni0651 uni064D by uni064D_uni0651;
  sub uni0651 uni064E by uni064E_uni0651;
  sub uni0651 uni064F by uni064F_uni0651;
  sub uni0651 uni0650 by uni0650_uni0651;
  sub uni0651 uni0670 by uni0651_uni0670;
  sub uni0654 uni064B by uni064B_uni0654;
  sub uni0654 uni064C by uni064C_uni0654;
  sub uni0654 uni064E by uni064E_uni0654;
  sub uni0654 uni064F by uni064F_uni0654;
  sub uni0654 uni0652 by uni0654_uni0652;
  sub uni0655 uni064D by uni064D_uni0655;
  sub uni0655 uni0650 by uni0650_uni0655;
  sub uni0670 uni0651 by uni0651_uni0670;
  sub uni0652 uni0654 by uni0654_uni0652;
  sub uni0627 uni0654 by uni0623;
  sub uni0627 uni0655 by uni0625;
  sub @ccmp' lookup ccmp_arab_5 @ccmp2' lookup ccmp_arab_6 @ccmp2' lookup ccmp_arab_6 @ccmp2' lookup ccmp_arab_6 @ccmp2' lookup ccmp_arab_6;
  sub @ccmp' lookup ccmp_arab_5 @ccmp2' lookup ccmp_arab_6 @ccmp2' lookup ccmp_arab_6 @ccmp2' lookup ccmp_arab_6;
  sub @ccmp' lookup ccmp_arab_5 @ccmp2' lookup ccmp_arab_6 @ccmp2' lookup ccmp_arab_6;
  sub @ccmp' lookup ccmp_arab_5 @ccmp2' lookup ccmp_arab_6;
  sub [uni0600.ccmp uni0601.13 uni0602.ccmp uni0603.ccmp uni0604.ccmp uni06DD.17] @ccmp5 @ccmp4' lookup ccmp_arab_8;
  sub _1485 @ccmp5 @ccmp4' lookup ccmp_arab_8;
  lookup ccmp_arab_9;
    language SND ; # Sindhi
    language URD ; # Urdu
    language KSH ; # Kashmiri
    language FAR ; # Farsi";
name = ccmp;
},
{
code = "# GSUB feature: Terminal Forms
# Lookups: 1

  script arab; # Arabic
  sub @fina by @fina2;
    language SND ; # Sindhi
    language URD ; # Urdu
    language KSH ; # Kashmiri
    language FAR ; # Farsi";
name = fina;
},
{
code = "# GSUB feature: Initial Forms
# Lookups: 1

  script arab; # Arabic
  sub @init_medi by @init;
    language SND ; # Sindhi
    language URD ; # Urdu
    language KSH ; # Kashmiri
    language FAR ; # Farsi";
name = init;
},
{
code = "# GSUB feature: Medial Forms
# Lookups: 1

  script arab; # Arabic
  sub @init_medi by @medi;
    language SND ; # Sindhi
    language URD ; # Urdu
    language KSH ; # Kashmiri
    language FAR ; # Farsi";
name = medi;
},
{
code = "# GSUB feature: Required Ligatures
# Lookups: 2

  lookup rlig_arab_2 {
  # GSUB lookup 8, type 15 (Context)
    lookupflag IgnoreMarks;
    sub [uni0644.init uni06B5.init uni06B6.init uni06B7.init uni06B8.init uni076A.init uni08A6.init]' lookup rlig_arab_3 [uniFB51 uniFE82 uniFE84 uniFE88 uniFE8E uni0672.fina uni0673.fina uni0675.fina uni0773.fina uni0774.fina]' lookup rlig_arab_3;
    sub [uni0644.medi uni06B5.medi uni06B6.medi uni06B7.medi uni06B8.medi uni076A.medi uni08A6.medi]' lookup rlig_arab_4 [uniFB51 uniFE82 uniFE84 uniFE88 uniFE8E uni0672.fina uni0673.fina uni0675.fina uni0773.fina uni0774.fina]' lookup rlig_arab_4;
  } rlig_arab_2;

  lookup rlig_arab_1 {
  # GSUB lookup 7, type 14 (Ligature)
    lookupflag IgnoreMarks;
    sub uni0644.init uniFB51 by uniFEDF_uniFB51;
    sub uni0644.init uniFE82 by uniFEF5;
    sub uni0644.init uniFE84 by uniFEF7;
    sub uni0644.init uniFE88 by uniFEF9;
    sub uni0644.init uniFE8E by uniFEFB;
    sub uni0644.init uni0672.fina by _670;
    sub uni0644.init uni0673.fina by uniFEFB_uni065F;
    sub uni0644.init uni0675.fina by uniFEFB_uni0654;
    sub uni0644.medi uniFB51 by uniFEE0_uniFB51;
    sub uni0644.medi uniFE82 by uniFEF6;
    sub uni0644.medi uniFE84 by uniFEF8;
    sub uni0644.medi uniFE88 by uniFEFA;
    sub uni0644.medi uniFE8E by uniFEFC;
    sub uni0644.medi uni0672.fina by _671;
    sub uni0644.medi uni0673.fina by uniFEFC_uni065F;
    sub uni0644.medi uni0675.fina by uniFEFC_uni0675;
    sub uni06B5.init uniFE8E by uniFEFB_uni065A;
    sub uni06B5.medi uniFE8E by uniFEFC_uni065A;
    sub uni06B6.init uniFE8E by uni06B6_uni0627;
    sub uni06B6.medi uniFE8E by uniFEFC_uniFBB2;
    sub uni06B7.init uniFE8E by uniFEFB_uniFBB6;
    sub uni06B7.medi uniFE8E by uniFEFC_uniFBB6;
    sub uni06B8.init uniFE8E by uniFEFB_uniFBB7;
    sub uni06B8.medi uniFE8E by uniFEFC_uniFBB7;
    sub uni076A.init uniFE8E by _778;
    sub uni076A.medi uniFE8E by _779;
    sub uniFEE0 uni0773.fina by uniFEFC_uni0773;
    sub uniFEE0 uni0774.fina by uniFEFC_uni0774;
    sub uni06B5.medi uni0675.fina by uni06B5_uni0675;
    sub uni06B5.medi uni0773.fina by uni06B5_uni0773;
    sub uni06B5.medi uni0774.fina by uni06B5_uni0774;
    sub uni06B8.medi uni0675.fina by uni06B8_uni0675;
    sub uni06B8.medi uni0773.fina by uni06B8_uni0773;
    sub uni06B8.medi uni0774.fina by uni06B8_uni0774;
    sub uni06B6.medi uni0675.fina by uni06B6_uni0675;
    sub uni06B6.medi uni0773.fina by uni06B6_uni0773;
    sub uni06B6.medi uni0774.fina by uni06B6_uni0774;
    sub uni06B7.medi uni0675.fina by uni06B7_uni0675;
    sub uni06B7.medi uni0773.fina by uni06B7_uni0773;
    sub uni06B7.medi uni0774.fina by uni06B7_uni0774;
  } rlig_arab_1;

  script arab; # Arabic
  lookup rlig_arab_1;
  lookup rlig_arab_2;
    language SND ; # Sindhi
    language URD ; # Urdu
    language KSH ; # Kashmiri
    language FAR ; # Fa";
name = rlig;
},
{
code = "# GSUB feature: Standard Ligatures
# Lookups: 2

  lookup liga_arab_2 {
  # GSUB lookup 23, type 14 (Ligature)
    lookupflag IgnoreMarks;
    sub uniFEDF uniFEE0 uniFEEA by uniFEDF_uniFEE0_uniFEEA;
    sub uniFEDF uniFEE0 uniFBA7 by uniFEDF_uniFEE0_uniFEEA;
  } liga_arab_2;

  script arab; # Arabic
  sub uni0627 uniFEDF uniFEE0 uni0651_uni0670 uniFEEA by uniFDF2;
  sub uni0627 uniFEDF uniFEE0 uni0651_uni0670 uniFBA7 by uniFDF2;
  lookup liga_arab_2;
    language SND ; # Sindhi
    language URD ; # Urdu
    language KSH ; # Kashmiri
    language FAR ; # Farsi";
name = liga;
},
{
code = "# GSUB feature: Localized Forms
# Lookups: 4

  script latn; # Latin
  sub [uni0021 uni002E] by [uni0021.locl uni002E.locl];

  script arab; # Arabic
    language SND ; # Sindhi
    sub [uni06F6 uni06F7] by [uni0666 uni06F7.locl];

    language URD ; # Urdu
	lookup locl_arabURD_arabKSH_1 {
  		sub [uni06F4 uni06F6 uni06F7] by [uni06F4.locl uni0666 uni06F7.locl];
	} locl_arabURD_arabKSH_1;

    language KSH ; # Kashmiri
    lookup locl_arabURD_arabKSH_1;

    language FAR ; # Farsi
    sub [uni066B uni066C uni00AB uni00BB] by [uni066B.locl uni066B.1 uni00AB.locl uni00BB.locl];
";
name = locl;
},
{
code = "# GSUB feature: Tabular Figures
# Lookups: 1

  script arab; # Arabic
  sub @tnum by @tnum2;
    language SND ; # Sindhi
    language URD ; # Urdu
    language KSH ; # Kashmiri
    language FAR ; # Farsi";
name = tnum;
},
{
code = "lookup dlig_RTL {
lookupflag IgnoreMarks RightToLeft;
	sub uniFEDF uniFEE0 uniFEEA by uniFEDF_uniFEE0_uniFEEA;
} dlig_RTL;
";
name = dlig;
}
);
fontMaster = (
{
alignmentZones = (
"{1069, 15}",
"{0, -20}",
"{0, -20}",
"{0, -20}",
"{-293, -15}"
);
ascender = 1069;
capHeight = 0;
customParameters = (
{
name = typoAscender;
value = 1069;
},
{
name = typoDescender;
value = -293;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1069;
},
{
name = hheaDescender;
value = -293;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 1069;
},
{
name = winDescent;
value = 293;
},
{
name = underlineThickness;
value = 50;
},
{
name = underlinePosition;
value = -75;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
}
);
},
{
name = strikeoutPosition;
value = 250;
},
{
name = strikeoutSize;
value = 50;
}
);
descender = -293;
id = master01;
weightValue = 400;
xHeight = 0;
},
{
alignmentZones = (
"{1069, 15}",
"{0, -20}",
"{0, -20}",
"{0, -20}",
"{-293, -15}"
);
ascender = 1069;
capHeight = 0;
customParameters = (
{
name = typoAscender;
value = 1069;
},
{
name = typoDescender;
value = -293;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 1069;
},
{
name = hheaDescender;
value = -293;
},
{
name = hheaLineGap;
value = 0;
},
{
name = winAscent;
value = 1069;
},
{
name = winDescent;
value = 293;
},
{
name = underlineThickness;
value = 50;
},
{
name = underlinePosition;
value = -75;
},
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 700;
}
);
},
{
name = strikeoutPosition;
value = 250;
},
{
name = strikeoutSize;
value = 50;
}
);
descender = -293;
id = "26E2967D-790C-4793-AF2A-2D0AD74EDC69";
weight = Bold;
weightValue = 700;
xHeight = 0;
}
);
instances = (
{
customParameters = (
{
name = panose;
value = (
2,
11,
5,
2,
4,
5,
4,
2,
2,
4
);
}
);
interpolationWeight = 400;
instanceInterpolations = {
master01 = 1;
};
name = Regular;
},
{
customParameters = (
{
name = panose;
value = (
2,
11,
6,
2,
4,
5,
4,
2,
2,
4
);
}
);
interpolationWeight = 500;
instanceInterpolations = {
"26E2967D-790C-4793-AF2A-2D0AD74EDC69" = 0.33333;
master01 = 0.66667;
};
name = Medium;
weightClass = Medium;
},
{
customParameters = (
{
name = panose;
value = (
2,
11,
7,
2,
4,
5,
4,
2,
2,
4
);
}
);
interpolationWeight = 600;
instanceInterpolations = {
"26E2967D-790C-4793-AF2A-2D0AD74EDC69" = 0.66667;
master01 = 0.33333;
};
name = "Semi Bold";
weightClass = SemiBold;
},
{
customParameters = (
{
name = panose;
value = (
2,
11,
5,
2,
4,
5,
4,
2,
2,
4
);
}
);
interpolationWeight = 700;
instanceInterpolations = {
"26E2967D-790C-4793-AF2A-2D0AD74EDC69" = 1;
};
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = Bold;
}
);
manufacturer = "Monotype Imaging Inc.";
manufacturerURL = "http://www.google.com/get/noto/";
unitsPerEm = 1000;
userData = {
UFOFormat = 2;
};
versionMajor = 2;
versionMinor = 16;
}
