(
.notdef,
.null,
CR,
space,
"hamza-ar",
"highhamza-ar",
"alef-ar",
"alef-ar.fina",
"alef-ar.short",
"alef-ar.short.fina",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.medi.wide",
"behDotless-ar.init",
"behDotless-ar.init.wide",
"hah-ar",
"hah-ar.alt",
"hah-ar.fina",
"hah-ar.fina.alt",
"hah-ar.medi",
"hah-ar.init",
"dal-ar",
"dal-ar.fina",
"reh-ar",
"reh-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qafDotless-ar",
"qafDotless-ar.medi",
"qafDotless-ar.init",
"qafDotless-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.fina",
"kafswash-ar",
"kafswash-ar.fina",
"kafswash-ar.medi",
"kafswash-ar.init",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.init",
"meem-ar",
"meem-ar.fina",
"meem-ar.medi",
"meem-ar.init",
"noonghunna-ar",
"noonghunna-ar.medi",
"noonghunna-ar.init",
"noonghunna-ar.fina",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.medi",
"hehgoal-ar.init",
"ae-ar",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"hehDoachashmee-ar.medi",
"waw-ar",
"waw-ar.fina",
"kirghizoe-ar",
"kirghizoe-ar.fina",
"wawStraight-ar",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"yehbarree-ar",
"yehbarree-ar.fina",
"kashida-ar",
"wawSmall-ar",
"yehSmall-ar",
"decimalseparator-ar",
"thousandseparator-ar",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"zeroFarsi-ar",
"twoFarsi-ar",
"fourFarsi-ar",
"fiveFarsi-ar",
"sixFarsi-ar",
"sevenFarsi-ar",
"fourFarsi-ar.locl",
"sevenFarsi-ar.locl",
zerowidthnonjoiner,
zerowidthjoiner,
lefttorightmark,
righttoleftmark,
zerowidthspace,
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"threedots-ar",
"threedots-ar.center",
"dateseparator-ar",
"question-ar",
"parenleft-ar",
"parenright-ar",
"asterisk-ar",
"hizb-ar",
"sajdah-ar",
"endofayah-ar",
"year-ar",
"samvat-ar",
"pagenumber-ar",
"number-ar",
"footnotemarker-ar",
"verseComma-ar",
"numbermark-ar",
"mark-ar",
"percent-ar",
"perthousand-ar",
"pertenthousand-ar",
"cuberoot-ar",
"fourthroot-ar",
dottedCircle,
"allah-ar",
rial,
"ray-ar",
"afghani-ar",
"misraComma-ar",
"sindhipostpositionmen-ar",
"sindhiampersand-ar",
"dotabove-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalabove-ar.diagonal",
"twodotsverticalabove-ar",
"threedotsupabove-ar",
"threedotsupabove-ar.diagonal",
"threedotsdownabove-ar",
"fourdotsabove-ar",
"hamzaabove-ar",
"hamzaabove-ar_sukun-ar",
"hamzaabove-ar.between",
"wavyhamzaabove-ar",
"wasla-ar",
"madda-ar",
"vabove-ar",
"vabove-ar.near",
"vinvertedabove-ar",
"gafsarkashabove-ar",
"twoabove-ar",
"threeabove-ar",
"fourabove-ar",
"dotbelow-ar",
"twodotshorizontalbelow-ar",
"twodotshorizontalbelow_tahabove-ar",
"twodotsverticalbelow-ar",
"threedotshorizontalbelow-ar",
"threedotsupbelow-ar",
"threedotsdownbelow-ar",
"fourdotsbelow-ar",
"hamzabelow-ar",
"wavyhamzabelow-ar",
"vbelow-ar",
"vinvertedbelow-ar",
"ring-ar",
"fourbelow-ar",
"tahbelow-ar",
"fourcenter-ar",
"tahcenter-ar",
"bar-ar",
"doubleBar-ar",
"shadda-ar",
"fatha-ar",
"fatha-ar_hamzaabove-ar",
"fatha-ar_shadda-ar",
"damma-ar",
"damma-ar_hamzaabove-ar",
"damma-ar_shadda-ar",
"dammainverted-ar",
"dammareversed-ar",
"fathatan-ar",
"fathatan_hamzaabove-ar",
"fathatan_shadda-ar",
"dammatan-ar",
"dammatan-ar_hamzaabove-ar",
"dammatan-ar_shadda-ar",
"sukun-ar",
"fathasmall-ar",
"dammasmall-ar",
"fathaHorizont-ar",
"fathatwodots-ar",
"noonghunnaabove-ar",
"sukunoval-ar",
"sukunround-ar",
"hahabove-ar",
"rhombusStopabove-ar",
"dotStopabove-ar",
"maddalong-ar",
"alefabove-ar",
"meemStopabove-ar",
"yehabove-ar",
"rehHahabove-ar",
"rehDadabove-ar",
"sadabove-ar",
"ainabove-ar",
"takhallusabove-ar",
"kasra-ar",
"kasra_hamzabelow-ar",
"kasra-ar_shadda-ar",
"kasratan-ar",
"kasratan_hamzabelow-ar",
"kasratan-ar_shadda-ar",
"kasrasmall-ar",
"rhombusStopbelow-ar",
"dotvowelbelow-ar",
"alefbelow-ar",
"meembelow-ar",
"seenbelow-ar",
"threedotsabove-ar",
"jeemabove-ar",
"zainabove-ar",
"seenabove-ar",
"tahabove-ar",
"meemabove-ar",
"noonabove-ar",
"lamAlefabove-ar",
"sadLamAlefMaksuraabove-ar",
"qafLamAlefMaksuraabove-ar",
"alefLamYehabove-ar",
"shadda_alefabove-ar",
"fathatan-ar.isol",
"dammatan-ar.isol",
"kasratan-ar.isol",
"fatha-ar.isol",
"damma-ar.isol",
"kasra-ar.isol",
"shadda-ar.isol",
"sukun-ar.isol",
"alefMadda-ar",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefWasla-ar",
"alefWavyhamzaabove-ar",
"alefWavyhamzabelow-ar",
"alefTwoabove-ar",
"alefThreeabove-ar",
"beh-ar",
"teh-ar",
"theh-ar",
"tteh-ar",
"tteheh-ar",
"beeh-ar",
"tehRing-ar",
"tehThreedotsdown-ar",
"peh-ar",
"teheh-ar",
"beheh-ar",
"behThreedotshorizontalbelow-ar",
"behThreedotsupabove-ar",
"behThreedotsupbelow-ar",
"tehThreedotsupbelow-ar",
"behTwodotsbelowDotabove-ar",
"behVinvertedbelow-ar",
"behVabove-ar",
"behVbelow-ar",
"behhamzaabove-ar",
"pehVabove-ar",
"tehVabove-ar",
"ttehVabove-ar",
"jeem-ar",
"khah-ar",
"hahHamzaabove-ar",
"hahTwodotsverticalabove-ar",
"nyeh-ar",
"dyeh-ar",
"hahThreedotsabove-ar",
"tcheh-ar",
"tcheheh-ar",
"tchehDotabove-ar",
"hahTwodotshorizontalabove-ar",
"hahThreedotsupbelow-ar",
"hahTahbelow-ar",
"hahTahTwodotshorizontalbelow-ar",
"hahTahabove-ar",
"hahFourbelow-ar",
"jeemTwodotsabove-ar",
"tchehVabove-ar",
"jeemThreedotsabove-ar",
"thal-ar",
"ddal-ar",
"dalRing-ar",
"dalDotbelow-ar",
"dalDotbelowTah-ar",
"dahal-ar",
"ddahal-ar",
"dul-ar",
"dalThreedotsdown-ar",
"dalFourdots-ar",
"dalVinvertedabove-ar",
"dalTwodotsverticalbelowTah-ar",
"dalVinvertedbelow-ar",
"dalThreedotsbelow-ar",
"zain-ar",
"rreh-ar",
"rehv-ar",
"rehRing-ar",
"rehDotbelow-ar",
"rehVbelow-ar",
"rehDotbelowdotabove-ar",
"rehTwodots-ar",
"jeh-ar",
"rehFourdots-ar",
"rehVinvertedabove-ar",
"rehStroke-ar",
"rehTwodotsverticalabove-ar",
"rehHamzaabove-ar",
"rehTwodotshorizontalaboveTahabove-ar",
"zainVinvertedabove-ar",
"sheen-ar",
"seenDotbelowDotabove-ar",
"seenThreedotsbelow-ar",
"sheenThreedotsbelow-ar",
"sheenDotbelow-ar",
"seenFourdotsabove-ar",
"seenTwodotsverticalabove-ar",
"seenTahTwodotshorizontalabove-ar",
"seenFourabove-ar",
"seenVinvertedabove-ar",
"dad-ar",
"sadTwodotsbelow-ar",
"sadThreedots-ar",
"dadDotbelow-ar",
"sadThreedotsbelow-ar",
"zah-ar",
"tahThreedots-ar",
"tahTwodotsabove-ar",
"tahDotbelow-ar",
"tahThreedotsbelow-ar",
"ghain-ar",
"ainThreedots-ar",
"ghainDotbelow-ar",
"ainTwodotshorizontalabove-ar",
"ainThreedotsdownabove-ar",
"ainTwodotsverticalabove-ar",
"ghainThreedotsabove-ar",
"feh-ar",
"fehDotmovedbelow-ar",
"fehDotbelow-ar",
"veh-ar",
"fehThreedotsbelow-ar",
"peheh-ar",
"fehTwodotsbelow-ar",
"fehThreedotsupbelow-ar",
"fehDotbelowThreedotsabove-ar",
"fehAfrican-ar",
"qaf-ar",
"qafDotabove-ar",
"qafThreedotsabove-ar",
"qafDotbelow-ar",
"qafAfrican-ar",
"qafThreedotsaboveAfrican-ar",
"qafDotbelowNoDotAbove-ar",
"kaf-ar",
"kafDotabove-ar",
"ng-ar",
"kafThreedotsbelow-ar",
"kafTwodotshorizontalabove-ar",
"kafDotbelow-ar",
"kehehTwodotshorizontalabove-ar",
"kehehThreedotsbelow-ar",
"kafRing-ar",
"gaf-ar",
"gafRing-ar",
"ngoeh-ar",
"gafTwodotsbelow-ar",
"gueh-ar",
"gafThreedots-ar",
"kehehDotabove-ar",
"kehehThreedotsabove-ar",
"kehehThreedotsupbelow-ar",
"kehehVabove-ar",
"kehehTwodotsverticalbelow-ar",
"lamVabove-ar",
"lamDotabove-ar",
"lamThreedotsabove-ar",
"lamThreedotsbelow-ar",
"lamBar-ar",
"lamDoublebar-ar",
"lamTahabove-ar",
"meemThreedotsabove-ar",
"meemDotabove-ar",
"meemDotbelow-ar",
"noon-ar",
"noonDotbelow-ar",
"rnoon-ar",
"noonRing-ar",
"noonThreedotsabove-ar",
"noonTwodotsbelow-ar",
"noonTahabove-ar",
"noonVabove-ar",
"noonAfrican-ar",
"noonVinvertedabove-ar",
"tehMarbuta-ar",
"hehHamzaabove-ar",
"hehgoalHamzaabove-ar",
"tehMarbutagoal-ar",
"hehVinvertedabove-ar",
"wawHamzaabove-ar",
"wawring-ar",
"oe-ar",
"u-ar",
"yu-ar",
"kirghizyu-ar",
"wawTwodots-ar",
"ve-ar",
"wawDotabove-ar",
"wawTwoabove-ar",
"wawThreeabove-ar",
"yehKashmiri-ar",
"yehHamzaabove-ar",
"yehVinvertedFarsi-ar",
"yehTwodotsaboveFarsi-ar",
"yehThreedotsaboveFarsi-ar",
"yeh-ar",
"yehFarsi-ar",
"yehTail-ar",
"yehVabove-ar",
"e-ar",
"yehThreedotsbelow-ar",
"yehTwoaboveFarsi-ar",
"yehThreeaboveFarsi-ar",
"yehFourbelowFarsi-ar",
"yehTwodotsbelowHamzaabove-ar",
"yehTwodotsbelowDotabove-ar",
"yehbarreeHamzaabove-ar",
"yehbarreeTwoabove-ar",
"yehbarreeThreeabove-ar",
"highhamzaAlef-ar",
"highhamzaAlef-ar.fina",
"highhamzaWaw-ar",
"highhamzaWaw-ar.fina",
"uHamzaabove-ar",
"uHamzaabove-ar.fina",
"highhamzaYeh-ar",
"highhamzaYeh-ar.fina",
"highhamzaYeh-ar.medi",
"highhamzaYeh-ar.init",
"yehTwoaboveFarsi-ar.init",
"yehThreeaboveFarsi-ar.init",
"noonRing-ar.init",
"yehFourbelowFarsi-ar.init",
"hahFourbelow-ar.init",
"seenFourabove-ar.init",
"kafTwodotshorizontalabove-ar.init",
"noonRing-ar.medi",
"yehTwoaboveFarsi-ar.medi",
"yehThreeaboveFarsi-ar.medi",
"yehFourbelowFarsi-ar.medi",
"hahFourbelow-ar.medi",
"seenFourabove-ar.medi",
"kafTwodotshorizontalabove-ar.medi",
"alefTwoabove-ar.fina",
"alefThreeabove-ar.fina",
"hahFourbelow-ar.fina",
"dalRing-ar.fina",
"rehRing-ar.fina",
"rehDotbelow-ar.fina",
"rehDotbelowdotabove-ar.fina",
"rehVinvertedabove-ar.fina",
"rehStroke-ar.fina",
"rehHamzaabove-ar.fina",
"seenFourabove-ar.fina",
"ghainDotbelow-ar.fina",
"kafTwodotshorizontalabove-ar.fina",
"noonRing-ar.fina",
"tehMarbutagoal-ar.fina",
"wawring-ar.fina",
"wawTwoabove-ar.fina",
"wawThreeabove-ar.fina",
"yehTail-ar.fina",
"yehTwoaboveFarsi-ar.fina",
"yehThreeaboveFarsi-ar.fina",
"yehFourbelowFarsi-ar.fina",
"yehbarreeTwoabove-ar.fina",
"yehbarreeThreeabove-ar.fina",
"ng-ar.finamorocco",
"ng-ar.morocco",
"hahThreedotsupbelow-ar.medi",
"lam_alefHamzaabove-ar",
"lam_alef-ar",
"lam_alef-ar.fina",
"beh-ar.init",
"yeh-ar.init",
"peh-ar.init",
"beheh-ar.init",
"e-ar.init",
"teh-ar.init",
"theh-ar.init",
"tteh-ar.init",
"tteheh-ar.init",
"teheh-ar.init",
"noon-ar.init",
"yehHamzaabove-ar.init",
"jeem-ar.init",
"khah-ar.init",
"nyeh-ar.init",
"dyeh-ar.init",
"tcheh-ar.init",
"tcheheh-ar.init",
"sheen-ar.init",
"dad-ar.init",
"zah-ar.init",
"ghain-ar.init",
"feh-ar.init",
"veh-ar.init",
"peheh-ar.init",
"qaf-ar.init",
"keheh-ar.init",
"ng-ar.init",
"gaf-ar.init",
"ngoeh-ar.init",
"gueh-ar.init",
"hehDoachashmee-ar.init",
"beh-ar.medi",
"teh-ar.medi",
"theh-ar.medi",
"tteh-ar.medi",
"tteheh-ar.medi",
"peh-ar.medi",
"teheh-ar.medi",
"beheh-ar.medi",
"noon-ar.medi",
"yehHamzaabove-ar.medi",
"yeh-ar.medi",
"e-ar.medi",
"jeem-ar.medi",
"khah-ar.medi",
"nyeh-ar.medi",
"dyeh-ar.medi",
"tcheh-ar.medi",
"tcheheh-ar.medi",
"sheen-ar.medi",
"dad-ar.medi",
"zah-ar.medi",
"ghain-ar.medi",
"feh-ar.medi",
"veh-ar.medi",
"peheh-ar.medi",
"qaf-ar.medi",
"keheh-ar.medi",
"ng-ar.medi",
"gaf-ar.medi",
"ngoeh-ar.medi",
"gueh-ar.medi",
"alefMadda-ar.fina",
"alefHamzaabove-ar.fina",
"alefHamzabelow-ar.fina",
"alefWasla-ar.fina",
"beh-ar.fina",
"teh-ar.fina",
"theh-ar.fina",
"tteh-ar.fina",
"tteheh-ar.fina",
"beeh-ar.fina",
"peh-ar.fina",
"teheh-ar.fina",
"beheh-ar.fina",
"jeem-ar.fina",
"khah-ar.fina",
"nyeh-ar.fina",
"dyeh-ar.fina",
"tcheh-ar.fina",
"tcheheh-ar.fina",
"thal-ar.fina",
"ddal-ar.fina",
"dahal-ar.fina",
"ddahal-ar.fina",
"zain-ar.fina",
"rreh-ar.fina",
"sheen-ar.fina",
"dad-ar.fina",
"zah-ar.fina",
"ghain-ar.fina",
"feh-ar.fina",
"veh-ar.fina",
"peheh-ar.fina",
"qaf-ar.fina",
"kaf-ar.fina",
"ng-ar.fina",
"gaf-ar.fina",
"ngoeh-ar.fina",
"gueh-ar.fina",
"noon-ar.fina",
"rnoon-ar.fina",
"tehMarbuta-ar.fina",
"hehHamzaabove-ar.fina",
"wawHamzaabove-ar.fina",
"oe-ar.fina",
"u-ar.fina",
"yu-ar.fina",
"kirghizyu-ar.fina",
"ve-ar.fina",
"yehHamzaabove-ar.fina",
"yeh-ar.fina",
"e-ar.fina",
"yehbarreeHamzaabove-ar.fina",
"beeh-ar.init",
"beeh-ar.medi",
"dul-ar.fina",
"alefMaksura-ar.init",
"alefMaksura-ar.medi",
"rehAlefabove-ar",
"alefFathatan-ar",
threedots.small.above,
threedots.small.below,
twodots.vert.small.below,
Ghunna_above,
_hehgoalcomma,
diagonal2,
hamza_medial,
smallv.arabic,
threedots_alt1.below,
threedots_alt2.below,
twodots_alt1.below,
threedots.horz_alt1.below,
threedots.rev_alt1.below,
threedots.rev_alt2.below,
twodots.small.above,
twodots.small.below,
twodots.vert_alt1.below,
twodots.vert.small.above
)